[2020-03-27 08:21] rutgervanwilligen commented on #737
Hi @rasmus, did you see my question above? I'd be happy to help!

[2020-03-30 12:08] radiosterne opened #747 "IEventUpgrader usage differs for aggregate loading and read model repopulation"
Let's take a sneak peak at the docs, namely at the page explaining the process of event upgrading: https://eventflow.readthedocs.io/EventUpgrade.html. The relevant excerpt reads as follows:

Whilst the first part of this statement is completely correct, and new instance is, in fact, created for an aggregate loading process in its entirety, the latter part — the one establishing one's ability to st

[2020-04-07 08:15] leotsarev commented on #459
@rasmus that is probably already have been fixed in #626 ?

[2020-04-15 15:46] craignicol commented on #744
@rasmus OK, submitted.

[2020-04-15 15:48] leotsarev commented on #439
@rasmus
Could you please provide us with roadmap on this one? We now are in prototype phase for our new Eventflow application, and we need to make decision. AFAIK, we have options:
A. Implement readmodel ourselves in separate services (non-Eventflow). Similar to this https://github.com/eventflow/EventFlow/issues/734#issuecomment-584505269
Good, but costly.
B. Use Evenflow readmodels, but with risk

[2020-04-15 17:07] rasmus commented on #439
Hi @leotsarev I understand your frustration, but there isn't any roadmap for this, mainly because there no-one has come up with a really good solution yet. There has been several suggestions, but they all had some flaw (please correct me if I remember wrong).

[2020-04-15 17:08] rasmus commented on #459
Doh, yes

[2020-04-15 17:08] #459 closed

[2020-04-15 17:15] rasmus commented on #747
Hi @radiosterne this is clearly bug, as stated it yourself, its unexpected behavior. At work we don't use that part of EventFlow as we typically have read models in separate micro services.

[2020-04-15 18:37] promontis commented on #439
@rasmus People have already solved this problem. There are two options:

1. implement the outbox pattern
2. update read models and event persistence in the same transaction

I've been using a streaming db that can update multiple streams in the same transaction. Think ACID streams. So, you actually don't have to do a lot to make option 2 work. However, there are a few databases that support it. Th

[2020-04-15 18:41] #695 closed

[2020-04-16 07:37] leotsarev commented on #439
Hi @rasmus !
Thanks again for Eventflow. If I'm a bit frustrated it only because we really love our Eventflow prototype and don't want to abandon it.

I've re-read comments of #728, and I can't see any comment about flaw. That's precisely why I'm writing comments if 1st place — to understand what's missing in proposed solutions and if we can contribute in some way.

To @promontis:
Personally we ar

[2020-04-16 09:28] mbican commented on #439
yes, totally

[2020-04-22 08:43] leotsarev commented on #439
@rasmus I hate to bother you again, but we need your direction to proceed :-) If we could contribute somehow, please say so :-)

[2020-04-24 10:05] cja100 opened #750 "Cannot apply aggregate event of type"
I'm trying to remove an event as per the docs.

https://eventflow.readthedocs.io/EventUpgrade.html#example-removing-a-damaged-event

However when applying the events it's complaining that the sequence number does not match the version+1:

`Cannot apply aggregate event of type 'DomainEvent<WorkflowItemAggregate,WorkflowItemId,TeamMembersAmended>' with SequenceNumber 4 on aggregate with version 2`

[2020-04-25 05:47] rasmus commented on #750
the answer is in the big box 😄 the easy solution is to create a dummy event to replace it

![image](https://user-images.githubusercontent.com/18956/80272382-fb8b1a00-86c8-11ea-9835-2e5775ebfb20.png)

[2020-04-25 05:55] rasmus commented on #439
@leotsarev I would really like that. EventFlow is growing as is my responsibilities at work. If possible I would like to appoint a few additional maintainers as it seems like the current aren't responding.

I do think that it time to get this moving and if @mbican gets the PR done and @leotsarev and myself will review it. I'll merge it.

Sorry for the delay

[2020-04-25 06:19] rasmus opened #751 "Call for maintainers"
Its clear that I need help maintaining this project.

EventFlow is used in a lot of production environments today and the complexity of the solution, the size of the code base, as well as the tasks that lie ahead, deserve more attention that its currently getting from me.

My idea is that two, preferable three, additional maintainers would be great. Then if there's agreement with the course of act

[2020-04-25 06:20] rasmus commented on #751
@mbican and @leotsarev is this something you would be interested in?

[2020-04-26 10:31] frankebersoll commented on #751
I love this project and have great interest, still, I'd like to defer to other applicants if available. We use EventFlow in many production systems at our company. For private projects, I recently moved away from it, because there is no real interop with F# and no "functional way" of modeling the Domain with EventFlow.

[2020-04-27 09:51] leotsarev commented on #751
Hey @rasmus !
We (me, @MaxShoshin and other guys from our team) like Eventflow a lot, and we are ready to contribute, but we don't have enough Event Sourcing experience to maintain something. Our whole reason to use Eventflow is to learn good architectural patterns from established project. So, we could contribute only if we still have guidance from matured "event sourcers".
We are interested in f

[2020-04-27 12:33] rasmus commented on #751
@leotsarev very nice. All those areas require some love and care.

[2020-04-29 13:33] FinalFortune opened #752 "Dryioc Integration"
I would like to use Dryioc for my DI and am writing a module to work in Eventflow's DI.  I see there was an implementation attempting in [this PR](https://github.com/eventflow/EventFlow/pull/203/files#)
I have written an implementation but hoping someone can assist:

Currently, my implementation fails the ServiceViaType test, which results in:

[code]

Is it a problem with DryIoc itself or is it s

[2020-05-05 05:58] rasmus commented on #751
I'll go ahead and remove all members except @frankebersoll from the list of EventFlow members as I haven't heard from anyone of them. Note that this is not shutting the door on anyone, just making it easier for others to see who is maintaining the project.

[2020-05-05 06:01] rasmus commented on #751
@leotsarev are you up for getting some progress on #439?

[2020-05-05 17:56] #752 closed

[2020-05-06 08:53] leotsarev commented on #439
@mbican do you want to invest in completing your prototype or we need to step it?
@rasmus what about arch discussion in prototype about persistence layer?
1. Add methods directly into IEventPersistense, breaking current persistense implementation. I think it could be possible, because it was easy to fix (adding methods that throws). Do you aware of some 3rd party persistense's that will need to be

[2020-05-06 21:54] frankebersoll commented on #737
The problem seems to be that the bootstrapper isn't called. In ASP.NET Core, this happens on startup, using an implementation of `IHostedService`:

https://github.com/eventflow/EventFlow/blob/develop/Source/EventFlow.AspNetCore/ServiceProvider/HostedBootstrapper.cs

You could try retrieving the `IBootstrapper` instance from the service provider and call `StartAsync` yourself. This is obviously som

[2020-05-11 20:00] frankebersoll commented on #718
Moved PR to #753

[2020-05-11 22:13] frankebersoll commented on #439
@leotsarev I would advise against the name `IReliableEventPersistence`: The event persistence itself has been reliable the whole time - it's everything else that needs to be made reliable.

@mbican @promontis I would also prefer an outbox solution as the primary implementation, mostly because it will be able to support all kinds of stores and subscribers. Any transactional solution would need to b

[2020-05-11 22:20] frankebersoll commented on #439
I would like to have a test suite that provokes all of the failure states that we try to resolve. Have any of you guys tried to tackle this or should I try to contribute something?

[2020-05-13 17:13] #718 closed

[2020-05-13 18:53] rasmus commented on #718
This has been released in 0.79.4216. A big thanks to @frankebersoll

[2020-05-15 09:01] i-dentify opened #755 "RabbitMQ Integration for .Net Core 3"
The .Net-RabbitMQ-Client seems to have published Version 6.0, which is to be used for .Net Core 3.x ([https://www.rabbitmq.com/dotnet.html](url))

The EventFlow-RabbitMQ-Integration calls a method `BasicPublish(string exchange, string routingKey, bool mandatory, IBasicProperties basicProperties, byte[] body)` which has been removed according to [https://github.com/rabbitmq/rabbitmq-dotnet-client/c

[2020-05-20 06:00] tedvanderveen opened #756 "Add support for Azure Event Hubs"
Hi! Are you guys open for a contribution that adds support for Azure Event Hubs integration? Or is this something that is already being worked on? This could be a welcome addition for organizations that target Azure for application workloads and look for a fully managed event stream/storage solution.

Azure Event Hubs is quite similar to Kafka: https://azure.microsoft.com/nl-nl/blog/azure-event-hu

[2020-05-27 13:31] MaxShoshin commented on #439
We (with @leotsarev) have started thinking about this issue.

I agree with @frankebersoll and prefer some kind of outbox pattern with information stored on the `ReadModelStore`s, `Subscriber` side.

If we store somewhere `GlobalPosition` with every `ReadModel`, `Subsriber`, etc it will lead to:

Pros:
- ReadModes/ Subscribers can process events independently:
    If one bad read model failed - no

[2020-05-27 13:40] leotsarev commented on #439
I don't see this as a *con* for this strategy. Now we don't have this mechanism either. But if we are about to break compatibility (introducing new methods) for IEventPersistense anyway, may be we should consider a overloads on LoadAllCommittedEvents / LoadCommittedEventsAsync with ability to filter by EventType.
It will allow some stores to populate read models more efficiently

[2020-05-27 15:19] MaxShoshin commented on #439
I don't think that we need breaking change in IEventPersistense to implement this strategy... I hope we will implement changes on read model store side (and in some place for sagas and subscribers).

Now we don't have filterring mechanism, but it only used during repopulation and I think it is rather rare. But with new strategy we will need effective way to read events.

IMHO, it is not necessary

[2020-05-28 12:38] hvidgaard commented on #751
We're launching a product refresh using EventFlow soon, and another will follow later this year. So I'm willing to allocate some resources to ensure the stability and progress of this. If you have some issues that ought to get attention I can see if they're suitable for one in my team to look at, but the initial interest is:

- PostgreSQL persistence
- Automatic generation/update of sql read model

[2020-05-28 13:41] Teides commented on #751
Hi Rasmus,

I have been following your work for a long time and let  me tell you that, if need help I will be ther for you.

Best Regards

Enviado desde mi iPhone

[2020-05-29 06:17] MaxShoshin opened #757 "Run integration tests locally"
Now it is not possible to run integration tests without having installed environment (like MS SQL Server, EventStore, etc).

So I suggest to use docker-compose to setup environment. And in tests by default (if no environment variables specified use these docker-compose services). It will simplify run integration tests from IDE.

[2020-06-02 11:50] rasmus commented on #757
merged in #758

[2020-06-02 11:50] #757 closed

[2020-06-02 21:11] tedvanderveen commented on #678
I have submitted PR #760 that allows for more flexible use of serializers, basically not just lock in one string based serialization.
I'm very much interested in your feedback.

[2020-06-12 14:56] FinalFortune opened #762 "No versioned type definition for 'ItemCreated' with version 1 in 'EventDefinitionService'"
I have a separate application using the Async subscription to the event, And I get this when it tries deserialize.

[code]

the event is marked with the EventVersion attribute.
[code]
and i have
[code]

What exactly do I need to ensure the event ends up in the definition service?

[2020-06-14 23:28] #762 closed

[2020-06-15 07:53] FinalFortune commented on #762
closing, related to #737

[2020-06-24 07:09] frankebersoll commented on #439
@MaxShoshin @leotsarev  I haven‘t got any feedback from @rasmus yet. We also have great interest in this solution and would like to contribute.

Divided into simple items, it might work like this:

- Backward compatibility. Only new components added, no breaking changes.
- IReliableSubscriptionStore. Stores data about a subscription. For a start, this would be a subscription identifier and the las

[2020-06-24 07:23] leotsarev commented on #439
@frankebersoll we are already working on solution and @MaxShoshin got a prototype here
https://github.com/FortisOnline/EventFlow/pull/4
We not submitted in to community discussion "yet" because we think it requires a proposal doc, and we need to translate it from Russian and publish. It will probably happen later this week. You are free to browse around PR until than and ask questions, of course,

[2020-06-24 18:03] rasmus commented on #751
Hi @hvidgaard and @Teides that sounds great 😄 help out with answering questions (if you can), find an issue to do a PR for or do a small PR with cleanup. Every little thing helps!

[2020-06-24 18:21] rasmus commented on #744
Merged

[2020-06-24 18:21] #744 closed

[2020-06-24 18:22] rasmus commented on #729
Sorry, forgot to close this

[2020-06-24 18:22] #729 closed

[2020-06-24 18:22] rasmus commented on #260
Released

[2020-06-24 18:22] #260 closed

[2020-06-24 18:48] rasmus commented on #751
@frankebersoll has been promoted to maintainer and will be helping out with planning and issue triage. Frank has a long history with EventFlow and has contributed to several of the core features.

If anyone else is interested, then its easy. Just start by being part of the community and helping out.

[2020-06-24 20:22] frankebersoll commented on #751
Thanks a lot @rasmus! I feel honoured and it is very important to me to be able to support this project. I look forward to working with you to tackle the important pain points that are lying ahead and to clear the way to version 1.0.

[2020-06-24 20:52] frankebersoll commented on #747
@radiosterne Did you happen to draft a PR for this? We would really appreciate your help on this issue.

[2020-06-24 21:00] frankebersoll commented on #743
@cja100 You proposed to contribute a PR. If you are still interested or need any help in doing so, please let us know!

[2020-07-01 10:30] michalSolarz opened #766 "[Question] Sample usage of PostgreSqlReadModel"
I'm trying to figure out how to plug my PostgreSqlReadModel to ASP.Net core app but I cannot find any example usage of PostgreSqlReadModel. I've that, very simple ReadModel (based on REST Airlines example):

[code]

But after applying JourneysSelectedEvent on my Aggreagate I get exception about missing ReadModel table. I'm aware that that table is missing but I've no idea how to generate it. Is it

[2020-07-02 21:19] frankebersoll commented on #766
You need to manually craft the SQL for your Read Models. This way, you can optimize them any way you want and add indexes as needed - the framework wouldn't be able to figure out your needs there.

If you add your scripts as embedded resources, you can then use the migrator to update your database:

[code]

Please have a look [over here](https://github.com/eventflow/EventFlow/tree/develop/Source/E

[2020-07-02 21:38] frankebersoll commented on #756
This certainly sounds interesting, although I don't really understand whether Event Hubs is really the right service for this purpose. [Considering this comparison](https://docs.microsoft.com/de-de/azure/event-grid/compare-messaging-services#comparison-of-services), an Azure Service Bus integration seems closer to what we might need for EventFlow.

What would the test concept look like? For Rabbit

[2020-07-02 21:46] frankebersoll commented on #755
@rasmus Would we simply update our reference or do we need to support multiple major versions?

[2020-07-02 22:53] frankebersoll commented on #691
I'm sorry it took me so long to get back to you. Maybe the topic is still relevant - I think you found a bug.

[There are several issues in the EF Core Repository](https://github.com/dotnet/efcore/issues/7894) which indicate that the order is actually not guaranteed at insert time. This is somehow logical if you think about it.

Hoping that it doesn't make much of a difference from a performance p

[2020-07-02 22:59] frankebersoll commented on #750
It appears that your question has been answered. Since we haven't heard anything about it for a while, we hope that your problem is solved - if not, please reopen the issue. Thanks!

[2020-07-02 22:59] #750 closed

[2020-07-02 23:00] frankebersoll commented on #745
It appears that your question has been answered. Since we haven't heard anything about it for a while, we hope that your problem is solved - if not, please reopen the issue. Thanks!

[2020-07-02 23:00] #745 closed

[2020-07-02 23:01] frankebersoll commented on #735
It appears that your question has been answered. Since we haven't heard anything about it for a while, we hope that your problem is solved - if not, please reopen the issue. Thanks!

[2020-07-02 23:01] #735 closed

[2020-07-02 23:01] frankebersoll commented on #717
It appears that your question has been answered. Since we haven't heard anything about it for a while, we hope that your problem is solved - if not, please reopen the issue. Thanks!

[2020-07-02 23:01] #717 closed

[2020-07-02 23:26] #702 closed

[2020-07-04 15:22] frankebersoll commented on #669
@jepperc I think we also ran into this issue some time ago, and a colleague had the idea to make the read models configurable. Sounds pretty much like what you're suggesting. We moved to MongoDB for this app and obviously don't have the problem any more.

Do you want to contribute this feature? If you need any assistance in doing so, please let us know!

[2020-07-05 22:44] Yaevh opened #771 "allow FilesEventPersistence to use relative paths"
Currently `FilesEventPersistence` is using absolute paths to store events. If the user changes `IFilesEventStoreConfiguration.StorePath` and copies the DB to the new locations (for example while deploying to another server or reorganizing data paths during development), events are not deserialized properly, as the event files no longer exist in the old location - all the events are effectively unr

[2020-07-05 23:33] frenchyjef opened #772 "EventStore - PersistentSubscriptions"
Hi,

There is an implementation of EventStoreDb in EventFlow to store the events...

1. Has anyone tried to develop an implementation of [EventStore's PersistentSubscription](https://eventstore.com/docs/getting-started/reading-subscribing-events/index.html?tabs=tabid-6%2Ctabid-dotnet-client%2Ctabid-dotnet-read-event%2Ctabid-create-sub-dotnet#subscribing-to-receive-stream-updates) for EventFlow?

1

[2020-07-06 07:20] hvidgaard commented on #736
Renaming things in an event sourcing system is generally not something you want to do unless you have to. In this case, renaming events is supported as @rasmus say. But renaming the aggregate is not supported the same way. You could rename the class, with AggregateNameAttribute set to the old name. If that is not good enough, you can use the same mechanic to upgrade all events to new versions that

[2020-07-06 11:37] #710 closed

[2020-07-06 15:03] michalSolarz commented on #766
OK, thanks for reply, I'll try to follow with your instructions and migrate my read models store manually :smiley:

[2020-07-06 17:49] #766 closed

[2020-07-06 21:49] frankebersoll commented on #771
This sounds like a really good idea, and we would be happy about a PR! Please let us know if you need any help.

[2020-07-06 21:59] frankebersoll commented on #772
1. Searching for "eventflow" and "persistentsubscription" on Google doesn't yield any results. As far as I know, this hasn't been researched yet.

2. I don't think so: The RabbitMQ integration in EventFlow is a consumer (implements `ISubscribeSynchronousToAll`). That means, it will publish all events to RabbitMQ, where they can be consumed by other applications. With EventStore Persistent Subscrip

[2020-07-08 11:11] promontis commented on #751
@rasmus would it be possible to add me to the maintainers list?

[2020-07-08 11:28] promontis commented on #772
@frenchyjef @frankebersoll

1. I have not found it either.

2. Yes it could! I'm using EventStoreDB for both my domain and integration events

3. My opinion is that EventFlow only works for domain events, not for integration events. Normally, people create services and those services need to communicate between each other. The service can be event sourced using EventFlow. The communication between

[2020-07-08 17:11] rasmus commented on #439
There's a lot of attention of this feature and a lot of different ideas. Understandably.

To get the ball rolling, and make it possible for anyone to tailor how this feature is implemented to their infrastructure, the next step should be to define the API that goes into the core EventFlow package. The default implementation should be a no-op operation, but having the API there will make it possibl

[2020-07-08 17:12] #691 closed

[2020-07-08 17:44] rasmus commented on #439
@mbican and @MaxShoshin what do you think? By having an common API we could introduce a couple of different solutions as experimental features that people could try out in their environments.

[2020-07-09 19:02] frankebersoll opened #776 "DistinctCommand for EntityModel class / GetSourceIdComponents"
From Gitter (@McpSandip_twitter):

[2020-07-10 06:36] Brandon2255p commented on #772
So the EventStore's persistent subscription will be altering the EventStore. It will be creating streams which is what makes it persistent.
I recently added an EventStore subscription to our implementation. Our scenario was like this:
Domain Server:
-> command comes in
-> If it passes the validation then an event is persisted to EventStore
-> The read model is updated (with standard EventFlow, thi

[2020-07-10 06:46] Brandon2255p commented on #608
I am also busy implementing this. We need it for tracing back to find where an event originated.

Since we use RabbitMQ to send our commands, we do not have access to the HttpContext. I have built a working CommandMetadataContext which is basically like the HttpContext but it allows us to read the metadata from the RabbitMQ message and insert it into the IoC for that async call.

That eliminates t

[2020-07-12 21:58] #771 closed

[2020-07-14 01:51] ahernandez-allegion commented on #465
@rasmus I'm curious, would supporting a basic Kafka extension really be that different than the existing RabbitMQ extension?

[2020-07-14 01:56] ahernandez-allegion commented on #756
Second EventHub integration, although if  you supported **Kafka** you'd essentially get EventHub for free as @tedvanderveen pointed out. Not sure how the integration testing would work. Microsoft does have tooling for lots of local Azure services and there are Azure Edge components that might expose EventHub. For Kafka there are [Docker images provided by Confluent](https://docs.confluent.io/curre

[2020-07-25 20:56] eluchsinger opened #784 "[Documentation] Gettings Started Feedback"
I have been reading through the documentation and found a couple things that probably should be refreshed. If I find time for it, I might be able to make a PR.

- I found no information about the DependencyInjection Nuget package needed to support ASP.NET Core in the documentation. The docs only mention the `EventFlow.AspNetCore` package.
- The code example in the Getting Started section could use

[2020-08-17 13:27] FinalFortune opened #787 "EntityFramework Bulk.Delete Returns Null Error"
I attempted to run `PurgeAsync` using the `IReadModelPopulator`.  I have yet to investigate it deeper but perhaps it's related to the expressions being evaluated server-side by default in recent versions of Entity Framework.

[code]

[2020-08-18 12:53] FinalFortune commented on #787
Ok, this was caused by a missing 'Version' field in my ReadModel

[2020-08-18 12:53] #787 closed

[2020-08-18 13:15] FinalFortune opened #788 "Replaying Events"
I would like to replay my events until a certain point in time, after reading through the code and 1 or 2 other posts I came to the following solution:

1. Use `IReadModelPopulator `to purge all the read models
2. Use `IEventStore` to load and select events
3. Apply these events using `IReadStoreManager`

Is this all that is necessary to set the program state to a certain point in time? what about

[2020-08-18 13:48] ProNoob702 opened #789 "Trigger azure function when new event is commited"
Hi,
I successfully made persistance of events in event store db using
**UseEventStoreEventStore(...)** on **EventFlowOptions**
Now I wanna trigger an azure function when I get a new commited event
**How could I do this with EventFlow ?**
Thanks in advance

[2020-08-18 13:55] ProH4Ck commented on #789
Hi, for this kind of tasks, I use **Subscribers**. Here is the docs: [https://docs.geteventflow.net/Subscribers.html](https://docs.geteventflow.net/Subscribers.html).

[2020-08-18 14:01] NoobDay commented on #789
@ProH4Ck  thanks and inside that subscriber I make a http call to azure function for example ?

[2020-08-18 15:25] ProH4Ck commented on #789
Yes! This is a sample subscriber from my latest project used to send emails:
[code]

[2020-08-18 16:01] NoobDay commented on #789
cool ! thanks man

[2020-08-26 16:00] WardenUnleashed commented on #751
@rasmus I would be willing to become a contributor! I'm working with EventFlow almost every day at my job and have been using for quite some time now!

[2020-08-26 16:15] WardenUnleashed opened #792 "Allow ReadModels Marked For Deletion To Be "Unmarked" for Deletion"
My team is currently developing some functionality where we will "deleting" multiple aggregates within a Saga. In the case that a step within the Saga fails, we add a compensating "restore" event to essentially undelete it.

This works fine for Aggregates as we have a simple `IsDeleted` boolean.
However, when we try to update the read model's we start to run into a problem. Ideally we would like t

[2020-08-27 07:10] leotsarev opened #793 "ValueObject → record"
Hi everyone!
C# 9 now introduced record types. I wonder if it's good fit to replace (or at least be supported on par with) for Eventflow.ValueObject
Does anyone has in mind what should be done for support of records?

[2020-09-02 09:31] raminrahimzada opened #794 "Issue about using Identity class"
Hi to all , firstly say that a great project
So decided to migrate some of my projects into this
There is some strange situation about using Identity
For the simplicity I always use my identity classes named Id
But in eventflow using identity class as Id leads to some strange situations bcs when you remove the Id part of  [reference to code](https://github.com/eventflow/EventFlow/blob/develop/Sour

[2020-09-29 06:01] rasmus opened #795 "Symbol release fails with 404"
Latest release fails with upload of packages to NuGet. I have created an question at AppVeyor.

https://help.appveyor.com/discussions/questions/50208-symbol-page-upload-returns-404

[2020-10-01 17:32] rasmus commented on #794
@raminrahimzada thanks for submitting the issue. I'll have a look.

Since EventFlow uses the `IIdentity`, you can simply copy the `Identity<>` class (remember license header) to your own code base and do any modifications you like to it. You are not restricted to use the class provided by EventFlow. This is one of the core principles of EventFlow, interfaces everywhere and let developers replace t

[2020-10-01 18:09] rasmus commented on #795
Seems like no nupkg are produced, debugging. Will have a release asap

[2020-10-02 07:21] #794 closed

[2020-10-05 00:09] edg-jf commented on #772
Hi all,

I created [Pull Request #797](https://github.com/eventflow/EventFlow/pull/797) which upgrades EventStore persistence to use EventStoreDB 20.6.1.

I also added a UseEventStoreSubscriptions extension to help subscribe to stream events based on a filter and then publish them to your internal microservices (pubsub).  After talking with the EventStore team, it seems that it is preferred to use

[2020-10-07 16:01] DureSameen opened #798 "CrossDomainSaga : Unable to invoke IReadModeLocator"
I am in the process of creating a CrossdomainSaga through rabbitmq messaging,   Application A . creates a domain event as "SagaConsultantCreateEvent" on RabbitMq ,  the other application Application B  subscribe to  a "SagaQueue".

Then I created a DomainEventPublisher, which invoke AllEventsSubscriber successfully.  This subscriber add consultant in eventstore successfully but unable to invoke IR

[2020-10-07 19:45] ppilev commented on #580
I had the same issue and didn't like the accepted answer so in my solution I'm using custom service provider factory:

    public class EventFlowProviderFactory : IServiceProviderFactory<IEventFlowOptions>
    {
        public IEventFlowOptions CreateBuilder(IServiceCollection services)
        {
            return EventFlowOptions.New.UseServiceCollection(services);
        }

        public ISer

[2020-10-08 09:00] rasmus commented on #795
Fixed

[2020-10-08 09:00] #795 closed

[2020-10-26 20:35] ppilev opened #799 "SnapshotAggregateRoot does not throw DuplicateOperationException"
Hello,

Could you please help me with the following scenario:
I have a distinct command executed against snapshot aggregate root but once a snapshot is created I cannot see DuplicateOperationException thrown anymore for the same command.

Looking at the code I've found that once a snapshot version is created the aggregate cannot track the previous source ids anymore and so I can publish the same d

[2020-10-28 15:40] rasmus commented on #799
This sounds like a bug

[2020-11-02 15:35] ppilev opened #801 "Upgrading events to zero or more than one event"
hello,
I have a question concerning upgrading to zero or more than one events. I've found the documentation says:

is there a recommended approach when dealing with such cases, i.e. historically I have the following scenario:
- emit event1 -> aggregate version 1
- emit event2 -> aggregate version 2
- here I have registered an upgrader which upgrades event1 to produce zero events
- emit event3 -> `

[2020-11-03 13:05] DureSameen opened #802 "EventStore ReadAllEventsForwardAsync is populating all of the data from all services"
We have a single eventstore connected to all microservices. Now we are creating a data retrieval logic, to populate a microservice data in the startup. But the following line populating all data even from other services too. so it is causing exception in serialization

`allEventsSlice = await _connection.ReadAllEventsForwardAsync(nextPosition, pageSize, false) ;`

How can we populate a single type

[2020-11-05 12:29] ibebbs opened #803 "ReadModel with explicitly implemented interface is not updated"
Hi,

Just getting started with EventFlow but found an issue that tripped me up.

If an `IReadModel` explicitly implements the `IAmReadModelFor<Aggregate, Identity, Event>` interface, the Apply method is for this interface is not called.

For example:

[code]

I believe it may be related to how the method is dynamically invoked from here: https://github.com/eventflow/EventFlow/blob/3c09676a86795615

[2020-11-06 07:50] SeanFarrow opened #804 "Use default paramters for methods where it makes sense"
It would be really nice if, where possible, EventFlow methods used default C# parameters.
I noticed this when looking at the way CancellationTokens are passed around.
Is this an area in which a PR would be accepted?
Thanks,
Sean.

[2020-11-06 10:40] ibebbs opened #805 "Publish External Event on Read Model Update"
Hi,

Managed to get a relatively complex EventFlow system (hosted in ASP.NET core webservice, events written to EventStore and ReadModels to MongoDB) really quickly (~1 day) and am super impressed EventFlow!

I'd now like to drive downstream systems from changes to read models. While I can monitor MongoDb directly for changes, I was wondering if there is a way within EventFlow to publish an extern

[2020-11-06 12:37] rasmus commented on #801
You merely need to be very careful and test thoroughly.

To edit the event on load, use the `IDomainEventFactory` to make a new version that has the correct meta data. The `EventUpgradeManagerTests` has a few tests that illustrate it.

[2020-11-06 12:39] rasmus commented on #802
Hi @DureSameen I'm not very familiar with EventStore, but would you be able to create a small exploratory test that illustrate your problem?

If there is a but, we'll need a fix for it.

[2020-11-06 12:42] rasmus commented on #803
This seems like a bug, thanks for reporting it.

Is it correctly invoked if you implement it as this?

[code]

[2020-11-06 12:44] rasmus commented on #804
For the public APIs it would improve the API and thus a PR would be great.

Internally within EventFlow we really need to make sure that the cancellation tokens provided by developers are passed along, and using defaults there will make it harder to spot if we forget to pass one along.

[2020-11-06 12:47] rasmus commented on #805
Thanks and pretty impressive doing it in one day! If its open source, I'd like to add a link to the readme to help others with better examples to get started,

There isn't anything built-in for publishing events on read models to other services. But a general API in the EventFlow core would be useful as an extension point.

[2020-11-06 12:52] SeanFarrow commented on #804
Ok, how about the following as separate PR’s:
Firstly, add a default CancellationToken (i.e CancellationToken.None) to any public methods that take a CancellationToken.
My question here would be what do you consider as public? To my thinking, it would be any class implementing an interface, but feel free to correct my understanding.
Secondly, following on from this, ensure that any cancellationTok

[2020-11-06 13:33] ibebbs commented on #803
Hi Rasmus, thanks for getting back to me.

Yes, the apply method is called correctly after changing it from an explicitly implemented interface method to a normal public method.

Once I'm a little more familiar with EventFlow I'll be happy to prepare a PR but I imagine you'd be able to correct this much quicker.

[2020-11-06 13:55] ibebbs commented on #805
Only possible to get it done so quickly due to how well this project implements the underlying CQRS/ES patterns. That said, I did need to collate best-practices from a number of different places so understand why you're keen to provide better examples.

Unfortunately the current project is not open source but I do maintain a [blog](https://ian.bebbs.co.uk) so, time-permitting, will try to cover se

[2020-11-09 09:24] ibebbs commented on #805
Just coming back to this and I've realised that this facility isn't really needed given read stores are updated _prior_ to domain events being published to subscribers, as shown in `DomainEventPublisher` below:

[code]

Therefore I can subscribe to pertinent domain events and publish external (i.e. integration) events knowing that should downstream services request the readmodel (via a query) the

[2020-11-09 09:24] #805 closed, assigned to nobody

[2020-11-18 13:44] ProH4Ck commented on #724
Now that net 5 is finally out... should we reconsider 1.0? I could help in migration.

[2020-11-18 18:43] rasmus commented on #724
@ProH4Ck yes, and I think it might be time to drop .NET Framework support completely to make it easier going forward. I'm sure I dare do it though

[2020-11-18 18:44] rasmus commented on #803
@ibebbs thanks for verifying, I'll see if I can get it fixed.

[2020-11-19 17:16] ProH4Ck opened #807 "Add support for specific ISagaErrorHandler<ISaga>"
For a project I'm working on an implementation of ISagaErrorHandler to allow use of different ISagaErrorHandler for each Saga defined in the project.

Here is a little concept:

[code]

[code]

Code is not tested because still a work in progress!

Do you think this could be integrated in the library? Maybe added to DefaultSagaErrorHandler?

PS: I used `IResolver` just to keep this aligned with oth

[2020-11-24 09:41] DureSameen commented on #802
I have created two microservices

https://github.com/DureSameen/EventFlowWithElasticSearch/tree/DataRetreveial
https://github.com/maree16/EventFlowForOrganization

The first one include logic of data retrieval.

1. Create environment variables. as described in readme.
2.  Add some data using both api
3.  Turn on data retrieval  switch in write api ,
4.   All data from eventstore will read to the d

[2020-11-25 01:51] WardenUnleashed commented on #807
I've run into this issue as well but solved it somewhat differently.

I have implemented the following classes to handle Sagas by type

[code]

Which are then configured via IoC like this:
[code]

Definitely think this is a pretty common problem however.

[2020-11-25 03:21] WardenUnleashed commented on #799
This behavior occurs because the `SourceId` of events are stored within the aggregate, when replayed from the EventStore. When loaded from a snapshot, the SourceId of all events already applied to the snapshot are not being stored.

I submitted a MR that appends the source ids to the snapshot metadata and reapplies those source ids to the Aggregate when reloaded from the snapshot which should fix

[2020-12-04 07:03] rasmus commented on #807
Seems like a very valid option, thanks for the suggestion.

[2020-12-04 07:19] rasmus opened #809 "Poll: Drop .NET Framework support?"
Having to support .NET Framework makes working with the EventFlow code base quite a hassle, integrating it with new modern services that use .NET (Core) even more so.

This is a poll to get a feeling for how the community thinks in regards to dropping support for NET Framework completely and only supporting .NET Standard 2.0 and onward.

Please use emojis to vote.

👍  best idea ever
👎  please no,

[2020-12-05 13:19] rasmus commented on #724
Its happening, started the conversion in #810. Will take it slow, create beta releases, do minor API corrections (like fix spelling and remove obsolete). Will create a readme on the branch soon. Will also try to setup a build that support both 0.x and 1.x releases going forward.

[2020-12-07 06:57] rasmus commented on #809
Its happening, I'll start getting it in place and setting up the new branch structure making it possible to develop both 1.0 and 0.x along side each other. I expect that 0.x will live for some time after the 1.0 version is released.

Development is started in #810

[2020-12-07 06:57] #809 closed, assigned to nobody

[2020-12-07 07:46] rasmus commented on #724
Going forward with this

[2020-12-07 07:46] #724 closed

[2020-12-07 07:47] rasmus opened #811 "Call for API changes for 1.0"
If there are some API changes you would like to see for 1.0, please post them here.

[2020-12-07 09:26] rasmus opened #812 "Default value for Cost Threshold For Parallelism may give deadlocks"
Deadlocks for MSSQL read models have been observed in production systems and a fix seems to be increasing the "Cost Threshold For Parallelism" in SQL Server.

Consider if EventFlow should log a warning upon initialization if the default value is set.

https://www.brentozar.com/archive/2017/03/why-cost-threshold-for-parallelism-shouldnt-be-set-to-5/

[2020-12-07 14:06] ProH4Ck commented on #811
#807 ? I could work on this tomorrow

[2020-12-07 16:21] rasmus commented on #811
Perfect. If its possible to add without breaking changes, then it should be added to 0.x instead of 1.0 to make it available faster.

[2020-12-07 18:02] ProH4Ck commented on #811
Ok, no problem

[2020-12-08 20:27] Yaevh commented on #43
As of v0.80.4377, event timestamp is generated by a call to `DateTimeOffset.Now` inside `AggregateRoot.Emit()`. You can pass custom `IMetadata` to it, but trying to set `IMetadata.Timestamp` like this leads to `ArgumentException` later on.

I see the following potential methods to inject `DateTimeOffset` into `IMetadata`:
1. Make `AggregateRoot.Emit()` take an optional `DateTimeOffset` parameter;

[2020-12-10 07:32] ProH4Ck commented on #811
Done in #817

[2020-12-11 10:25] rasmus commented on #803
Hi @ibebbs I spent a few minutes trying out a PR, but couldn't get the reflection right. Will try again soon

[2020-12-17 00:06] WardenUnleashed commented on #811
SerializedCommandPublisher should have its method's fixed such that they are correctly spelled!

[2020-12-22 12:27] ppilev commented on #799
I've just checked the proposed fix and if I got it correctly each source id gets written and stored into the snapshot. I'm concerned in regard such solution because of the snapshot size growth after processing a few hundred (in my case thousand) commands, unless I'm missing something.

What I'm doing currently is to enforce the idempotency check at the persistence level - in my case separate table

[2020-12-23 01:11] WardenUnleashed commented on #799
The number of previous source Ids stored in an aggregate is set by the aggregate itself, with a default size of [10]. (https://github.com/eventflow/EventFlow/blob/develop-v1/Source/EventFlow/Aggregates/AggregateRoot.cs#L43)

Therefore the amount stored on the snapshot will be equivalent to the size set in the aggregate.

[2020-12-25 08:48] ProH4Ck commented on #807
Implemented... We can close this.

[2020-12-29 10:56] Reyhn3 opened #820 "Lack of event segregation corrupts event store"
Using `IIdentity` when persisting events can lead to overlapping identities between **different** identity types, causing events and aggregates to be corrupted.

For example, if `LocationId` has the value of `abc`, and the `VoyageId` also has the value of `abc`, then the `LocationCreatedEvent` and `VoyageCreatedEvent` will collide. Both events are valid and can be persisted, but when loading the e

[2020-12-29 23:23] WardenUnleashed commented on #820
The interface `IIdentity` to me intrinsically implies a globally unique identity due to the lack of typing/additional information within the interface. It quite literally is just a string value. If I were to try and use these values as keys to a dictionary  I would naturally expect there to be a collision if an identity of `abc` existed and I tried to add another `abc` entry.

Consider the followi

[2020-12-30 00:00] WardenUnleashed commented on #820
That aside, I couldn't quite deduce the exact reason you needed typing at the `IEventPersistence` level but something that could be of use would be to use pattern mathcing/reflection on the `IIdentity` instance passed into your implementation of `IEventPersistence` when commiting / loading events.

[2020-12-30 07:43] Reyhn3 commented on #820
Yes, `FirstAggregateId`, `SecondAggregateId`and `StringIdentity` are equivalent, **when it comes to persistence**. And that is exactly my point.

Conceptually, though, in DDD, an aggregate is something that can be identified, which makes the identity a vital part of an aggregate. However, even though **aggregates** may be globally unique in practice and within the domain, I have never heard that t

[2020-12-30 08:00] Reyhn3 commented on #820
Note that I wrote that it should be the **aggregate** type that keeps events separate from each other.

I don't think it is correct that `Identity<T>` is using its own name as the scope, i.e. scoping identities by identity (not aggregate). This is a bit philosophical, but the same Id-class could potentially be used for different aggregates, which would then also collide.

Once again, the `Identity

[2020-12-30 21:56] WardenUnleashed commented on #820
I'm inclined to disagree, in favor for the the Aggregate's identity instead.(which is how it currently works).  Unfortunately your suggestion limits people's ability to roll their own identity systems. For example, if I wanted to make it an aggregate base that handled generating its own identity from a string, I could extend  `AggregateRoot` and do just that!

They would only end up colliding if t

[2021-01-04 09:24] Reyhn3 commented on #820
Hmm... I'm sorry, but am very confused by your answers. I must be misinterpreting you, for it seems that we are mostly talking about the same thing and are in agreement, but the wordings are wrong. Let me see if I can make it clearer.

My mistake; I was a bit unclear. I of course meant that the aggregate's type **combined with** the aggregate's identity should be the compound key (as in SQL) that

[2021-01-05 19:14] Herlitzd opened #822 "Add an overload to `IMongoDbReadModelStore<TReadModel>.FindAsync()` for custom Queries"
Linq To mongo doesn't support most methods for working with collections. For instances, something like:

[code]
[code]
Will not work, the Mongo Driver will report that a method is not supported, presumably the `.Any()`.

Ideally, an overload for `FindAsync()` would be added to the `IMongoDbReadModelStore<TReadModel>` interface to allow for the passing of a Mongo Query constructed with `Builders<My

[2021-01-06 08:15] DureSameen commented on #802
any progress on this issue?

[2021-01-11 12:40] rasmus commented on #802
Hi @DureSameen none. The EventStore part of EventFlow is mainly maintained by others. Would you be up for doing a pull request for it?

[2021-01-11 13:07] #807 closed, assigned to nobody

[2021-01-12 11:14] eldstrom commented on #598
I have this problem also with the mongodb store.

For me it is two requests from frontend for the same aggregate that arrives at different times to the event store backend and it seems if the events are pretty large (like 40kb+ in size, i know they are too big but i am stuck with it currently) and the amount of events for the aggregate goes above 30-40 in the sequence, it might take long time to s

[2021-01-13 12:21] rasmus commented on #730
answerd

[2021-01-13 12:21] #730 closed

[2021-01-15 07:31] rasmus commented on #799
Fixed in #808

[2021-01-15 07:31] rasmus commented on #799
Vil be fixed with 0.82

[2021-01-15 07:31] #799 closed, assigned to nobody

[2021-01-21 17:47] hvidgaard opened #824 "Repopulate multiple readmodels at the same time"
We're starting to get some experience with running a system based on EventFlow in production. At the present I not have much that we need to change, but I would like to repopulate multiple readmodels at the same time. I have an implementation for it made, but I struggle to get it build on my machine such that I can test it out.

Do you have some documentation on how to get the build running locall

[2021-01-22 05:13] WardenUnleashed commented on #820
Sorry for the delayed response!

Sure! Those rules are defined in `Domain Driven Design: Tackling Complexity of Hardware` by Eric Evans.

- Eric Evans

To me global identity means a unique identity, especially when I think about it in context of the advice he gives when modeling entities

- Eric Evans

Having a global identity for entities(and aggregate roots by extension) was stressed pretty hard

[2021-01-22 08:08] hvidgaard commented on #824
Hi

I have multiple readmodels repopulating some times. If I update say 10, it need to fetch events from the DB 10 times, where as if it could repopulate multiple readmodels at the same time, it only fetches events once but updates all the readmodels.

[2021-01-24 20:39] KonstantinAlexeevich opened #826 "Different behavior between AddAspNetCoreMetadataProviders and AddAspNetCore(x => x.AddDefaultMetadataProviders())"
Hello

I try create simple example app with EventFlow.
I Register my first Command, CommandHandler and Event with this code:

[code]

When I call `CommandBus.PublishAsync` with registered command i get `ArgumentException`  with message
`No versioned type definition for 'RenameEvent' with version 1 in 'EventDefinitionService'`

I found this issue about that exception:
https://github.com/eventflow/E

[2021-02-03 17:14] alasdair-stark-screenmedia opened #828 "Update readmodel outside of current context"
We have an event, `UpdateOrder`. The event is emitted by the `Order` aggregate. We have a read model, `ReadModel-OrderSummary` which subscribes to the event via the `IAmReadModelFor` interface.

When our API receives a request to change an order, we call the `ICommandBus.PublishAsync` method to publish an `UpdateOrder` command. The command handler invokes the aggregate method that emits the event.

[2021-02-03 17:40] rasmus commented on #828
EventFlow does not return from the PublishAsync until all read models and subscribers are updated. However, depending on how you use EventFlow, it might be as simple as not awaiting or delighting to a background thread (if you want to handle potential errors).

[2021-02-03 17:43] alasdair-stark-screenmedia commented on #828
In our case we want to wait for some read models to be updated but not wait for others. It sounds like there is currently no mechanism for this.

[2021-02-04 07:50] michalSolarz opened #829 "[Question] Recommended way of integrating EventFlow in solution with Clean Architecture approach"
I was wondering how should I integrate EF in solutions created with Clean Architecture approach. May I make EF a dependency of Domain? Most of objects included in Domain should be probably a AggregateRoots and events applied on AggregateRoots should be included there too. I'm aware that the Domain should be dependency free but I cannot imagine how I can achieve that if I want to use EventFlow. Is

[2021-02-04 09:52] rasmus commented on #707
Hi @xNarkon some time back the API was updated to allow you to return an `IExecitionResult` which has a `.IsSuccess`, thus removing the need to throw exceptions.

[2021-02-04 12:40] #707 closed

[2021-02-04 15:12] michalSolarz commented on #829
It seems that it is the easiest solution :)

[2021-02-23 09:28] hughlee2016 opened #830 "IJob"
When I refer to the interface ijob, the first parameter of the method executeasync is iresolver resolver, not iserviceprovider serviceprovider. The code is as follows:

public interface IJob : IVersionedType

{

     Task ExecuteAsync(IResolver resolver, CancellationToken cancellationToken);

}

[2021-02-23 21:59] nlips opened #831 "Why Apply can't access to event's metadata ?"
I use the AddUserClaimsMetadata configuration method to have the user's identity in all events metadata.
But how to use this data in the AggregateState apply function ?
My aggregate has a notion of owner that I wish to deduce from its creation event.

[2021-02-24 16:38] #828 closed, assigned to nobody

[2021-02-24 16:43] alasdair-stark-screenmedia opened #832 "Read models are updated before event handlers that implement ISubscribeSynchronousToAll"
We publish all events to event grid using a custom class that implements ISubscribeSynchronousToAll.

I have noticed during testing that the event is not published to event grid until the read models that subscribe to that event have been updated.

Could someone confirm that this is the expected behaviour? When an aggregate emits an event, is the event handled in a synchronous manner in a pre-defi

[2021-02-24 16:55] alasdair-stark-screenmedia opened #833 "Exception in read model does not roll back event creation but classes implementing ISubscribeSynchronousToAll do not receive event"
We publish all events to event grid using a custom class that implements ISubscribeSynchronousToAll.

We have a read model which subscribes to a specific type of event. The SQL Server table behind the read model has a column called 'Name' that has a limit of 100 chracters. Consider the following sequence of events:

1. Aggregate emits event that contains a name that is 150 character long
2. Read m

[2021-02-24 17:22] rasmus commented on #831
Currently some event metadata is generated when the event is emitted, other when the event is saved into the event store.

[2021-02-24 17:25] rasmus commented on #831
The Emit method does allow you to provide additional metadata. While it may not be exactly what you wanted, if you provide the metadata there, it would be the same when subscribers and read models read it

[2021-03-02 15:50] Herlitzd commented on #833
Just for clarity, the problem isn't really anything to do missing validation, or fields lengths, that could be fixed by truncating in your readmodel, or adding validation before executing the command.
We have noticed the same behavior you are describing when a SQL user lost permissions to write to the ReadModel table, we saw that the failure to persist the SQL readmodel was logged, but the Synchro

[2021-03-02 15:55] alasdair-stark-screenmedia commented on #833
Yes, I just wanted to provide an example to illustrate the issue. If an exception is thrown for any reason during the processing of the read model then this issue will occur.

[2021-03-08 22:27] fratting commented on #832
Inspecting the source code I think 1. and 2. are backwards in your list

`AggregateRoot.Emit()` triggers application of the event to the aggregate state when it first emits. Then execution result is returned back where the `AggregateStore.UpdateAsync()` commits the events to the store then triggers `DomainEventPublisher.PublishAsync()`, which FIRST updates applicable read models and then dispatche

[2021-03-14 19:25] KonstantinAlexeevich commented on #826
`EventVersionAttribute` and also `x.UseDefaults()` in configuration solve problem

[code]

[2021-03-14 19:28] #826 closed, assigned to nobody

[2021-04-02 10:35] Kladzey opened #834 "MultipleAggregateReadStoreManager and order of events"
My aggregate have received 2 commands almost at the same time. Seems due optimistic concurrency conflicts now I have events with messed timestamps. For example:

- event with sequence number 24 and timestamp '2020-11-25T14:23:30.3053878'
- event with sequence number 25 and timestamp '2020-11-25T14:23:30.1890190'

I think messed timestamps is not big problem, but order of events is important. Multi

[2021-04-03 21:50] WardenUnleashed commented on #834
Looks like [MultipleAggregateReadStoreManager:63](https://github.com/eventflow/EventFlow/blob/develop-v0/Source/EventFlow/ReadStores/MultipleAggregateReadStoreManager.cs#L63) causes this.

However, the fix to this isn't as simple as just switching the order of the sort.

The `MultipleAggregateReadStore` is used when a `ReadModel` is using a `ReadModelLocator`. Which is generally done  to apply eve

[2021-04-03 22:27] Kladzey commented on #834
MsSqlEventPersistence. We are using version 0.80.4377.

For now I'm experimenting with such workaround:
[code]
It's not tested enough, but seems working well with my problem cases.

[2021-04-15 21:12] Schwefelhexa opened #836 "Question: Why store data in aggregate root?"
In your [getting started doc page](https://docs.geteventflow.net/GettingStarted.html), you create an `ExampleAggregate` that stores a magic number, and updates it by applying an `ExampleEvent`.

But in order to actually read this number back in, we use the `ExampleReadModel` that has its own `Apply` function, basically implementing the same behavior as `ExampleAggregate.Apply()`.

This made me won

[2021-04-16 22:51] WardenUnleashed commented on #836
One of the benefits of event sourcing is the separation of your write model and your read model. Doing this does add complexity which makes the strategy may look over engineered when used in examples applications / simple domains.

Once you start requiring some more complex functionality though. You start to see more of the benefits.

[This article ](https://docs.microsoft.com/en-us/azure/architec

[2021-04-17 13:34] Schwefelhexa commented on #836
Thank you for the answer! I think I realized what my mistake was.

In the example, `ExampleAggregate._magicNumber` is used for validation when `SetMagicNumer` is called.
Does this mean that I could use aggregate roots without any fields, as long as no command validation is needed?

[2021-04-23 17:25] WardenUnleashed commented on #836
Yep! Maybe I'm not fully understanding your question but how you design / validate the aggregate is largely up to you.

[2021-04-25 14:32] Schwefelhexa commented on #836
Okay, so the fields in aggregate roots are only meant for validation?

[2021-04-27 12:10] mvanhelmont opened #837 "Question: Is there any timeframe for v1?"
Hi All,

Is there any timeframe when v1 gets to beta. We will love to give it a try in our next project.

Thanks

[2021-05-03 13:40] jwillmer commented on #784
I looked into the project and the documentation and my biggest question marks are:

- Lot's of technology options to use for specific functions but I don't find a comparison which one to pick - pro and contra?
- Some options are defined in the README but not in the documantation - documentation has three explained EventStore implementations but 7 mentioned in the README
- Why RabbitMQ integration

[2021-05-05 21:58] WardenUnleashed commented on #836
So I want to say no, I wouldn't say they are meant ONLY for validation. I think its better to think about your aggregates as a representation of your domain and the fields of your aggregate represent the current state of it.

If you wanted to you could just load that aggregate and use the state / field within the aggregates as way to query data relevant to that aggregate. Though you wouldn't want

[2021-05-06 06:34] Schwefelhexa commented on #836
Okay, thank you for your help!

[2021-05-06 06:34] #836 closed, assigned to nobody

[2021-05-12 07:06] rasmus commented on #837
@mvanhelmont Not yet, the core stuff seems stable, but the packages outside the core are still not converted.

(Sorry, my GitHub issue management abilities are abysmal)

[2021-05-12 07:11] rasmus opened #838 "Help wanted: Community/Issue manager"
If you have been following the project on GitHub, you will notice that the issues and PRs pile up these days. This is by no means fair to the many companies and developers that use EventFlow every day, but the fact is that the development of 1.0 is taking up what little time I have in the evenings these days.

So, if you are interested in helping supporting EventFlow and its community, let me know

[2021-05-12 07:13] rasmus opened #839 "Help wanted: Testimonials"
A new version of the http://geteventflow.net/ is in the works (its old and haven't been updated in years) and for the new site it would be awesome if I could put in a few testimonials from companies that use EventFlow actively.

Thanks.

[2021-05-12 20:12] #705 closed

[2021-05-14 22:56] Simusharp commented on #838
Hi,

Can you provide more details about the help you are looking for?

I will be happy to contribute to this project but I am not sure if I am competent enough.

[2021-05-18 23:19] Yaevh commented on #678
how are things progressing re System.Text.Json?
I am corrently working on a project that uses System.Text.Json as primary JSON serialization library, but I still have to duplicate large portions of JSON serialization/deserialization logic to be able to use EventFlow, which is kinda pain in the butt.

[2021-05-19 05:03] rasmus commented on #678
@Yaevh should implementing `IEventJsonSerializer` be enough?

[2021-05-19 05:03] rasmus commented on #678
But it something I would like to do for 1.0

[2021-05-19 11:16] rasmus commented on #838
In short, help out developers on GitHub (and maybe elsewhere).

In more detail
- Provide early feedback to issues created
- Triage issues and pull request, maybe something automatic

Nice stuff that could be done
- Seek out EventFlow developers and their issues on Reddit or Stack Overflow
- Project management, see if issues can be gather together into milestones that provide value into releases wi

[2021-05-21 15:47] Yaevh commented on #678
I've been playing around with System.Text.Json and noticed two differences from Netwonsoft.Json:
1. System.Text.Json treats empty JSON as invalid and throws `JsonException`; Newtonsoft.Json deserializes it to `null`
2. Newtonsoft.Json can deserialize enum from both int value and name; System.Text.Json handles int value only

Can we live with these limitations?

[2021-05-24 23:13] WardenUnleashed commented on #838
Hey @rasmus!

I think you've seen me in a few MRs! I'm happy to help as I am greatly invested in the future of EventFlow and use it in many of my projects!

[2021-05-25 17:49] rasmus opened #840 "Fix broken AppVeyor builds"
Builds on AppVeyor has become very unstable, directly broken in most cases. Before we can move onward with a 1.0 release, we need to ensure that the 0.x release is stable.

[2021-05-25 17:52] rasmus opened #841 "Move to GitHub actions"
After doing a few initial tests, its clear that GitHub actions are far faster than the current AppVeyor builds. AppVeyor simply takes too long to start.

As stated in #840, its important to stabilize builds for 0.x before doing something new and shiny for 1.0. Thus moving to GitHub actions should be done on the 0.x branch and then updated to 1.0 to keep the build pipelines aligned.

For 1.0 builds

[2021-05-25 17:59] rasmus commented on #838
Thank you all!

This really means a lot! The amount of work for the has be the cause of some frustration on my part and the amount of time I have spend on EventFlow the last few months have been insignificant.

But, getting support, both real and just kind words, really helps.

I have closed the old 1.0 milestone and created a new one. I really, really want to keep the initial release for 1.0 as s

[2021-05-25 18:02] rasmus opened #842 "Cleanup old issues"
There are a lot of old issues and pull requests. Many of which contain valuable information, partially (or fully) completed projects. We really need to cleanup these and see if we can sort the good from the bad. This will make it easier for the community to engage in issues.

One possibility could be to introduce a bot to do the management. Although I have seen several open source projects that ha

[2021-05-25 18:07] rasmus opened #843 "Discussion for 1.0"
The 1.0 release focus primarily on

- Standardized use of `Microsoft.Extensions` packages, kill the custom implementations
- Only support LTS versions of .NET (Core) and removing support .NET Framework.
- Fix missssspellllledddd APIs
- Add missing async/await on critical methods
- Removal of non-async methods
- Do much needed API changes that requires breaking current APIs (hopefully not many)
- B

[2021-05-25 18:10] rasmus opened #844 "Migration guide for 1.0"
Since 1.0 marks an important milestone for EventFlow, its important that the there's a migration guide in place to help developers upgrade. The expectations are that there will be few braking changes to the EventFlow APIs, but there will be questions for data integrity as well as recommendations on how to actually do the upgrade.

Initial work is done here.
https://github.com/eventflow/EventFlow/b

[2021-05-25 18:10] rasmus commented on #838
Link to the 1.0 milestone https://github.com/eventflow/EventFlow/milestone/2

[2021-05-26 12:56] alasdair-stark-screenmedia opened #845 "ReadModelPopulator is incompatible with IReadModelContext.MarkForDeletion()"
I have a read model which calls MarkForDeletion() when it gets into a state where it does not contain any useful information. The idea is to keep the read model table tidy and minimise storage requirements. Another benefit is that we can make certain inferences if a record is not present in the read model table.

I am attempting to use the read model populator to rebuild a read model. I have notic

[2021-05-30 22:23] WardenUnleashed commented on #845
This issue is related to an issue I posted around 8 months ago and has an impact on Read Models even when you aren't repopulating them with the `ReadModelPopulator`. https://github.com/eventflow/EventFlow/issues/792.

@rasmus I think adding this capability to 1.0 or a future release would be another good wishlist item.

[2021-06-01 00:43] Yaevh opened #846 "Injecting dependencies into ReadModels"
When a domain event is emitted, the readmodel may need to update itself using not only the data in the domain event itself, but also some additional data coming from an external service.
To use a specific example, some of my domain events contain a `UserId` pointing to the user that caused the event to happen. In that case I want to also persist the user email and full name in the readmodel; thus

[2021-06-01 07:47] alasdair-stark-screenmedia commented on #845
@WardenUnleashed is correct, it's the same issue.

[2021-06-08 00:22] WardenUnleashed commented on #845
Right, the issue is when you call `MarkForDeletion` , it keeps the read model permanently deleted despite events after the event being applied. This occurs because there is no `UnmarkForDeletion` equivalent that will allow for the read model to be re-created.

A pretty common scenario I have encountered has been having an event that will "delete" and another one to "restore" that comes after the d

[2021-06-09 02:12] WardenUnleashed commented on #845
I don't think so. `IsMarkedForDeletion` has a property called `IsMarkedForDeletion`, which `MarkForDeletion` sets to true.

The behavior I expect would be that if  `IsMarkedForDeletion` is true after applying all events relevant to the read model, then the read model will be deleted. Conversely, if `IsMarkedForDeletion` is false after applying all events, I would expect for the read model to be cr

[2021-06-10 07:08] rasmus commented on #841
Done, GitHub actions created for 1.x and uses the same build setup as 0,x

[2021-06-10 07:08] #841 closed, assigned to nobody

[2021-06-10 07:11] rasmus commented on #846
@Yaevh can you use a custom implementation of `IReadModelFactory<>`?

[2021-06-10 07:12] hvidgaard-ims commented on #846
You are correct that the current way of resolving a dependency in a readmodel, is a service locator pattern. Whether or not that is an anti pattern is a discussion for another time, but I would add that if you do use  a DI framework that actually verify your dependency graph at startup, such as SimpelInjector, it's impossible for it to verify this particular use of DI.

Your proposed solution does

[2021-06-10 07:18] hvidgaard-ims commented on #846
@rasmus That is a good solution too, and possible right now, I was not aware of that particular abstraction.

[2021-06-11 11:15] rasmus commented on #830
This will be fixed as part of the version 1.0 release

https://github.com/eventflow/EventFlow/blob/develop-v1/Source/EventFlow/Jobs/IJob.cs

[2021-06-11 11:47] #830 closed, assigned to nobody

[2021-06-11 12:47] #837 closed, assigned to nobody

[2021-06-11 12:49] #804 closed, assigned to nobody

[2021-06-11 12:50] #801 closed, assigned to nobody

[2021-06-11 12:50] rasmus commented on #840
Fixed

[2021-06-11 12:50] #840 closed, assigned to nobody

[2021-06-11 12:51] #789 closed

[2021-06-11 12:53] #737 closed

[2021-06-11 12:53] #736 closed

[2021-06-11 12:54] #708 closed

[2021-06-11 12:54] rasmus commented on #703
Closing as answered

[2021-06-11 12:54] #703 closed

[2021-06-11 12:55] #697 closed

[2021-06-11 12:55] rasmus commented on #689
Closing as answered

[2021-06-11 12:55] #689 closed

[2021-06-11 12:57] rasmus commented on #679
Closing this as a stale question

[2021-06-11 12:57] #679 closed

[2021-06-11 12:57] rasmus commented on #673
Closing this as a stale question

[2021-06-11 12:57] #673 closed

[2021-06-11 12:59] rasmus commented on #667
Need to test this

[2021-06-11 12:59] #658 closed

[2021-06-11 13:00] rasmus commented on #684
Done

[2021-06-11 13:01] rasmus commented on #661
Need to investigate this

[2021-06-11 13:02] rasmus commented on #628
Closing, unsure

[2021-06-11 13:03] rasmus commented on #521
This will change for 1.0

[2021-06-11 13:03] #521 closed

[2021-06-11 13:04] #793 closed

[2021-06-11 13:05] #751 closed

[2021-06-11 13:06] #594 closed

[2021-06-11 13:08] #846 closed, assigned to nobody

[2021-06-11 13:12] rasmus commented on #655
This hasn't surfaced since and it lacks information. Please open again if there's still a problem

[2021-06-11 13:12] #655 closed

[2021-06-11 13:15] #208 closed

[2021-06-11 13:15] rasmus commented on #191
Will have a look at this with `IAsyncEnumerable`, maybe for 1.0

[2021-06-11 13:15] #191 closed

[2021-06-11 13:16] #148 closed

[2021-06-11 13:16] rasmus commented on #53
OWIN package dies with 1.0

[2021-06-11 13:16] #53 closed

[2021-06-11 13:18] #571 closed

[2021-06-11 13:21] rasmus commented on #591
This is implemented in 1.0

[2021-06-11 13:21] #591 closed

[2021-06-11 13:22] rasmus commented on #567
Seems to be answered, open again if not

[2021-06-11 13:22] #567 closed

[2021-06-11 13:25] rasmus commented on #414
PostgreSQL support is done

[2021-06-11 13:25] #414 closed

[2021-06-11 13:25] #307 closed

[2021-06-12 23:06] WardenUnleashed opened #872 "Convert Build Workflow from Appveyor to Github Actions"
I noticed there was some work on this done in the `develop-v0` branch. I also was [working on some of that in my sparetime](https://github.com/WardenUnleashed/EventFlow) and figured we might want to consolidate or at least have a place to discuss the status of it!

PS: I would assign this to the milestone but I don't think I have permissions to

[2021-06-14 09:48] rasmus commented on #872
GitHub Actions have been enabled for v1
https://github.com/eventflow/EventFlow/pull/852

But since Linux containers aren't possible on GitHub Actions, it isn't really possible for v0
https://github.com/eventflow/EventFlow/pull/850

[2021-06-14 09:57] rasmus commented on #872
Here's the issue related to running Linux containers on Windows VMs in GitHub Action runners
https://github.com/actions/virtual-environments/issues/2216

[2021-06-15 01:20] WardenUnleashed commented on #872
@rasmus I see. I haven't entirely finished it yet but instead of just running the `build.ps1` script, I was converting the whole process into [github action steps](https://github.com/WardenUnleashed/EventFlow/blob/develop-v0/.github/workflows/build.yml) and it seemed to be working to at least build and run the unit tests for  `develop-v0` successfully. I can continue working towards that goal if y

[2021-06-15 12:48] wenkepaul commented on #628
@rasmus , The source code has a third type parameter (`TExecutionResult`) which doesn't exist in the documentation.

[Documentation](https://docs.geteventflow.net/Commands.html) has
[code]

And the source code (at least version 0.81.4483) has:
[code]

[2021-06-15 13:07] wenkepaul commented on #628
`CommandHandler` accepts both three and four type parameters.  The implementation with three type parameters passes `IExecutionResult` to the implementation with four type parameters.  Could the same be done for `DistinceCommand`?
[code]
and
[code]

[2021-06-16 23:30] Yaevh commented on #417
This limitation stems from the fact that the database is configured globally and not per `UseEventStore()`/`UseReadModelStore()` call. And to say frankly it's kinda pain in the butt.

Currently `IMsSqlConnection`, `IMsSqlConnectionFactory` etc. are registered directly in the container using `ConfigureMsSql()`. Instead, `UseMssqlEventStore()` (or maybe an overload of that method?) should accept `IM

[2021-06-17 05:23] rasmus commented on #417
Something that needs to be investigated for 1.0 for certain

[2021-06-17 05:28] rasmus commented on #872
v0 still needs to support .NET Framwork and since GitHub actions already work on v1 using the `build.ps1` on .NET Core 2.1 and upwards, I think that I'll stick with that. When v1 has been fully released, v0 and v1 can start to have different build setups and AppVeyor can be completely removed when v0 is no longer maintained.

In short, the build setup already in place for v0 and v1, with GitHub Ac

[2021-06-17 05:33] rasmus commented on #628
Thanks @wenkepaul for clarifying

[2021-06-17 05:38] rasmus opened #876 "V1 API: Which should be the default serializer"
With the addition on #848 for v1, there's now an option to switch which is the default. In addition, it might make sense to move e.g. Newtonsoft to a separate NuGet package to minimize the dependencies referenced by the core `EventFlow` package.

[2021-06-17 05:43] rasmus commented on #834
@Kladzey would you be able to create a test that triggers the error as an PR?

[2021-06-17 05:46] #832 closed, assigned to nobody

[2021-06-17 05:51] #831 closed, assigned to nobody

[2021-06-17 05:52] rasmus commented on #842
I'll slowly be moving issues that are more in a Q&A nature to the new Discussion feature of GitHub in order to make the list of issues easier to manage.

[2021-06-17 05:53] #829 closed, assigned to nobody

[2021-06-17 05:56] rasmus commented on #824
@hvidgaard is it bulk operations of the same read model or 10 different read models? EventFlow does do updates to different read models at the same time, have a look at `DispatchToReadStores`. Although, there might be a bug.

What kind of read store are you using? MSSQL?

https://github.com/eventflow/EventFlow/blob/develop-v1/Source/EventFlow/ReadStores/DispatchToReadStores.cs

[2021-06-17 05:57] #798 closed, assigned to nobody

[2021-06-17 05:59] rasmus commented on #788
Hi @FinalFortune if you domains are isolated, moving them to separate persistence stores seems like a good solution or did you figure something else.

[2021-06-17 05:59] #788 closed

[2021-06-17 16:29] wenkepaul commented on #628
If you think following the example from the `CommandHandler` is the ideal solution, I can implement it.

[2021-06-17 23:16] Yaevh opened #883 "Project removal and restore policy per v1.0"
I'm trying to get some work done in #417, starting from `develop-v1` branch, but `EventFlow.MsSql` project was removed from the solution in #810 (the same happened to pretty much every other project except core `EventFlow`). What was the reason for this decision?

I can still add `EventFlow.MsSql` manually and work from there, but then I encounter two problems:
1. Should I re-add it to solution on

[2021-06-22 09:28] hvidgaard-ims commented on #824
We're using MSSQL, and are trying to optimize a complete rebuild of all readmodels. It's quite a while since I looked at it, but I think it was reading all events multiple times, instead of just once.

[2021-06-29 06:00] rasmus commented on #883
Hi @Yaevh

Sorry for the confusion. All projects that doesn't yet compile in v1 has been removed in order to simplify the conversion and release process. Basically projects are updated one-by-one and added to the solution as they are updated. The updates are mainly focused on replacing `ILog` with `ILogger<>` and `IResolver` with `IServiceProvider`.

 You can view the current state of projects in

[2021-06-29 06:01] rasmus commented on #883
`EventFlow.MsSql` has since been added to the solution and released as part of an alpha version for v1

[2021-06-29 06:02] #883 closed, assigned to nobody

[2021-06-29 06:03] #839 closed, assigned to nobody

[2021-06-29 06:03] rasmus commented on #839
Didn't get any

[2021-06-29 20:22] dthk-cogmatix commented on #833
Outsider observation:

This may be due to a larger design problem that is concealed within the framework.  I don’t even know if you could classify it as a bug, but a consequence of the current implementation.  I’m not bashing EventFlow, as I don’t think any framework really has this solved, and EventFlow has provided a great starting point to start focusing on solving the problem at hand and not r

[2021-07-04 04:59] k3daevin commented on #350
This should still be stated in the documentation. I was looking for these Repositories but yeah, it's to implementation specific.

[2021-07-06 04:06] loyldg opened #886 "ReadModelFactory.CreateAsync's log messages missing id parameter"
EventFlow/ReadStores/ReadModelFactory.cs
_logger.LogTrace in method CreateAsync missing id parameter,if LogLevel.Trace is enabled,System.FormatException will throw
[code]

[2021-07-08 19:11] AnthonyCarl commented on #845
@Teides I don't think there should be an `UnmarkForDeletion` either. The problem is that the behavior is different in the "rebuild" code path, which applies events in batches, vs the "normal" read model update which applies event one by one (which is why @alasdair-stark-screenmedia solution works). In the one by one case, the model would have actually been deleted in the read store. In the batch c

[2021-07-09 08:16] alasdair-stark-screenmedia opened #887 "Race conditions in MssqlReadModelStore"
When a read model is to be created or updated, the UpdateReadModelAsync method is called. This method performs the following steps:

1.	Fetch read model from database if it exists
2.	Create / update readmodel in memory
3.	Create / update readmodel in database

One of our read models is a view of a subset of the data within an aggregate. We use a read model locator to determine the id. The id is a

[2021-07-09 08:27] alasdair-stark-screenmedia commented on #887
Here's our custom class based on the original. It would be good to know if we've done anything here that might break anything in Eventflow! I might have broken the TransientFaultHandler or something...

[code]

[2021-08-26 00:49] laalkep opened #889 "When Publishing Command - MetadataKeyNotFoundException: Specified argument was out of the range 'previous_source_ids'"
I get the below exception whenever I try to publish a command related to one particular AggregateRoot.  The aggregate has snapshots and it seems to be that that fails.  I deleted the snapshots for that aggregate and it now works.

I have recently updated from version 0.81.4483 to 0.82.4659

I can work around it by deleting the old snapshots but I'm not sure that is a good idea.

Thanks.

[code]

[2021-08-26 17:14] rasmus commented on #889
Hi @kepboy can you create a test that reproduces the problem?

[2021-08-26 17:22] rasmus opened #891 "Investigate and potentially refactor Handfire IHangfireJobRunner"
The interface `IHangfireJobRunner` needs some refactoring, properly some builder pattern instead of continuing to plaster method overloads on the interface.

See #849.

[2021-08-27 00:36] laalkep commented on #889
I've created a sample project that reproduces the error, not sure how an automated test could be constructed for this one.

To reproduce:
1. Unzip the project and open (you'll need visual studio and LocalDb)
2. Update database using Package-Manager
3. Run the simple command line program
4. It should create some events and at least 1 snapshot, you can check in the database
3. Upgrade the project to

[2021-08-31 08:57] #803 closed, assigned to nobody

[2021-08-31 22:16] kepboy commented on #889
Any ideas?

[2021-08-31 22:22] laalkep commented on #889
I wonder if there should be a "TryGetMetadataValue" method in [MetadataContainer](https://github.com/eventflow/EventFlow/blob/develop-v1/Source/EventFlow/Core/MetadataContainer.cs)

And [SnapshotMetadata.cs](https://github.com/eventflow/EventFlow/blob/develop-v1/Source/EventFlow/Snapshots/SnapshotMetadata) should use that method, or catch the exception in the event the metadata does not contain th

[2021-09-01 06:07] rasmus commented on #889
The `TryGetMetadataValue` is better.

https://docs.microsoft.com/en-us/dotnet/standard/exceptions/best-practices-for-exceptions

[2021-09-01 06:07] rasmus commented on #889
I'll have a look

[2021-09-01 06:20] rasmus commented on #889
Hi @kepboy I just did a quit spike on the bug. Haven't looked into the code or the tests yet. However, at a glance it seems like the PR might fix the issue. You are right, the `SnapshotMetadata`  should have used the existing `TryGetValue` instead.

[2021-09-08 20:15] rasmus commented on #889
@kepboy released in 0.83.4713

[2021-09-08 20:15] #889 closed, assigned to rasmus

[2021-09-09 05:45] #886 closed, assigned to nobody

[2021-09-09 14:28] dbrassard-genetec opened #900 "CommandHandler - How to instantiate new aggregate with parameterized constructor"
## Context
We have an a Command that creates a new aggregate.
When the CommandHandler executes the command, it creates a new aggregate instance using a default constructor.
We would like to create a new instance using a parameterized constructor so that we can enforce business rules in the constructor.

## Example
[code]

## Questions
- Is it possible to have the command handler call a  parameteri

[2021-09-09 14:30] dbrassard-genetec commented on #900
Sorry will close this issue, I opened a discussion.
#901

[2021-09-09 14:30] #900 closed, assigned to nobody

[2021-09-09 17:11] rasmus commented on #698
Seems to be fixed by using the correct attribute

[2021-09-09 17:11] #698 closed

[2021-09-09 17:12] rasmus commented on #436
The is implemented and released in 1.0.4748-alpha

Have a look at https://github.com/eventflow/EventFlow/blob/develop-v1/MIGRATION_GUIDE.md#notable-new-features-in-1x

[2021-09-09 17:12] #436 closed

[2021-09-09 17:13] rasmus commented on #480
There's now a long list of examples in the readme

[2021-09-09 17:13] #480 closed

[2021-09-09 17:16] rasmus commented on #755
I'll update the reference for the 1.0 release

[2021-09-09 17:20] rasmus commented on #599
Old issue that has already been fixed. The `PublishAsync` now throws `SagaPublishException` if any commands failed

[2021-09-09 17:20] #599 closed

[2021-09-09 17:20] rasmus commented on #599
Fixed in #603

[2021-09-09 17:33] rasmus commented on #609
Think this will be a good candidate for 1.0 as it might rely on changing the code significantly.

Considerations
- I a subscriber throws an exception on the first event, should it still receive the next
- How should this interact with the `IDispatchToSubscriberResilienceStrategy`

[2021-09-14 22:52] fratting opened #903 "Observation: Events by the same name in different namespaces targeting different aggregates won't work"
This may already be a known issue:
If you create an event class by the same name but in different namespaces and emit them from different aggregates eventflow doesn't exactly know when it rehydrates the event which aggregate the event should reapply to and can pick the wrong one. The easy work around is just to not reuse event names, though something to consider in future releases to maybe see abo

[2021-10-06 09:52] SeWaS commented on #876
Hello there,

If I may ask a question: would you leave the interface `IJsonSerializer` in the core `EventFlow` package and then offer two NuGet packages, `EventFLow.Newtonsoft` and `EventFlow.SystemTextJson` (for the lack of a better naming), for instance? Or would you go with one package like `EventFlow.Serializing` which provides the public interface, as well as multiple implementations? Or some

[2021-10-19 21:40] Athosone opened #906 "Load aggregate at specific version"
Hi !

In our company we are starting to use Eventflow.

We have a use case where we want to query the state of our aggregate between date range.

So far I did not see any out of the box way to do that. Did I miss something or did not understand a concept?

I think that I should use the event store and load all events for my aggregate then replay them until the desired date however I can foresee pe

[2021-10-20 06:57] rasmus commented on #906
Hi @Athosone

Just to make sure that I fully understand, you want to read the aggregate as it looked at a specific point in time? If so, then no, there isn't anything currently in the framework. But sounds like a useful thing to have.

I looked into the current available APIs and doing it yourself doesn't seem complicated. Read the events from the aggregate you are interested in via the `IEventSto

[2021-10-20 06:58] rasmus commented on #903
Its a known issue, to give your events custom names with e.g. a domain prefix, use the `[EventVersion]` attribute as documented here https://docs.geteventflow.net/GettingStarted.html#event

[2021-10-20 07:03] rasmus opened #907 "Fix: Supply another mechanism for event naming"
As mentioned in #903, events with the same name created in different namespaces will collide. While there is a workaround using `[EventVersion]`, the OOB experience should be that it should merely work.

An idea would be to create some settings that developers are forced to do during EventFlow initialization, like selecting the naming for events. Then introduce a new naming convention named `Names

[2021-10-20 13:33] Athosone commented on #906
Thanks for the quick reply

Ok then I'll experiment with this, we could contribute eventually if that's something that may interest you?

[2021-10-21 14:26] Athosone commented on #906
As for the snapshot I would need to implement a custom snapshot store which persist a new snapshot of the aggregate instead of updating the current one right ? using the timestamp / id as index

[2021-11-01 07:37] AlsenDev opened #909 "EFCore 6 support (Missing method exception)"
I get this exception when trying to call PublishAsync() from the CommandBus. It seems to be a problem that occurs when using EFCore 6. I got this exception while using EFCore 6.0.0-preview.7 with the newest version of EventFlow, but I get the same error on RC 2.

[code]

I don't know if EFCore 6 support is planned yet, but I thought I at least should mention this error.

[2021-11-08 10:26] trancefreak77 opened #910 "Aggregate changed: How to handle snapshot store"
EventFlow has the concept of event upgraders when a new version of an event looks different. Is there also a concept with regards to the snapshot store?

If a new version of an event needs to be implemented the aggregate may also change. I am using the EF Core snapshot store implementation. Do I have to delete the snapshot store in this case? How can I repopulate the snapshot store?

Is there an e

[2021-11-10 09:02] trikk86 opened #911 "ReadModel Versioning issue."
The problem is probably easy to solve but I spent some time on it and I can't figure it out and EventFlow ReadTheDocs is very outdated.

I created a ReadModel class that implements IAmAsyncReadModel for 3 events and IReadModel interface. Everything goes smooth but I would like to have the ReadModel version.

I added a property to my ReadModel

`        [SqlReadModelVersionColumn]
        public in

[2021-11-12 10:00] rasmus commented on #911
I'll have a look at it this weekend

[2021-11-12 10:02] rasmus commented on #910
Hi @trancefreak77 you can implement a ` ISnapshotUpgrader` to upgrade your snapshots

https://github.com/eventflow/EventFlow/blob/develop-v1/Source/EventFlow/Snapshots/ISnapshotUpgrader.cs

[2021-11-12 13:29] trancefreak77 commented on #910
Hi Rasmus, thanks very much, thats exactly what I was looking for.

[2021-11-14 08:12] rasmus commented on #911
@trikk86 I tested the read model versioning in a simplified test in PR #915 and its updated as expected. Could you create a similar test in the EventFlow repo that shows your problem?

[2021-11-14 09:49] trikk86 commented on #911
Hi @rasmus
I will look into it and do more tests/look into it. I know I had a project in earlier versions where it worked with no issues so I'll try to figure it out tomorrow :)
Thanks for the help!

[2021-11-15 20:14] trikk86 commented on #911
I looked into this and:

I am using version 0.83.4713 and the problem was that you have to use the explicit MsSql attribute. When you use the SqlReadModelVersionColumn attribute it messes up with the GetVersion of the ReadModel store.

Thank you very much @rasmus  and sorry to have wasted some of your time :(

[2021-11-15 20:14] #911 closed, assigned to nobody

[2021-11-17 07:21] ZagreusHere opened #917 "Spliting events to more than one event"
Hello,
Is it possible to upgrade/split an Event to more than one event.

for example:

- emit event 1 → aggregate version 1
- emit event 2 → aggregate version 2
- emit event 3 → aggregate version 3
- here comes the upgrader which upgrades/splits the event 2 into two events. Now the event 3 has an invalid sequence number.

is there a recommended way to split an old event to new events or update the

[2021-11-17 12:58] rasmus commented on #917
Hi @ZagreusHere

Since event upgraders are created for each load, you know that all events that pass through the event upgrader originates from the same event stream. Use can use the `IDomainEventFactory` to create new `IDomainEvent` from existing events and update all the sequence numbers as you read through the events.

https://github.com/eventflow/EventFlow/blob/develop-v1/Source/EventFlow/Even

[2021-11-19 10:52] ZagreusHere commented on #917
Hello @rasmus,

Thank you for the Response. It helped a lot in fixing my problem.

[2022-01-18 17:24] nlips opened #919 "Snapshot upgrader need metadata"
My SnapshotUpgrader need to retrieve data from the aggregate's events.
For this, it use the IEventStore instance.
But it should only take into account events whose sequence is less than or equal to that of the snapshot.
This information should be an argument of the UpgradeAsync method.
Moreover IEventStore should provide a method to get a range of events.

[2022-01-18 17:45] nlips commented on #919
Actually I can't use IEventStore... I don't have the aggregate's id !

[2022-01-23 00:34] johndab commented on #287
Check this out:
[EventFlow.Cassandra.EventStore](https://github.com/Pagaspot/EventFlow.Cassandra.EventStore)

[2022-02-01 09:47] joshua211 opened #921 "Issues with IReadModelLocator and ReadModelDescriptionprovider"
Hello,
not sure if I'm mising something, but I have the following problem:
I have an aggregate with 2 entities and each entity has a read model which is located by a ReadModelLocator. Now i want to add a third Readmodel, that applies events from both entities. This works fine with the InMemoryReadModelStore since i can just return multiple ids from the ReadModelLocator. But when I use MongoDb as m

[2022-02-01 10:04] joshua211 commented on #921
Alright, the solution was to create a new ReadModelLocator that only returns the id of the third readmodel

[2022-02-01 10:04] #921 closed, assigned to nobody

[2022-02-07 10:43] loyldg opened #922 "ISnapshotSerilizer and SnapshotSerilizer spelling not correct"
ISnapshotSerilizer  should be ISnapshotSerializer
SnapshotSerilizer should be SnapshotSerializer

[2022-02-07 22:34] Zev-OwitGlobal commented on #906
I have a similar need, so if it's something you want in EventFlow, I can fork and PR it for you. I would also be interested in helping contribute to the project, we are ramping up to use it here at my company. So let me know if you'd be interested in that as well.

[2022-02-07 22:36] Zev-OwitGlobal commented on #843
Definitely interested in helping out.

[2022-02-10 06:45] rasmus commented on #922
🤦 will fix as part of 1.x, thanks for reporting

[2022-02-16 09:28] rasmus commented on #843
@Zev-OwitGlobal What kind of stuff do you like doing or what do you see yourself helping out with? More likely to find time to do stuff you like 😄

[2022-02-16 20:10] nativenolde commented on #843
@rasmus I appreciate your ambitious efforts and became a sponsor. hopefully more people will follow...
Thank you

[2022-02-16 20:17] Zev-OwitGlobal commented on #843
Pretty much anything, one of my dev teams is using it on their project for a large insurance project - so I can focus on anything needed to get the v1.0 release stable - not sure how much is left but I took a look at the list -- so if you have an area that might help the most, let me know!

________________________________
From: nativenolde ***@***.***>
Sent: Wednesday, February 16, 2022 3:10 PM
T

[2022-02-16 21:04] rasmus commented on #843
@nativenolde I cannot thank you enough. That's just awesome, thanks for sponsoring. Nice words go a really long way, but active support says a lot more ❤️

[2022-02-16 21:47] rasmus commented on #843
@Zev-OwitGlobal as I guess you have noticed, my motivation for doing EventFlow comes in waves (though the thought of stopping has never occurred to me). Having support would definitely take some load off and make spending my spare evenings on EventFlow a lot more fun.

I can give a short status

- I think 1.0 is coming along nicely, but I'm very worried regarding the API. There's several key chang

[2022-02-16 22:37] Zev-OwitGlobal commented on #843
Sounds good! I completely understand the "comes in waves" part, believe me 🙂

I will dive in and see what I can do! I will respond in more length (still working 🙁) Looking forward to helping !

Zev
________________________________
From: Rasmus Mikkelsen ***@***.***>
Sent: Wednesday, February 16, 2022 4:47 PM
To: eventflow/EventFlow ***@***.***>
Cc: Zev Butler ***@***.***>; Mention ***@***.***>
Sub

[2022-02-22 09:05] nlips opened #926 "IEventUpgrader.Upgrade must be async"
My IEventUpgrader need to access a database.
The Upgrade function must be able to return a Task

[2022-02-25 11:18] #917 closed, assigned to nobody

[2022-02-25 11:19] #910 closed, assigned to nobody

[2022-02-25 11:25] rasmus commented on #872
Done

[2022-02-25 11:25] #872 closed, assigned to nobody

[2022-02-25 13:04] rasmus commented on #668
Related to #907

[2022-02-25 13:09] rasmus commented on #610
Now possible to implement with the `I*ResilienceStrategy` interfaces

[2022-02-25 13:10] #610 closed

[2022-02-25 13:13] rasmus commented on #606
Now possible `ISagaUpdateResilienceStrategy`

[2022-02-25 13:13] #606 closed

[2022-02-25 13:15] rasmus commented on #572
Don't think I want to provide recommendations on handling GDPR data, think that would open a can of worms I'm not able to handle.

[2022-02-25 13:15] #572 closed

[2022-02-25 13:16] #524 closed

[2022-02-25 13:16] rasmus commented on #524
Solution found

[2022-02-26 11:27] loyldg opened #935 "Command throws ArgumentNullException with the wrong parameter name"
https://github.com/eventflow/EventFlow/blob/f10b6c317a52d12ff273fd51df03a2f62ad77f1f/Source/EventFlow/Commands/Command.cs#L52
this code should be `if (sourceId == null)  throw new ArgumentNullException(nameof(sourceId));`

[2022-03-02 13:19] #935 closed, assigned to nobody

[2022-03-03 08:28] rasmus commented on #449
Part of the 1.0 release

[2022-03-03 08:28] #449 closed

[2022-03-03 08:29] rasmus commented on #417
Done as done as part of 1.0 release

https://github.com/eventflow/EventFlow/blob/develop-v1/MIGRATION_GUIDE.md#notable-new-features-in-1x

[2022-03-03 08:29] #417 closed

[2022-03-03 08:31] rasmus commented on #906
@Athosone did you see https://github.com/eventflow/EventFlow/issues/570

[2022-03-03 08:32] rasmus commented on #906
Something like

[code]

[2022-03-03 08:32] rasmus commented on #570
Duplicate of #906

[2022-03-03 08:32] #570 closed

[2022-03-03 08:53] rasmus commented on #531
Removed old build system

[2022-03-03 08:53] #531 closed

[2022-03-03 14:15] rasmus opened #937 "Finish migration of 1.0 documentation to mkdocs"
As part of the 1.0 release, the documentation is moved into the main repository to better align the code with the documentation. Going forward, pull requests that warrant a documentation change/addition, should include the changes in the same pull request.

The documentation is currently located on the `develop-v1` branch (default). From here PR's can be made to do improvements and clean it up.

T

[2022-03-04 08:28] rikp777 commented on #909
A friend and I are going to take a look at it today to see if we can fix this

[2022-03-04 08:47] rasmus commented on #812
This will properly need some sections in the documentation as well.

[2022-03-04 08:49] rasmus commented on #668
Closing this as its a duplicate

[2022-03-04 08:49] #668 closed

[2022-03-04 10:26] rasmus commented on #661
Work on event naming is scheduled in #907, closing this as the original issue was found and there's already an issue for the event naming

[2022-03-04 10:26] #661 closed

[2022-03-04 10:29] rasmus commented on #22
Think this it out of scope for EventFlow, use EF integration if more automation is needed

[2022-03-04 10:29] #22 closed

[2022-03-04 10:37] rasmus commented on #903
Closing this as there's a work-round and an issue on improving it #907

[2022-03-04 10:37] #903 closed, assigned to nobody

[2022-03-04 13:11] rikp777 commented on #909
Dear Rasmus
For a graduate internship, I am working on updating an architecture for a company. Your repository fits this incredibly well, the only problem is that the current project needs to be developed in .net 6. Now I would really like to contribute to the project to help you upgrade EF to the current version, only I have some questions.
First of all I would like to send you the link where I c

[2022-03-08 17:06] Stoom opened #938 "CommandHandler can never fail bug (v0 & v1)"
## Issue
I was having issues getting any command to fail when following the docs.  After digging into the code and debugging I noticed that the `CommandHandler<TAggregate, TIdentity, TCommand>` abstract class will **_NEVER_** allow any command to fail.  It disreguards the results of the command and returns back `ExecutionResult.Success()`

## Related code
https://github.com/eventflow/EventFlow/blo

[2022-03-08 17:41] rasmus commented on #938
Can you create a PR that illustrate and reproduce  the problem?

[2022-03-08 18:11] Stoom commented on #938
Is that necessary as it's clear that this code disregards any response from a command handler and always returns `ExecutionResult.Success()`?

I'm pretty busy with other tasks, and it seems to be a simple control flow bug.

[2022-03-09 05:50] rasmus commented on #938
Sorry, if it's an obvious error, I'll have a look when I get back on my feet. Still feeling the after effects of being sick with corona the week before last.

[2022-03-25 03:51] adventphang commented on #938
I don't think it's a bug. Having gone through the code myself, I understand that you will want to define your CommandHandler to inherit from IExecutionResult if you care about the result, and without IExecutionResult if you don't (i.e. relying on DomainError).

So in other words, if you need the command to fail with returned value, have your command handler from CommandHandler<TAggregate, TIdentit

[2022-03-29 21:45] rthomson83 commented on #909
I suspect this is due to framework targeting / version reference issues in the EventFlow.EntityFramework project; I found that EF Core 6 works if you register a new service with implementation of IEntityFrameworkReadModelStore<TReadModel> using the exact same code in the repo then it works fine.
Only seems to be the read store side that's affected.

[2022-04-15 01:24] Yaevh opened #943 "AggregateRoot.Emit() does not check for duplicate SourceId"
When emitting an `AggregateEvent` with a `Metadata.SourceId`, `AggregateRoot.Emit()` does not inject the emitted event's `Metadata.SourceId` into `PreviousSourceIds`, and so issuing the same command with the same `SourceId` on the same aggregate multiple times doesn't throw a `DuplicateOperationException`. This check for duplicate `SourceId` seems to only be performed when using `AggregateStore.Up

[2022-05-30 06:35] rasmus commented on #943
Should be checked

[2022-06-08 13:26] loyldg opened #945 "SnapshotAggregateRoot does not throw DuplicateOperationException when execute the same comamnd executed before save snapshot"
After load `SnapshotAggregateRoot` from the snapshot,execute the same command before save snapshot,the `DuplicateOperationException` not thrown.
Possible causes: the latest sourceId is not include in `SnapshotMetadata.PreviousSourceIds`,`SnapshotAggregateRoot.CreateSnapshotMetadataAsync` not add current sourceId to `SnapshotMetadata.PreviousSourceIds`.

This is the reproduce code:
[code]

[2022-06-08 18:14] rasmus commented on #943
@Yaevh the check for source ID is done in the `AggregateStore`. Here's the reference.

https://github.com/eventflow/EventFlow/blob/develop-v1/Source/EventFlow/Aggregates/AggregateStore.cs#L132

[2022-06-08 18:21] rasmus commented on #938
@Stoom the intent is that you either go with the "old" model, which is to throw a exception, e.g. using the provided `DomainError`. Or you use the "new" method, which is to return a proper `IExecutionResult` and validate the return value.

Its slightly documented here
https://docs.geteventflow.net/Commands.html#execution-results

Here's the code referenced, as you pointed out. The result succeeds.

[2022-06-08 18:51] rasmus commented on #945
@loyldg thanks for reporting. This is indeed a bug!

I'm working on a fix here #946.

[2022-06-08 18:55] rasmus commented on #945
Confirmed bug, you get a hug 😄

![love](https://user-images.githubusercontent.com/18956/172694777-f21b3b6f-8bc0-4196-a0f2-5e8ca729a655.gif)

[2022-06-09 10:09] rasmus commented on #922
Fixed in #942, will be released with next 1.0 alpha

[2022-06-09 10:09] #922 closed, assigned to nobody

[2022-06-10 07:06] #945 closed, assigned to nobody

[2022-06-10 07:06] rasmus commented on #945
Will be in next alpha release of 1.0

[2022-07-07 14:44] dco123 opened #952 "Getting correct aggregate state in subscriber"
As stated in #562 we can get the aggregate state from the aggregate store, but i think this will be the latest state and not necessarily the correct state for the sequence number attached to the event being notified. Is there a way to get the correct state for the sequence version of the event? Ideally the correct state of the aggregate would be passed into the subscriber

Thanks

[2022-07-11 17:44] jessemillerrev commented on #909
Is there an update on this? I cannot get it figured out and it is blocking me hard.

[2022-07-11 18:57] jutimor commented on #909
You have to target EntityFrameworks nuget packages with version 5.X.X to have it working. Seems it won't be fixed in EventFlow 0.X but only in 1.X

[2022-07-11 19:33] jessemillerrev commented on #909
I solved this by implementing my own EntityFrameworkReadModel service so it will use the EF version that my project uses instead of EventFlow as was suggested by @rthomson83 above. Even implemented its own extension method for UseEntityFrameworkReadModel. This is working perfectly and when/if this gets fixed in 1.X it should be simple to point back to the EventFlow version.

[2022-07-12 14:51] nZeus commented on #909
@jessemillerrev do you have an example? I'm struggling with the same issue now..

[2022-07-12 15:31] rthomson83 commented on #909
Start by adding a new store like this one:
https://github.com/rthomson83/eventflow-ef-core-fix/blob/main/EntityFrameworkCoreReadModelStore.cs

Then you can create a new extension method to make using it easier:
https://github.com/rthomson83/eventflow-ef-core-fix/blob/main/EFReadStoreExtensions.cs

Finally use/register the service via autofac however you are using that. For me it was a module that

[2022-07-12 16:10] jessemillerrev commented on #909
@rthomson83 I wish I had those links before I figured it all out! Thanks for posting that, hopefully others will benefit from your awesome work there.

[2022-07-12 20:08] nZeus commented on #909
Thank you very much @rthomson83 for the snippets.
I've just checked and your implementation indeed solves the problem. Although I'm not sure if we can use this on production :(, unfortunately. I also noticed that it generates the wrong `Version` number (`0` instead of `1`)...

Thanks again!

[2022-07-12 20:40] rthomson83 commented on #909
No worries, I did notice that with the version but it does increment. I've not changed anything in the store (that's the original code from the event flow repo). I'm pretty sure the version is like that because its not been set default in the read model property Version, defined with the ConcurrencyCheck attribute. If you start it at 1 it would increment from there.

[2022-07-27 13:00] dco123 commented on #952
I guess the answer to this will be that the subscriber should maintain its own state. My issue is that my subscriber only exists to publish a public representation of that event somewhere, but that public event message also includes the state of the aggregate after the event occurred.

It feels like overkill to have to maintain the aggregate's state in the event publisher. An alternative is the ag

[2022-08-09 18:02] jessemillerrev commented on #478
I was able to implement Eveneum as the interface to CosmosDB pretty easily actually. I am not sure if that is the direction you want to go here in EventFlow but it is definitely an option. The only real issue with using Eveneum is there is a name clash as both use EventStore as a concept.

[2022-08-09 18:08] jessemillerrev commented on #756
I already have an integration for Azure Service Bus that I am working on cleaning up for a possible PR.

[2022-08-24 14:39] BerkCakir opened #957 "Configurable MongoDB Query BatchSize"
I'm using EventFlow with MongoDB eventstore. I really need a larger batch size while loading committed events. Is it possible to make this batch size configurable?

public async Task<IReadOnlyCollection<ICommittedDomainEvent>> LoadCommittedEventsAsync(IIdentity id, int fromEventSequenceNumber, CancellationToken cancellationToken)
        {
            return await MongoDbEventStoreCollection

[2022-08-25 10:24] rasmus commented on #957
Seems easy enough

[2022-08-25 13:07] wgtmpeters commented on #952
I would not prefer to use the actual aggregate to get the information you need.
Either the event should contain the data you need or you could build up readmodels for such cases.

And it's also very unlikely the aggregatestore or readmodel contains newer information as what was available when the event was published.
It's not impossible offcourse but if you have such frequent parallel updates the

[2022-08-25 13:09] dco123 commented on #952
Yes, agreed. I'll close this as I don't need it anymore. Thanks

[2022-08-25 13:09] #952 closed, assigned to nobody

[2022-10-10 13:03] LenFon opened #958 "An error occurs when net6.0 uses UseFilesEventPersistence"
An error occurs when net6.0 uses UseFilesEventPersistence (Invalid URI: The format of the URI could not be determined).

In the source code, this method only supports netcore3.0 and netcore3.1. Expect to be able to adjust to support versions above net3.1

![image](https://user-images.githubusercontent.com/7201759/194873563-433333ee-a23c-4d50-a84f-a12ca9099416.png)

[2022-11-02 14:04] FinalFortune opened #959 "EntityFramework Dictionary Updates"
I'm using [JsonExtensionData](https://www.newtonsoft.com/json/help/html/t_newtonsoft_json_jsonextensiondataattribute.htm) for an entity and its ReadModel.    Updates don't seem to be always propagated to the database.

[code]

I read that `Update` must be explicitly called on the dbset/entity for the above modification to allow for change tracking to work.

I'm not entirely sure what the best solu

[2022-11-02 23:40] Yaevh commented on #943
I've looked through the source code and it seems that this behaviour (not checking for duplicate `SourceIds` inside the aggregate) is actually desirable, because a single command may actually result in emitting multiple events from the aggregate - and these events would have the same `SourceId`.

Consider a `CulinaryRecipeAggregate`: a recipe consists of one or more steps ("preheat a frying pan",

[2022-11-02 23:40] #943 closed, assigned to nobody

[2022-11-09 10:58] nZeus commented on #938
I faced the same issue today.
Indeed, after changing the Command to ` : Command<MyAggregate, MyIdentity, **IExecutionResult**>` it works as expected.
But I think the way it is implemented (and documented) is not very obvious.
I think this is a place where people can easily get confused..

[2022-11-09 11:31] rasmus commented on #938
Good point, will add it to the documentation On 9 Nov 2022, at 11.58, Ilia Tsvetkov ***@***.***> wrote:﻿
I faced the same issue today.
Indeed, after changing the Command to  : Command<MyAggregate, MyIdentity, **IExecutionResult**> it works as expected.
But I think the way it is implemented (and documented) is not very obvious.
I think this is a place where people can easily get confused..

—Reply

[2022-11-11 10:00] rasmus commented on #959
Can you reproduce the problem in a PR for one of the EF integration tests?

[2022-11-11 10:06] rasmus commented on #958
PR #961 fix this as the method is there. This was properly a leftover from .NET Framework that lacked the method

[2022-11-12 09:07] #958 closed, assigned to nobody

[2022-11-26 15:56] Stoom commented on #938
Does it make more sense to not have that method return anything? If it always returns success then the only point I could see to return it is to make integrating into other methods easier, at the expense of discoverability/increase cognitive load when trying to figure things out like this issue