[2015-03-23 06:59] rasmus opened #3 "Implement optimistic concurrency for read models"
Version should be checked on reading and writing updates to read models to ensure that no-one updated the read model while we were e.g. applying events to ours.

[2015-03-23 07:01] rasmus opened #4 "Implement optimistic concurrency for MSSQL event store"
The event store checks that no events was written via the indexes, but we need to implement retry and make the exception more explicit.

[2015-03-23 07:09] rasmus opened #5 "Create NuGet package for make domain tests easier"
Instead of leaving developers to implement their own helpers for testing domain code, they should be provided by the framework.

[2015-03-23 10:16] rasmus opened #6 "ReadModelStore should cache Apply method infos"
As the title says...

[2015-03-23 10:18] rasmus opened #7 "Create a read model store manager"
Pull stuff related to read model stores out of `CommandBus` and put it into another class

[2015-03-23 10:19] rasmus opened #8 "Integration tests for MSSQL packages"
Complete integration testing with MSSQL is needed to make it less likely that these components breake.

[2015-03-23 11:07] rasmus opened #9 "Add NOLOCK to MSSQL SELECT statements"
As the title says

[code]

[2015-03-23 12:11] rasmus opened #10 "Create more metadata providers"
Add a few more metadata providers that developers can use if they like

Examples:
- Add event assembly name and version
- Add event type
- Add environment specific information as e.g. machine name

[2015-03-23 12:14] rasmus opened #11 "File systems event store"
As an alternative to the in-memory event store, create a file system event store that stores events as JSON on disk.

[2015-03-23 12:31] rasmus opened #12 "Update README with shields"
Examples
- https://github.com/fsprojects/Paket/blob/master/README.md

[2015-03-23 18:59] #6 closed

[2015-03-23 21:10] #7 closed

[2015-03-23 21:10] #10 closed

[2015-03-24 20:30] rasmus opened #13 "Add cancellation token support"
It would seem like cancellation tokens has been forgotten

[2015-03-24 21:06] #4 closed

[2015-03-25 06:48] tabro commented on #9
@rasmus You sure you want this? Kasper Brandenburg had a talk a few days ago arguing against ever using NoLock - which is being deprecated from next MSSQL release.

[2015-03-25 06:50] rasmus commented on #9
@tabro Doh!

[2015-03-25 06:50] #9 closed

[2015-03-25 18:57] rasmus opened #14 "Run time event mapping"
Migrate event to newer/other versions at run-time to facilitate the deprecation of events.

[2015-03-25 19:50] rasmus commented on #13
Fixed in e90f747

[2015-03-25 19:50] #13 closed

[2015-03-26 08:26] rasmus opened #15 "Aggregate/event caching"
Make it possible to do custom aggregate/event caching and provide an in-memory implementation that can be used

[2015-03-26 12:39] rasmus opened #16 "In-memory event store should also throw optimistic concurrency exceptions"
The in-memory event store should also throw optimistic concurrency exceptions if there's a conflict

[2015-03-30 08:50] rasmus commented on #8
Done in 9d095d42a76

[2015-03-30 08:50] #8 closed

[2015-03-30 09:18] rasmus opened #17 "Introduce a simple saga system"
Inspiration
 - https://msdn.microsoft.com/en-us/library/jj591569.aspx
 - http://blog.jonathanoliver.com/cqrs-sagas-with-event-sourcing-part-i-of-ii/

Notes
 - Its critical that the saga system is optional, as developers might a different view on how to write sagas or even if they should be used

[2015-03-31 13:54] #16 closed

[2015-03-31 14:31] rasmus opened #18 "Introduce aggregate event routing to allow e.g. state objects"
Instead of enforcing developers to implement the `Apply` methods on the aggregate classes, allow event routing that could e.g. allow the `Apply` methods to be implemented on a nested state object instead.

[2015-03-31 19:02] #18 closed

[2015-03-31 19:59] rasmus opened #19 "Move remove base class `EventStore`"
It seems like the functionality put into the `EventStore` base class could be moved to a separate class. This class would then have the following responsibility

 - Gathering metadata for events
 - Mapping from the uncommitted events to serialized events
 - Mapping from committed events to domain events

In short, map between storage to domain

[2015-04-01 19:26] rasmus opened #22 "Help with creation of SQL for MSSQL read models"
Instead of developers writing their SQL manually for MSSQL read models, create a helper classes that can assist them.

Its vital that this is opt-in.

[2015-04-08 10:54] rasmus opened #23 "Can we do things better"
Have a look at these recommended articles and see if there's any lessons that can be implemented in EventFlow.

 - https://www.cuttingedge.it/blogs/steven/pivot/entry.php?id=91
 - https://www.cuttingedge.it/blogs/steven/pivot/entry.php?id=92

[2015-04-08 11:20] tabro commented on #15
@rasmus It should be extendable in order to support third party cache implementations (i.e. memcached)

[2015-04-08 11:40] rasmus commented on #15
@tabro Sure. The framework should provide a default in-memory implementation that does it a fairly good job and then allow other to override it using the existing registration scheme.

[2015-04-08 11:44] rasmus commented on #15
@tabro The in-memory should use the `MemoryCache` and then be registered as a singleton.

https://msdn.microsoft.com/en-us/library/system.runtime.caching.memorycache%28v=vs.110%29.aspx

[2015-04-09 07:54] rasmus opened #26 "Elasticsearch read model store"
Create a read model store for Elasticsearch.

[2015-04-10 05:18] rasmus opened #27 "Cleanup too many `ToList()`"
Currently the code has way too many `ToList()` operations. In some places there's no need and we should return `IEnumerable<T>` instead and use `yield`.

[2015-04-10 05:24] rasmus opened #28 "Create ISubscribeAsynchronousTo"
Developers might want to add some processing of events for later and although it is currently possible to do this, we should help developers.

- Create new the interface `ISubscribeAsynchronousTo<T>`
- Add a method on `IEventJsonSerializer` that can serialize IDomainEvents to help developers e.g. send events through RabbitMQ for asynchronous processing
- Create a new interface and service similar

[2015-04-10 15:53] #15 closed

[2015-04-10 17:36] #11 closed

[2015-04-11 18:52] tabro commented on #26
@rasmus Starting to look into this one on branch ```elasticsearch-readmodels```

[2015-04-14 04:49] rasmus opened #32 "OWIN support"
Create a NuGet package for OWIN support along with a few metadata providers.

[2015-04-14 18:18] #14 closed

[2015-04-15 17:25] rasmus opened #34 "Statistics module"
Be able to gather timing statistics from within EventFlow

Something similar to this

[code]

[2015-04-15 17:29] rasmus opened #35 "Aggregate snapshotting"
Instead of loading the entire event history for a aggregate, load a snapshot representing e.g. events 1 to 100 and then continue from there.

Problems
 - How to handle event upgrading

Required functionality
- Delete snapshots and fallback to event loading

[2015-04-21 14:32] rasmus opened #36 "Alternative interface for configuration"
We need to rethink how the `EventFlowOptions` interface is and how users define configuration.

Proposals:

[code]

@tabro Any other suggestions?

[2015-04-23 10:49] #32 closed

[2015-04-24 06:06] rasmus opened #41 "Apply missing events to read models"
If a read model version doesn't match with the domain events to be applied, missing events should be loaded and applied to the read model.

[2015-04-24 08:25] rasmus opened #43 "Introduce ITimeMachine"
Create a service for getting `DateTimeOffset.Now` to make it easier to test time.

[2015-04-24 08:28] rasmus opened #44 "Not possible to resolve IOwinContext from singleton event store"
As the in-memory event store is a singleton, it cannot resolve the metadata providers that depend on `IOwinContext`. The workaround is to use a event store that resolves to a new instance each time.

[2015-04-27 17:36] rasmus commented on #43
Wait until someone actually has a good idea (and need) before implementing this

[2015-04-27 17:36] #43 closed

[2015-04-28 05:42] rasmus opened #48 "Delete event streams from event store"
We should provide functionality to completely remove specific event streams from the event stores, i.e., aggregates.

[2015-04-28 05:43] rasmus opened #49 "Archive event streams"
As an alternative to the of deleting event streams described in #48, we should provide functionality to ease the process of archiving an aggregate event stream.

[2015-04-28 06:38] rasmus opened #50 "Handle transient MSSQL exceptions"
There are several MSSQL exceptions which should be retried.

 - http://www.getcodesamples.com/src/A122E27E/5586EA7F

[2015-04-28 10:31] rasmus opened #51 "Consider change to LibLog"
Instead of creating yet another log framework within EventFlow, consider changing to LibLog and then embed the DLL with ILMerge.

https://github.com/damianh/LibLog

[2015-04-28 10:32] rasmus commented on #19
It might not be a good idea after all, as it makes it a bit easier to create new event stores...

[2015-04-29 12:22] #12 closed

[2015-05-02 10:05] rasmus opened #53 "OWIN package should include optional web API"
Create an optional middleware that exposes the event stream and/or aggregates on a web API.

Make sure to ILMerge any additional references to e.g. web API. The `EventFlow.Owin` package should only reference Owin and EventFlow.

[2015-05-02 19:57] rasmus commented on #34
As its now possible to decorate existing services, this might no longer be needed.

[2015-05-02 19:59] rasmus commented on #49
Consider replacing all events in the original store with a special archived event, then if the aggregate is loaded, throw a `AggregateArchivedException` or something similar. This would make it impossible to reuse the same aggregate ID twice.

[2015-05-04 19:19] rasmus commented on #49
@MartinHave What do you think about this idea? Specifically the concept of throwing an exception if the aggregate is loaded and archived.

[2015-05-04 19:42] #50 closed

[2015-05-05 05:08] MartinHave commented on #49
@rasmus Why would we want to do that? Could you specify when this would be handy? As a base rule, we should never do anything else than appends on the event store.

[2015-05-05 08:42] rasmus commented on #49
@MartinHave When a aggregate is deleted, then we would like to archive the event stream somewhere else to minimize storage so that our event store doesn't grow indefinitely. Thus we would like to be able to archive an aggregate, i.e., move the event stream to some cheaper storage. The idea was, as we move the event stream, then if a aggregate by accident is created with the same ID as an archived,

[2015-05-05 08:51] MartinHave commented on #49
@rasmus There are many cases where it is very important to keep the event stream intact. What about new views that needs to aggregate across many events even those that have ended there aggregate lifetime. I I would want to create a new statistics view, then I would not get a complete picture. I would argue that we should NEVER move event from the event stream.

[2015-05-06 05:18] rasmus commented on #49
@MartinHave How about creating a concept of a primary and secondary event stores? Then if you want to archive an infrequently used (or deleted) aggregate, then move the event stream to the secondary and cheaper event store. The event stream would still be accessible, but make take a bit longer to load. The application should load the aggregate normally and it shouldn't be possible to tell if you l

[2015-05-06 05:39] rasmus opened #58 "Read models that span multiple aggregates"
The current implementation of read models only take events from a single aggregate. We need a method for creating read models than span multiple aggregates.

Problems

- As optimistic concurrency within one aggregate is handled by the event store, how to handle when events are applied to a read model that spans multiple aggregates and the events are committed simultaneously.

[2015-05-06 05:41] MartinHave commented on #58
@rasmus +1

[2015-05-13 16:58] rasmus opened #62 "Documentation"
... just an obvious reminder.

[2015-05-18 14:00] MartinHave commented on #41
@rasmus We should look into this issue again. It makes sense when using the ```SqlEventStore``` but ```InMemoryReadModelStore```.

[2015-05-18 18:18] #58 closed

[2015-05-19 05:12] rasmus opened #63 "Build all read models from event store"
We need support for flushing all read models and then building them again from the event store. Its critical that both the purge and rebuild is controlled explicitly by the developer.

[2015-05-19 18:49] rasmus commented on #27
Will fix this as EventFlow develops

[2015-05-19 18:49] #27 closed

[2015-05-19 18:50] rasmus commented on #19
Easier creation of new event stores is something we like, closing

[2015-05-19 18:50] #19 closed

[2015-05-19 18:55] rasmus opened #65 "Be able to configure "point of no return" for cancellation"
Cancellation tokens are used everywhere, but different applications might have completely different views on what is supposed to be cancelled.
- **Likely to have cancellation**
  - Command execution and storage of events in event store
- **Unlikely to have cancellation**
  - Read model updates. The application might depend on read models, so if the event store is updated but the read models isn't,

[2015-05-21 05:33] rasmus opened #66 "Create a sample domain for test"
To better get an understanding of how changes affect developers using EventFlow, and improve testing, create a complete domain with multiple aggregates and events and then test it using e.g. SpecFlow.

[2015-05-22 03:49] #23 closed

[2015-05-22 05:32] rasmus opened #67 "Remove global sequence number"
From https://groups.yahoo.com/neo/groups/domaindrivendesign/conversations/topics/18453

_Greg Young_

[2015-05-22 05:40] rasmus commented on #67
@MartinHave Just a heads up

[2015-05-22 10:37] rasmus opened #68 "Replace reflection magic"
Have a look at this to see if some of EventFlows reflection code can be simplified.

https://github.com/ploeh/Albedo

[2015-05-22 17:34] #67 closed

[2015-05-22 18:05] rasmus commented on #48
Fixed by 2fc80119b77933e9841305a051e8730ebf71413e

[2015-05-22 18:05] #48 closed

[2015-05-25 08:46] rasmus opened #71 "Provide a EventStore event store"
Create a NuGet package for https://geteventstore.com as event store.

[2015-05-29 04:54] #63 closed

[2015-07-20 06:15] #71 closed

[2015-08-14 11:38] JC008 opened #76 "Limit visibility of IEmit.Apply()"
The `IEmit` interface forces the Apply method on an `AggregateRoot` to be public and exposes them to external abuse.

Is it possible to use a `IEventWriter<>` concept with a nested class to prevent external access to the Apply methods?

See the code below and last section for `IEventWriter`.

[code]

[2015-08-14 12:28] rasmus commented on #76
Hi @JC008

I understand concern regarding how `Apply` methods are exposed as public methods on the aggregate root. Currently you are limited to either implement the `IEmit` (or at least implementing a public method with the same signature) or register e specific "handler" using the protected `Register<TAggregateEvent>(Action<TAggregateEvent> handler)` for which you can redirect it to anywhere, e.g

[2015-08-14 13:55] rasmus commented on #76
@JC008 I created #77 that allows you to provide a separate instance for applying all events to a aggregate. In the case that you only want to do it for a single event you can use the other `Register` taking a `Action<TAggregate>`.

[2015-08-14 14:34] rasmus commented on #76
@JC008 Regarding access to the event time, here one could argue that if the event time is important for the aggregate then it should be part of the event and therefore the domain language and not just taken from the additional metadata.

[2015-08-15 08:01] JC008 commented on #76
Re the access to the event time, I agree. They are separate concerns and should be kept that way. The domain model should not rely on a _technical_ sub system for domain related information which is tightly coupled in the domain language with a specific event (e.g. the date and time will also be linked with a TTL on the confirmation code used by the `Signup` aggregate). The meta system you impleme

[2015-08-15 10:19] JC008 commented on #76
I implemented `IEventApplier` in https://github.com/JC008/EventFlowExamples/tree/membership. It can be very useful as it provides a catch-all handler.

But....

I like the separation that `IEmit` provides - is possible to register a class and internally do a linq for `IEmit<>` implementing methods and adding them to `AggregateRoot._eventHandlers`?

[code]

[2015-08-15 14:27] rasmus commented on #76
Ups

[2015-08-15 14:31] rasmus commented on #76
@JC008 I think that the event appliers gives you the flexibility you need as it allows to to catch all events. What I did instead, was to create a `StateEventApplier<,,>` in #80 that supports `Apply` methods. Also in #80 multiple event appliers are allowed. This basically allows you to create multiple state objects and entities on a single aggregate root.

[2015-08-16 06:54] JC008 commented on #76
@rasmus Excellent solution.

[code]

Some observations about the benefits of using `AggregateState`
* cleans up the AggregateRoot implementation
* allows for versioning of aggregates
* the interface of the aggregate remains stable with varied state implementations
* can be composed and inherited
* can be public or internal depending on requirements

One last thing, the `IEmit` interface name does

[2015-08-16 08:03] rasmus commented on #76
@JC008 Thanks for the input, the aggregate root and how events are applied give developers more freedom now. I also added the `IApply` and will (hopefully) do some documentation on the subject soon. I'm working on the basic documentation now and will get to this topic sometime after.

I'll close this issue now as it seems we have discussed it all. However, if you have any other issues, please open

[2015-08-16 08:03] #76 closed

[2015-08-16 10:47] JC008 opened #84 "Why does Command.Publish() require a CancellationToken?"
`Command.Publish()` uses an async adapter internally but externally presents itself as not being `async` and the need to pass a `cancellationToken` parameter appears confusing.

[2015-08-16 11:01] rasmus commented on #84
@JC008 EventFlow is async first and therefor you should always use the async methods as EventFlow merely tries to do a good job when using the sync methods. Sync methods are exposed on interfaces as a convenience to be used externally by developers, but never used internally.

The use of cancellation tokens isn't something that's "async only", its a generic way of cancelling started work, which is

[2015-08-16 11:04] JC008 commented on #84
Yes thanks.

[2015-08-16 11:04] #84 closed

[2015-08-18 11:23] JC008 opened #87 "Cross assembly type cast exception when implementing a new AutofacAggregateFactory and using AutofacResolver."
A cross assembly type cast issue forces the extension method to configure the aggregate factory to be implemented in eventflow.dll and not eventflow.autofac.dll.

__EXCEPTION DETAILS__
An exception of type 'System.InvalidCastException' occurred in EventFlow.Autofac.dll but was not handled in user code

Additional information: [A] EventFlow.Configuration.Registrations.AutofacResolver cannot be cast

[2015-08-18 11:27] JC008 opened #88 "EventFlowGuide"
I started a set of simple guides to using EventFlow. Every guide uses Nocco to generate line comments and guides to explain the code and use of EventFlow.

Your input would be appreciated.

See https://github.com/JC008/EventFlowGuide

[2015-08-18 20:32] rasmus commented on #87
@JC008 The reason for your problem, might be that you are casting to the `AutofacResolver` of the EventFlow.dll assembly, which is different from the one in the EventFlow.Autofac assembly.

To fix it, will need to use the `options.UseAutofacContainerBuilder(container)` and then `options.CreateContainer()` with will make sure that the Autofac types are the same types that you use in your assembly.

[2015-08-18 20:41] rasmus commented on #88
@JC008 I had a look, but some code seems to be missing. A clean checkout doesn't build.

[2015-08-19 05:26] JC008 commented on #88
Fixed it.

[2015-08-19 08:23] JC008 commented on #87
That worked - thanks.

[2015-08-19 08:23] #87 closed

[2015-08-20 06:02] #88 closed

[2015-08-21 04:57] rasmus commented on #51
Maybe just add a extra logger called `LibLog` that developers can register

[2015-08-25 05:01] rasmus commented on #36
The number of configuration options in EventFlow are increasing, making it hard to get an overview of the possibilities that the combined set of extension methods give. The problem could be addressed by doing the these changes.

- Grouping actions into relevant "sections" like the above example
- Provide guidelines on naming extension methods for `EventFlowOptions`

[2015-08-26 13:03] JC008 opened #104 "Make EventFlow Test Helpers usable in projects that implement EventFlow"
Getting a testing system up in EventFlow can be intimidating and time consuming, event if you understand the basics. Ensuring that existing test helpers are usable by projects implementing EventFlow, overall adoption rates and implementation quality in downstream projects will be improved.

Example:
In `EventFlow.MsSql.Tests.Helpers` the `MsSqlHelper` helper class does not allow for explicit datab

[2015-08-26 18:23] rasmus commented on #104
@JC008 Same as in #5?

But if you want to test your domain, you should try to do it using the in-memory event store. Setting up e.g. the MSSQL event store takes too long if you want to have a lot of different tests. I suggest the following.

- Use the in-memory event store
- Create [queries](https://github.com/rasmus/EventFlow/blob/develop/Documentation/Queries.md)
- In your comprehensive domain t

[2015-08-27 03:56] JC008 commented on #104
@rasmus Yes it is the same as #5. Thanks for the guidance on testing, but in non unit tests

* I want to `eye ball` the sql database for use in development discussions
* have the option of retaining the sql database as artefact on test failure
* use a growing stream of data with behavior tests for `what if` / `what now` when design the system
* run integration tests on different machines in a coor

[2015-08-27 05:07] JC008 commented on #104
@rasmus

Retaining the result sql db also useful for observing the behavior and output in EventFlow e.g. in read models.

[2015-08-27 05:10] rasmus commented on #104
@JC008 Makes sense. I our setup is a bit simpler as we merely have a listener that logs all the events and dumps them to a log in the event of test failure but I can understand the need.

[2015-08-28 05:09] JC008 opened #107 "Use of nvarchar on AggregateId in EventStores.MsSql could impact indexing"
Is unicode needed in the aggregate id and should it be 255 long?

Using unicode in an indexed field does have an impact on the available key space in a data page in sql server which could result in performance issues when handling huge volumes of event data in the event store.

[2015-08-28 05:40] rasmus commented on #107
@JC008 Valid point. Any suggestions on how to create a SQL migrate script that could be executed on a running system? We use the MSSQL store in production and thus it would be critical that the operation could be performed without any significant downtime.

[2015-08-28 05:52] JC008 commented on #107
I would consider calculating a new `AggregateIdHash` field for the aggregate id and using it as the base for `IX_EventFlow_AggregateId_AggregateSequenceNumber` thereby leaving AggregateId intact and allowing for a graceful switch-over.

[2015-08-28 12:52] JC008 commented on #107
@rasmus FYI http://stackoverflow.com/questions/32271518/append-only-to-table-in-sql-server-to-record-immutable-events-and-improve-overal

[2015-08-28 22:38] rasmus commented on #107
I read the article which basically sums up to this

1. Ensure `ALLOW_ROW_LOCKS` is `ON`
2. Ensure `ALLOW_PAGE_LOCKS` is `ON`
3. Write SQL for inserting and selecting based on multiple factors including CPU, memory, network

For 1. and 2. `ON` is the default for the database. As for using `varchar` instead of `nvarchar` I'll keep it as it is. I understand the concern for wanting to limit the amount

[2015-08-30 05:43] JC008 commented on #107
I asked the question on SO on Friday in the hope that someone could provide some guidance beyond the obvious but is seems there is none as far as SQL Server is concerned. Postgresql (GreenPlum) supports append only storage and in general, _append only structured storage_ will become more prevalent in the future.

More importantly is awareness of the impact of using the `nvarchar` but more importan

[2015-08-30 05:43] #107 closed

[2015-08-30 10:20] rasmus commented on #107
@JC008 Thanks for investigating it and I appreciate the effort, I'll run it by our SO team as well just to be sure.

[2015-08-31 05:44] rasmus opened #112 "MongoDB support as event store"
Try out another event store

[2015-09-04 08:03] JC008 commented on #36
@rasmus Another concern to be aware of is the need for modularity, e.g. the need to register and configure a library that contains functionality at an application module level. Autofac modules provide a simple solution to the problem with it's [Module](http://autofac.readthedocs.org/en/latest/configuration/modules.html) approach and allows for a [hybrid of a builder and mapper](https://aphyr.com/p

[2015-09-09 05:58] rasmus opened #121 "Configurable background jobs"
As an integrated part of EventFlow, it should be possible to create background jobs. These could be used for several things.
- Better transient fault handling
- Fire and forget commands
- Delayed execution

Several methods could be used, but as the "core" of EventFlow doesn't have background jobs, the feature should be disabled by default and left as a configuration option.

These could be used fo

[2015-09-09 06:04] JC008 commented on #121
[BeanStalkD](http://kr.github.io/beanstalkd/) and [Akka.net](http://getakka.net/) could be useful implementations too.

[2015-09-09 06:55] rasmus commented on #121
Thanks

[2015-09-10 05:58] JC008 commented on #36
http://rogeralsing.com/2009/05/07/the-simplest-form-of-configurable-dependency-injection/

[2015-09-10 06:27] JC008 opened #126 "Support various IoC providers"
Complex projects are invariably tied to their IoC provider at multiple levels making the adoption of EventFlow problematic if support is not available for a chosen IoC. `IResolver` provides solid foundation to an IoC abstraction enabling the implementation of IoC providers.

http://www.palmmedia.de/blog/2011/8/30/ioc-container-benchmark-performance-comparison
https://github.com/danielpalme/IocPerf

[2015-09-11 04:50] rasmus commented on #126
Small note, to set an other IoC, one merely needs to call the `UseServiceRegistration(...)` right after creating the `EventFlowOptions`. The `EventFlowOptionsAutofacExtensions` illistrates how it could be done.

[2015-09-14 14:31] JC008 commented on #126
Time for a silly question: Is EventFlow dependent on Autofac in any way? I have been going through the code and the sym links in ` EventFlow.Configuration.Registrations` are confusing me on this issue.

[2015-09-14 14:51] JC008 opened #129 "Test projects being modified by VS2015"
I am having the same issue described [here](https://connect.microsoft.com/VisualStudio/feedback/details/800245/vs2013rc-adds-to-vs2012-c-project-section-itemgroup) for `EventFlow.MsSql.Tests.csproj`, `EventFlow.Owin.Tests.csproj`, `EventFlow.RabbitMq.Tests.csproj` when opening the `EventFlow` solution.

[2015-09-14 18:18] rasmus commented on #129
I'm not sure I understand the problem correctly. Every time you open the EventFlow solution, it adds the following section?

[code]

And that is basically marking it as a test project? If that's the case, and its harmless, I'll just update the projects and removing the inconvenience?

[2015-09-15 04:03] JC008 commented on #129
Sorry - let me clarify

1. __My__ VS2015 adds the service guid - why does __your__ VS[version] not add it? Perhaps you are using VS2012.
2. If I did a pull request without knowing what was causing it - the pull request should not be accepted.

I will it to all the test projects as it is VS2015 and seems legitimate - VS2015 is speeding up the project loading time - see the third comment by _Oleg [M

[2015-09-15 04:10] #129 closed

[2015-09-15 04:49] rasmus commented on #126
@JC008 The "core" NuGet package isn't, but it does a IL merge with Autofac embedding it into the assembly. All the Autofac assembly types are marked as internal and not accessible outside the assembly. The EventFlow.Autofac package has reference to some of the same files, but this assembly isn't marked as internal allowing you to access and cast the types.
In short words, I was lazy and didn't wan

[2015-09-15 04:51] rasmus commented on #129
@JC008 I'm using VS2015 myself and haven't seen the additions, which was why I was very confused.

[2015-09-15 05:11] JC008 commented on #126
@rasmus So the support for any IoC is there already in `UseServiceRegistration(...)` and the Autofac element is internal only. That is very cool to say the least, thanks for the detailed feedback.

[2015-09-15 05:11] #126 closed

[2015-09-15 21:03] rasmus commented on #126
@JC008 No worries. I wrote a tiny bit about it in the docs as well. Hard to find though `/Documentation/Customize.md` (at the bottom)

[2015-09-16 05:08] JC008 commented on #129
@rasmus I found the cause - if you use the NUnit Test Runner in VS it adds the service group. If you use Resharper to run tests - it does not. Mystery solved.

[2015-09-16 18:55] rasmus commented on #129
@JC008 Great, thanks for looking into it

[2015-09-21 20:20] rasmus commented on #44
This works as designed by Autofac

[2015-09-21 20:20] #44 closed

[2015-09-22 18:07] rasmus opened #133 "Provide a concept similar to Autofac IStartable"
Delay EventFlow initialization until the IoC container is ready instead of doing the operations within the `CreateResolver()` method. This will allow developers to omit the `CreateResolver()` completely and initialize the container at a later time better suited for their application.

[2015-09-23 21:03] rstraszewski commented on #5
Hi, what do you think about something similiar to what was create in here (BDD helpers): https://github.com/edumentab/cqrs-starter-kit/blob/master/starter-kit/YourDomainTests/SomethingTests.cs I started digging into cqrs/event sourcing recently, after I saw a way of testing in this starter - it seems so nice...

[2015-09-24 05:36] rasmus commented on #5
@rstraszewski Yes, it is a good way of writing domain tests and definitely something that I will need to add support for. Its very, very similar to a custom DDD framework we have implemented at work. Writing easy to read tests is very important.

[2015-09-25 05:24] rasmus commented on #34
EventFlow is getting big and gathering statistics is something that will merely bloat the code base. Better to focus on the current functionality and leave developers with doing this through the decorators.

[2015-09-25 05:24] #34 closed

[2015-09-27 17:48] #133 closed

[2015-09-28 06:01] JC008 commented on #5
@rasmus Look at [LightBDD](https://github.com/Suremaker/LightBDD) for some concepts. I use it with EventFlow at present but an integrated approach (#137 ) would be a winner if it supports similar features and concepts.

[2015-09-28 08:55] JC008 opened #140 "EventFlow startup exception"
I adapted a project to use the configuration architecture in 0.16 and have a showstopper. The following minimal program illustrates the exception:
[code]

and raises

`System.ArgumentException : The type 'EventFlow.Configuration.Registrations.AutofacStartable' is not assignable to service 'Autofac.IStartable'.`

[2015-09-28 09:03] JC008 commented on #140
A more detailed dump of the integration test output. Only the configuration code was changed and a temporary call to `CreateResolver()` was replaced with a call to a `IContainerBuilder.Build()`. Putting the previous workaround back and calling `CreateResolver()` causes the same error. I also tried removing the Application Domain element without success.

[code]

[2015-09-28 11:05] rasmus commented on #140
@JC008 Could you try out the NuGet package built from the pull request in #141 to see if it fixes your problem?

[2015-09-28 11:11] rasmus opened #142 "Internal Autofac stability"
Either write a test that ensures that the IL merge of Autofac doesn't break when the NuGet package is used. That, or remove the need to IL merge Autofac.

[2015-09-28 11:22] rasmus commented on #140
@JC008 Nevermind, I tried it and it fixed the problem... will do a release

[2015-09-28 11:22] #140 closed

[2015-09-28 11:40] rasmus commented on #140
@JC008 EventFlow v0.17.1134 released and fixes the problem. I created #142 and will take a look at preventing this in the future

[2015-09-28 18:20] rasmus commented on #5
@JC008 Thanks for the link. I have had a look but I don't think the first version will support other BDD frameworks directly. However, I will try to iterate on the solution a few times and be sure to expose as much of the inner workings as possible. As any other part of EventFlow, I would like it to be configurable and let developers decide the best method for their project. The solution in #137 w

[2015-09-29 04:51] JC008 commented on #5
@rasmus Your'e not rambling at all. I only suggested looking at the [concepts applied](https://github.com/Suremaker/LightBDD#features) in LightBDD for guidance and ideas as it makes it very easy and practical to work with (e.g. it provides a lot of control, recomposition and refactoring support).

A Bdd module in EventFlow which handles the EventFlow specifics is an excellent idea, if not essentia

[2015-10-01 04:58] rasmus opened #143 "Add link"
Add a link to the "Domain-Driven Design	Reference" by Erik Evans
https://domainlanguage.com/ddd/reference/

https://domainlanguage.com/ddd/reference/DDD_Reference_2015-03.pdf

[2015-10-02 05:07] JC008 opened #144 "Entity support via an interface needed"
@rasmus EventFlow needs an `IEntity` interface to map to the DDD concept of an Entity vs ValueObject. The interface could be simple and should not alter the current `IAggregateRoot<,>` approach except for __maybe__ exposing a `.Root` property of type `IEntity`.

[code]

Your planned domain example (Library) can be used to illustrate the issue and suggested change.

[code]

The modified `Book` can

[2015-10-02 05:25] rasmus commented on #144
How about creating these interfaces and classes to better support identities of specific types?

[code]

It would enable you to access `aBook.Id` with `Id` being of type `Isbn` instead of `IIdentity`?

I don't think I would add it to the `IAggregateRoot<>` has the specific type is put into e.g. `IEventStore.LoadAggregateAsync<,>` enabling you to put the `.Root` on your own interface/class.

If I u

[2015-10-02 05:39] rasmus commented on #144
@JC008 Some like #145

[2015-10-02 05:39] JC008 commented on #144
@rasmus Correct - there are is no impact to any EventFlow code while it formalizes the concept of `Entity`. Your suggested interface and generic variant also makes the concept clear, usable and practical. Most importantly, it maps to the DDD concept and can optionally be introduced if needed in an implementation.

I would suggest adding a comment in the documentation regarding the missing `.Root`

[2015-10-02 05:44] rasmus commented on #144
@JC008 But, wouldn't the class implementing `IAggregateRoot<>` be the root object itself negating the use of a `.Root` property? If not, then the `IAggregateRoot<>` implementation would not live up to its name and would basically be reduced to a big route for events appliers?

[2015-10-02 07:00] JC008 commented on #144
@rasmus My understanding is that an **Aggregate** may contain or use many entities but only one is the root which the outside world should be aware of. But, and **here** is where your **opinionated** implementation of EventFlow comes in, because EventFlow is an *Event Sourcing First* implementation, entities as a persistence management mechanism is not used and surfacing the `.Root` not possible a

[2015-10-02 08:11] rasmus commented on #144
@JC008 So from what I understand from your comment, you basically would like to have a separate class for your DDD aggregate root being of e.g. type `Book` and implementing `IEntity`. You are limited by EventFlow as the `IAggregateRoot<>` root is tied up to the event sourcing part and you would not have a entity that implement both the EventFlow `IAggregateRoot<>` and the new `IEntity` interfaces.

[2015-10-02 09:33] JC008 commented on #144
@rasmus I am happy with EventFlow as is - there are no limitations for me and no changes are needed except for a formal `IEntity<>`.

My experience is that I keep creating `ValueObject(s)` that are really `Entity(ies)` because they have id's, same as your `Book` value object and therefor are `Entity(ies)`- hence the request. When I started using EventFlow I expected to see `Entity(ies)` but the **

[2015-10-06 12:00] rasmus opened #148 "Check out testing of memory usage"
Have a look at JetBrains.DotMemoryUnit

http://blog.jetbrains.com/dotnet/2015/03/04/unit-testing-and-memory-profiling-can-they-be-combined/

[2015-10-15 11:13] JC008 opened #154 "Move ISpecification<> from example-shipping into main EventFlow lib"
Ditto

[2015-10-18 21:22] #154 closed

[2015-10-20 04:15] JC008 commented on #154
:thumbsup:

[2015-10-22 05:59] rasmus opened #158 "Support for .NET Core"
EventFlow needs to support .NET Core. Maybe start with the `EventFlow` and `EventFlow.Autofac` packages.

To do
- [x] convert EventFlow to new VS2017 project format (#303)
- [ ] add `netstandard1.x` NuGet packages along side `net451`

[2015-10-22 06:23] JC008 opened #159 "Provide security foundation in EventFlow for Commands and Queries"
Commands and queries are the primary interaction points for EventFlow implementation consumers and could be the preferred location to apply an authorization check before allowing a command to be queued or a query to be handled.

[2015-10-22 08:12] rasmus commented on #159
@JC008 If you have such needs you should implement them using a decorator of the service. Have a look at the documentation. Providing a generic security feature would clutter the framework and I would like not to have it if possible.

https://github.com/rasmus/EventFlow/blob/develop/Documentation/Customize.md#decorating-implementations

Would implementing a decorator with the security checks solve

[2015-10-22 08:21] JC008 commented on #159
@rasmus Using a decorator does solve the issue. I think the word *foundation* in my comment is too strong and should not be taken to mean an implementation - guidance and examples would suffice and address a question many developers will raise.

Thanks.

[2015-10-22 08:21] #159 closed

[2015-10-22 09:10] rasmus commented on #159
@JC008 Good point about the guidance. EventFlow documentation is still in a poor state. I have updated the FAQ for now with the question as its a valid concern and one I have considered myself for our own platform.

https://github.com/rasmus/EventFlow/blob/develop/Documentation/FAQ.md#how-can-i-ensure-that-only-specific-users-can-execute-commands

[2015-10-24 10:13] rasmus commented on #143
Fixed in 64937a061289dca6955d36a2eb1f038d2f305a03

[2015-10-24 10:13] #143 closed

[2015-10-31 05:38] JC008 opened #165 "SqlReadModel handling for aggregate collection data"
@rasmus How do you handle creating read models for the following scenario using the `MsSqlReadStore` (or any `SQL` based read store):

- the aggregate is a job order (e.g. repair something)
- the job order aggregate has line items in a collection
- line items may be *owned* by other line items

The job aggregate read model is not an issue as it maps to the `IMsSqlReadModel` and handles events via

[2015-10-31 06:12] rasmus commented on #165
@JC008 Just to make sure that I understand the scenario. The job order is the entity implemented as the aggregate root, and the line items are basically entities in a collection on the job order.

If that's the case, then you could implement the read model like you would normally would, then implement an `IReadModelLocator` that merely returns the ID of the specific line item. So if you have a set

[2015-10-31 06:41] JC008 commented on #165
@rasmus Here is another scenario matching the shipping example.

Cargo (or PAX) is never shipped without a manifest, the details of what the cargo contains as well as its international classifications as well as width, height, weight, value etc + [export duty codes](https://en.wikipedia.org/wiki/Harmonized_System)  e.g.

* 001 - 10 boxes of bananas - 2kg / 200x200x300, store below 10C in dark - IA

[2015-11-03 22:03] rasmus commented on #165
@JC008 I have created a crude demo on how to use the read model locators. Have a look at #166 which shows how to create a read model for each item on an aggregate root and return the entire list in a query.

[2015-11-03 22:18] rasmus opened #167 "Remove enforced columns for MSSQL read store"
The MSSQL read store should not enforce columns on read model tables, developers should be free to create any schema for their read models, similar to the Elasticsearch implementation.

[2015-11-04 05:57] rasmus commented on #167
Specifically its these columns

- `AggregateId`
- `CreateTime`
- `UpdatedTime`
- `LastAggregateSequenceNumber`

The table layout for read models should be up to each developer and not dictated by EventFlow. In addition, this layout doesn't work well if a read model locator is used. The only column required, is the column containing the read model ID. Use annotations to determine the column instead

[2015-11-09 10:58] rasmus commented on #68
Maybe also cache compiled expressions instead of calls to e.g. `MethodInfo.Invoke` to improve performance

http://stackoverflow.com/questions/2933221/can-you-get-a-funct-or-similar-from-a-methodinfo-object

[2015-11-09 10:59] rasmus commented on #68
Another performance article http://blogs.msmvps.com/jonskeet/2008/08/09/making-reflection-fly-and-exploring-delegates/

[2015-11-09 11:21] rasmus commented on #68
Another performance article http://www.palmmedia.de/Blog/2012/2/4/reflection-vs-compiled-expressions-vs-delegates-performance-comparision

[2015-11-09 20:07] rasmus opened #171 "Read model facory"
Allow developers to create read models if they don't exist allowing initial bootstrapping of the read model to be done.

[2015-11-17 18:49] #167 closed

[2015-11-17 21:26] #171 closed

[2015-12-01 21:03] rasmus commented on #66
Created the Shipping example

[2015-12-01 21:03] #66 closed

[2015-12-01 21:04] rasmus commented on #26
Done

[2015-12-01 21:04] #26 closed

[2015-12-01 21:05] rasmus commented on #165
@JC008 Did the latest release of EventFlow solve your problem?

[2015-12-03 12:35] JC008 commented on #165
@rasmus I started the conversion to the new read model approach but have a problem using the sql field name `Id` as a key field as it is being omitted from the insert sql generation. The original reason for protecting the field name was due to the auto increment used in the MsSqlReadModel which is now not needed.

[2015-12-04 05:45] JC008 commented on #165
@rasmus The new light weight read model approach works like a charm, except for the `Id` field issue. I did a patch to remove the `Id` field exclusion on my side for 0.22 but deeper investigation is needed for a proper solution e.g. maybe detect if there is a `IReadModelLocator` for a read model before excluding it and specify that the the presence of an `IReadModelLocator` means the developer is

[2015-12-04 08:28] rasmus commented on #165
@JC008 I'll create a attribute that you can place on the columns to mark those you wan't to leave out and remove the `Id`. Its old and when I look in the code it seems more like a hack than a actual need.

@JC008 Could you describe the problem you have with the `IReadModelLocator` as the current integration tests use different read models for a subset of events from an aggregate. One read model us

[2015-12-04 09:06] JC008 commented on #165
@rasmus If an `IReadModelLocator` is registered for a given read model, the locator must handle all events mapped to the read model via `IAmReadModelFor`. The docs should state it explicitly event though the example shows a result must always be returned (I missed that part from the code example).

[2015-12-05 08:46] rasmus commented on #165
@JC008 The locator should only be invoked for events that match the read model its used for. I created a set of tests in #180 that should illustrate this

[2015-12-05 08:53] JC008 commented on #165
@rasmus Understood and used in that way, all works now as well - see my example code in #179

[2015-12-05 09:57] rasmus commented on #165
@JC008 Could you verify that the problem isn't present in 0.23.1469 that currently built.

You can download it here
https://ci.appveyor.com/project/rasmusnu/eventflow/build/0.23.1469/artifacts

Or use the NuGet feed
https://ci.appveyor.com/nuget/eventflow

[2015-12-05 10:56] JC008 commented on #165
@rasmus All good - thanks,

[2015-12-05 13:18] rasmus commented on #165
@JC008 I'll close this as I release v0.23.1470

[2015-12-05 13:18] #165 closed

[2015-12-08 15:04] JC008 opened #181 "Non Aggregate Event Support"
A formalized EventFlow mechanism is required to provide events that can be subscribed to without reference to an `AggregateRoot` or `Identity` and is conceptually similar to `delegates` but managed by EventFlow.
#### Use Case

Tracking the count of items in a collection managed by an aggregate.

An `AggregateRoot` emits an event that an `AggregateState` applies that results in an item added to a c

[2015-12-17 08:03] rasmus opened #182 "Implement Codecov"
https://codecov.io/

[2016-01-15 19:50] rasmus commented on #158
Autofac also has .NET Core support https://github.com/autofac/Autofac

[2016-01-24 18:33] rasmus opened #191 "Stream events to aggregates"
Instead all events into memory first and applying them after, "steam" them instead. Either read small batches, or individual events (depending on the underlying persistence model) to minimize memory consumption. If possible, it should be configurable or even optional.

[2016-01-24 23:02] rasmus commented on #182
https://github.com/codecov/example-csharp

[2016-01-25 20:51] rasmus opened #194 "Logo for EventFlow"
The current logo for EventFlow is merely a free icon from iconmonstr, although pretty, it isn't really EventFlow specific.

[2016-01-29 07:51] rasmus opened #195 "TableParameter has a OrderBy(name) that seems malplaced"
In `TableParameter` there the following seems a bit off

[code]

[2016-01-29 08:07] rasmus commented on #195
Its been too long since I made that... its by design to ensure that the ordering matches the table definition specified in `0002 - Create eventdatamodel_list_type.sql`. SQL very much cares about ordering for the table inserts

[2016-01-29 08:07] #195 closed

[2016-02-01 07:16] JC008 opened #197 "git lfs and icon-256.png"
@rasmus No matter what I try - `icon-256.png` is marked as modified after checking out into a clean `EventFlow` clone. If I commit the change and checkout any new branch - `icon-256.png` is back marked as modified. I'm using SourceTree and also updated its embedded git .

`git lfs ls-files` show that `icon-256.png` is not tracked as a `lfs` file.

Any ideas or suggestions?

I found some links on S

[2016-02-01 20:31] rasmus commented on #197
@JC008 `icon-256.png` is not tracked by LFS as its from before LFS was out. I haven't seen the problem on my other workstations but it would make sense to move it to LFS.

[2016-02-02 05:05] JC008 commented on #197
@rasmus now it makes sense - one of the links I found indicated a similar cause - items added before LFS and the `.gitattributes` now catches it via the wildcard:

[code]

[2016-02-02 05:19] JC008 commented on #197
@rasmus Can you add the icon to lfs - it's a showstopper for me.

[2016-02-02 05:40] rasmus commented on #197
@JC008 Yes, I'll do it now... I can understand that's very annoying.

[2016-02-02 05:45] rasmus commented on #197
@JC008 Its fixed in the ´develop´ and ´sqlite´ branches.

[2016-02-02 05:59] #197 closed

[2016-02-09 15:03] rasmus commented on #142
Consider changing to TinyIoC for the core package: https://github.com/grumpydev/TinyIoC

[2016-02-19 06:06] ylbillyli opened #201 "Avoidable Concurrency Exception?"
I run into situation where two event subscribers firing commands against the same aggregate in parallel (because eventflow's event dispatcher dispatch events to subscriber in parallel using "WhenAll()"), which was causing a concurrency exception. Although they are handled fine by the retry, these commands involve calling other integrated systems which cannot be roll-back/redo ending up duplicated

[2016-02-19 08:05] rasmus commented on #201
If I understand you problem correctly, the problem is that multiple multiple instances of the same aggregate are invoked simultaneously due to commands fired from subscribers.

Concurrency in EventFlow is maintained through the event store, which ensures that only one set of events are committed when multiple attempts to change the aggregate are done. You can see this in the event store integratio

[2016-02-19 15:30] rasmus commented on #201
Just a clarification, synchronization across several servers is hard to generalize and if your application has that requirement, you should implement it using through e.g. the decorator pattern described in the customize documentation for EventFlow.

If your application has these synchronization issues, then it _might_ (and I stress the _might_ again), be due to an inaccurate model of your domain

[2016-02-19 15:55] rasmus commented on #181
If the new event is not related to a aggregate, then it would not be added to any event streams, is that correctly understood?

If yes, then I guess it isn't a event that important to your domain and I personally wouldn't use EventFlow for propagating that event, but instead publishing that from a subscriber using another mechanism. Again, if the event isn't related to an aggregate, then I guess t

[2016-02-20 08:03] rasmus commented on #201
@ylbillyli Would using the `AsyncLocker` create a deadlock if you have a chain of subscribers executing commands.

- Command C1 results in event E1 on aggregate A1
- Subscriber to E1 fires Command C2
- Command C2 results in event E2 on aggregate A2
- Subscriber to E2 fires Command C3
- Command C3 is deadlocked as it cannot access A1

[2016-02-20 08:21] rasmus commented on #144
I totally forgot our discussion here, sorry.

- Aggregates could be modeled in EventFlow simply by using the `AggregateState<,,>` functionality recently added
- Personally I like the idea the entities are not directly liked to a aggregate root. It _could_ be, but it might also be some aggregate within the aggregate root
- In the shipping example I created for EventFlow I mapped entities from read

[2016-02-20 09:17] JC008 commented on #181
The problem is related to cross domain event subscribers and information changing in the aggregate which is only known after an `event` is emitted. The following events where emitted after a catalog and two catalog groups  where added following approach 2 above:

[code]
The catalog group count can only be updated in the catalog aggregate after `NewCatalogGroup` events are handled in the `IApply` h

[2016-02-20 09:54] JC008 commented on #144
@rasmus I agree on all points and the current EventFlow implementation is spot on except for a small pedantic issue, `AggregateRoot<,,>` should be named `Aggregate<,,>` :wink:. Look at the classes below to see how I composed a **standardized** aggregate with an indirect `root` accessible via the aggregate's state. EventFlow is composable and flexible enough to handle variations in approach. We can

[2016-02-20 09:54] #144 closed

[2016-02-20 16:12] JC008 commented on #181
@rasmus I will code a `proof of problem` for this so we can see if its a domain design issue and discuss it with reference to a working sample.

[2016-02-20 16:15] rasmus commented on #181
@JC008 Thanks, that would really help :smile:

[2016-02-22 00:05] ylbillyli commented on #201
@rasmus Thanks a lot for the reply and details. You were completely right about my problem.

I agree with you that the concurrency exception is still required for multi server as they are hard to sync, but how about on the same server? Should/Could we prevent race condition on the same server to reduce the chance of this exception? (My project only uses single server anyway)

In regards to the dom

[2016-02-22 02:21] ylbillyli commented on #201
In addition to the deadlock problem mentioned above, I think it will deadlock only when CommandHandler firing another command which is incorrect I think.

[2016-02-22 06:24] rasmus commented on #201
@ylbillyli In our system we have several commands that fire on the same aggregate at the same time, but these almost never represent a domain error.

Typically the flow would be something similar to this.

- Command C1 starts to execute and loads aggregate with version 1
- Command C2 starts to execute and loads aggregate with version 1
- Command C1 finishes and event E1 is committed to the event s

[2016-02-22 12:42] ylbillyli commented on #201
@rasmus thanks for the comment. This make it a lot clearer for me. I still have a question. If C1 and C2 are fired on the same server, do you still prefer relying on concurrency exception auto retry more than completely avoiding it with synchronized locking?

I have been using EventFlow for nearly half year now and found that it is really great and easy to use. The only thing that I am still not q

[2016-02-22 13:48] JC008 commented on #201
@rasmus, @ylbillyli The bridging of external systems to an `EventFlow` implementation is why I asked for `DistinctCommand` to be added to identify duplicate commands and handle them in the `ICommandHandler` for an `ICommand`.

[2016-02-22 13:49] rasmus commented on #201
@ylbillyli Its great to get some feedback on EventFlow, thanks.

I would prefer the optimistic concurrency exception to the pessimistic locking as in most systems it happens rarely. I know its basically using exceptions for control flow but its modeled around how e.g. the MSSQL event store detects the collision.

For systems that issue requests to EventFlow aggregates, yes, that would have to go t

[2016-02-22 23:33] ylbillyli commented on #201
Thanks for the comments. They are very helpful.

[2016-02-23 07:40] ylbillyli opened #205 "Custom Hangfire Job Title?"
I have been using the IJob and IJobScheduler to queue jobs on Hangfire, but couldn't get the Job Name displayed right on the hangfire dashboard even with the [DisplayName] attribute or overriding the ToString() method on the Job. Is this supported by EventFlow?

![image](https://cloud.githubusercontent.com/assets/13381578/13244758/b9e99a58-da43-11e5-8b7c-3e530282f757.png)

[2016-02-23 09:22] rasmus commented on #205
@ylbillyli You are right, that would be supported by EventFlow and I'll look into it.

[2016-02-25 06:04] rasmus commented on #205
@ylbillyli The #206 is now live in release v0.27.1765

[2016-02-25 14:42] rasmus opened #208 "Benchmark important parts of EventFlow"
See if https://github.com/PerfDotNet/BenchmarkDotNet can be used to benchmark some of the critical paths in EventFlow.

[2016-02-26 00:21] ylbillyli commented on #205
Thx @rasmus I believe #206 will close this off

[2016-02-26 00:21] #205 closed

[2016-04-13 15:53] oliveiracdz opened #218 "Hangfire JobScheduler and Autofac Activator"
I'm using Autofac as IoC container of EventFlow.
When i've tried to configure HangFire as JobScheduler, I ran into this issue.
I need the container to register the Activator for HangFire recurring jobs. But the extension method `UseAutofacContainerBuilder` needs to have HangFire already configured.
Maybe i'm missing something on the order of things, can you help me?

[code]

The exception:

[2016-04-14 12:00] rasmus commented on #218
@oliveiracdz Have a look at the Hangfire integration tests to get an idea. There are multiple ways of setting up Hangfire and I didn't want EventFlow to dictate any of it.

https://github.com/rasmus/EventFlow/blob/develop/Source/EventFlow.Hangfire.Tests/Integration/HangfireJobSchedulerTests.cs

[2016-04-14 15:06] oliveiracdz commented on #218
Hi @rasmus!

It worked! The trick was to use [DelegatingActivator](https://github.com/rasmus/EventFlow/blob/develop/Source/EventFlow.Hangfire.Tests/Integration/HangfireJobSchedulerTests.cs#L82) instead [Hangfire.Autofac package](https://github.com/HangfireIO/Hangfire.Autofac).

Thank you! :+1:

[2016-04-14 15:06] #218 closed

[2016-04-14 17:12] rasmus commented on #201
@ylbillyli Can I close the issue? Did you get all the answers you need? If not, then let me know.

[2016-04-15 21:15] rasmus commented on #182
Done

[2016-04-15 21:15] #182 closed

[2016-04-21 00:45] ylbillyli commented on #201
@rasmus sure. All good. Thanks again.

[2016-04-21 00:45] #201 closed

[2016-05-27 16:19] beachwalker opened #223 "Hompage typo"
There is a typo on the subtitle of the geteventflow website. CRQS is written instead of CQRS.

[2016-06-14 19:17] rasmus commented on #223
Thanks for reporting it. Its fixed

[2016-06-14 19:17] #223 closed

[2016-06-17 00:23] ylbillyli opened #229 "Questions: Exception Handling for CommandBus and EventDispatcher"
@rasmus  Thanks for the work and previous reply. They are very useful. Forgive me if there is an answer to thiese already. We have come up with these two questions. Hope you could give us some advice on them.

##### CommandBus
I might mis-understand on this but I notice that the `_transientFaultHandler` seems no longer getting used in `CommandBus`. So would EventFlow still retry on optimistic conc

[2016-06-17 05:07] rasmus commented on #229
@ylbillyli Please continue to give feedback on EventFlow, especially if you are suspicious of a design flaw or bug.

**CommandBus**
That functionality has been move to the new `AggregateStore.UpdateAsync` method which the `CommandBus` uses.

**DispatchToEventSubscribers**
The idea was that any error originating from subscribers should have been handled within the subscriber and not bubble all the

[2016-06-20 06:00] ylbillyli commented on #229
@rasmus Sorry for delayed reply. I think that would be perfect as we are using eventflow on the same server and we are already trying to handle all known possible exceptions from our subscribers, however, for unknown/unexpected exceptions that we aren't handling, that usually means a bug in our system, we would like them to bubble up such that we can hard stop and display an system error message t

[2016-06-20 20:43] rasmus commented on #229
@ylbillyli You point is certainly valid and I have create a PR illustrating the changes that could allow the exceptions to be handled at the top level in PR #230. Will that work for you? I still need to clean it up and write several tests for it.

[2016-06-20 23:41] ylbillyli commented on #229
@rasmus that looks perfect to me. I will close this issue then. Thanks

[2016-06-20 23:41] #229 closed

[2016-06-23 14:34] rasmus opened #233 "Move to the eventflow org"
Move the repository to the EventFlow organisation.

[2016-06-23 14:37] #233 closed

[2016-07-15 11:36] rasmus commented on #158
http://www.michael-whelan.net/porting-dotnet-framework-library-to-dotnet-core/

[2016-08-04 07:12] rasmus opened #238 "Add articles"
http://blog.sapiensworks.com/post/2016/07/29/DDD-Entities-Value-Objects-Explained
http://blog.sapiensworks.com/post/2016/07/23/DDD-Eventual-Consistency

[2016-08-15 05:07] rasmus commented on #238
http://blog.sapiensworks.com/post/2016/08/12/DDD-Bounded-Contexts-Explained

[2016-08-22 21:12] #17 closed

[2016-08-23 17:29] rasmus commented on #35
Implemented in 0.29.1973 (released 2016-04-19)

[2016-08-23 17:29] #35 closed

[2016-08-27 07:43] Cuiqs76 opened #246 "please add write model in Simple example"
Please add write model in Simple example .

[2016-08-27 22:36] rasmus commented on #246
@Cuiqs76 I updated the README in #247 and its merged, have a look

[2016-08-27 22:36] #246 closed

[2016-08-30 05:24] Cuiqs76 commented on #246
I use  .UseEventStoreEventStore(ip,connectionSettings) and  use commandhandler as below
` public override Task ExecuteAsync(NonconformityGroupTypeAggregate aggregate, NonconformityGroupTypeCreateCommand command, CancellationToken cancellationToken)
        {
            aggregate.Create(command.Code,command.Name,command.Description);

            return Task.FromResult(0);
        }

but not save

[2016-08-30 08:23] rasmus commented on #246
@Cuiqs76 What does the log output if you set it to debug? I also recommend you write a test that tests your domain code using the default in-memory event store. That way you can limit the amount of factors that could cause your problem

[2016-09-02 11:16] rasmus commented on #158
Don't go for project.json given this article https://blogs.msdn.microsoft.com/dotnet/2016/05/23/changes-to-project-json/

[2016-09-07 07:40] rasmus commented on #158
https://github.com/louthy/csharp-monad/commit/7aea9a3769dad107d705a38609ff1e3caf905389

[2016-09-27 20:19] ArieJones opened #250 "Question: MSSql models"
I was wondering if there were any examples and/or guidance on how to handle the migrations when using SQL Server?

Specifically, does it hurt calling MigrateDatabase on startup just by default?
 I am assuming that the framework would know whether or not it had something that needed updated...

Thanks,
AJ

[2016-09-27 20:29] ArieJones commented on #158
I am wondering how this is coming along since .NET core has stabilized quite a bit?

The project.json piece is not an issue as it should be automatically converted once they switch over to csproj.

[2016-09-27 21:31] rasmus commented on #250
@ArieJones Deploy SQL migrations as a separate step during service install for our micro services. We use Octopus Deploy for deployment and the migrations are simply a step. It should be possible to apply EventFlow SQL migrations while the site is active and running the previous versions.

However, EventFlow only has a two SQL scripts for the initial MSSQL event store setup. I don't expect to add

[2016-09-28 02:15] ArieJones commented on #250
@Ramus
Yes thanks for that answer... very intrigued by your hard work here.

[2016-09-28 02:15] #250 closed

[2016-09-28 07:44] rasmus commented on #158
@ArieJones I haven't had the time to really get started on .NET core yet 😢

[2016-10-01 08:59] JC008 commented on #51
A good write up on the subject - [Which logging abstraction should I use?](https://nblumhardt.com/2016/04/which-logging-abstraction-should-i-use/)

[2016-10-03 04:46] rasmus commented on #51
@JC008 Thanks

[2016-10-10 05:24] rasmus commented on #28
Done

[2016-10-10 05:24] #28 closed

[2016-10-10 05:27] rasmus opened #255 "Easier NuGet references"
References for NuGet packages in projects are somewhat cumbersome in EventFlow right now as they need to be added to `build.cake` manually.

Find a better and easier method that ensures that any new references in EventFlow projects are automatically picked up.

[2016-10-17 08:48] rasmus commented on #255
Use Paket templates: https://fsprojects.github.io/Paket/template-files.html

[2016-10-27 10:08] taufikfadjar opened #259 "[Question] How to integrate Readmodel with Sql Server"
I already has run scenario test using InMemory data then try to presist some data based that scenario.

 Here is what I did :
1. Create EF code first and follow some spec like table name (readmodel-*)
2. Create repository
3. Register all repository to DI IEventFlowOptions
4. Maybe call repository in voyage readmodel method  public void Apply(IReadModelContext context, IDomainEvent<VoyageAggregate,

[2016-10-27 10:12] rasmus commented on #259
@taufikfadjar Have you had a look at the documentation?

http://docs.geteventflow.net/ReadStores.html#microsoft-sql-server

[2016-10-27 10:22] taufikfadjar commented on #259
Yes i had look the documentation, But I am getting confused. I already create new library contain readmodel using Mssql and register to UseMssqlReadModel.

[2016-10-27 10:29] rasmus commented on #259
Have you had a look at the integration tests for the MSSQL read models. I know some nice documentation would be nice, but I haven't gotten to it yet.

https://github.com/eventflow/EventFlow/tree/develop/Source/EventFlow.MsSql/ReadStores

[2016-10-27 10:33] rasmus commented on #259
I guess that a NuGet package that provides read model support for EF would be the best solution

[2016-10-27 11:01] rasmus opened #260 "EntityFramework support"
Provide NuGet package that enables MS Entity Framwork

Create another repo.

If anyone wants to be maintainer on such a package and get it hosted in the EventFlow org. Let me know.

[2016-10-27 16:30] taufikfadjar commented on #259
Thank you sir @rasmus, I didn't notice. You had given an example :) . Sorry for bothering you.

I will try do it as your guideline

https://github.com/eventflow/EventFlow/tree/develop/Source/EventFlow.MsSql.Tests/IntegrationTests/ReadStores

[2016-10-27 16:30] #259 closed

[2016-10-27 20:48] rasmus commented on #259
@taufikfadjar No problem, glad you found a solution

[2016-10-30 05:28] pichardoSoftware commented on #260
I could help you with this, but I need more information.

[2016-10-30 17:42] rasmus commented on #260
@pichardoSoftware That would be great!

- The EF support is basically two parts, event persistance and read model support. I suggest you pick one and focus on that and get that PR finished first
- The project should be called EventFlow.EntityFramework and should contain both read model and event persistance support
- Have a look at the EventFlow.MsSql project source layout, it should be something

[2016-10-30 17:47] rasmus commented on #260
Forgot some basic stuff

- Event persistence, create implementation of `IEventPersistence`
- Read model support, implement `ReadModelStore<>`

You can have a look at the in-memory or MSSQL implementations for some general idea on how to do it

[2016-10-30 23:26] pichardoSoftware commented on #260
Ok, I'll check it out

[2016-10-31 06:12] #255 closed

[2016-10-31 06:14] rasmus commented on #260
@pichardoSoftware PR #257 is closed now and will make it easier to get started on new projects

[2016-11-07 19:27] rasmus commented on #260
@pichardoSoftware If you had problems working with EventFlow due to git lfs, give it another go as it has been removed

[2016-11-12 20:35] olholm commented on #194
![eventflow](https://cloud.githubusercontent.com/assets/439818/20240719/c1f43ac2-a91f-11e6-8487-265a4023784e.png)

@rasmus Here's a suggestion :) I have another design in mind that I'll work on.

[2016-11-12 23:12] rasmus commented on #194
Nice looking good.

Is it possible to make it a bit more clear when shown at a low resolution? It will be used as anl small icon also, e.g. in the NuGet browser in Visual Studio and on several sites.

[2016-11-13 09:28] olholm commented on #194
Looks like NuGet icon is 60x60 pixels, so that could look like this:

![eventflow-small](https://cloud.githubusercontent.com/assets/439818/20244686/d063b170-a98b-11e6-9a39-d9af777fb17c.png)

[2016-11-15 02:46] minhhungit opened #274 "Did eventflow support Simple Injector ?"
Hello team
I heard that [simpleinjector](https://simpleinjector.org) is the fastest dependency injector for .NET
Right now we just support Autofac, right ? Can we consider simple injector

[2016-11-15 03:51] minhhungit opened #275 "SqlServer Cannot insert the value NULL into column 'AggregateId'"
I convert example demo to use sql server, because it does not auto create read-model table so I was try to create a read-model table like:

[code]
Full code and exception are attached
[full-code.txt](https://github.com/eventflow/EventFlow/files/591046/full-code.txt)
[full-exception.txt](https://github.com/eventflow/EventFlow/files/591047/full-exception.txt)

More question: any special requirements

[2016-11-15 03:54] minhhungit commented on #275
I can fix it by add a new property called **AggregateId** into ExampleReadModel, and update value for it like:

public class ExampleReadModel : IReadModel,
      IAmReadModelFor<ExampleAggrenate, ExampleId, ExampleEvent>
    {
        **public string AggregateId { get; private set; }**
        public int MagicNumber { get; private set; }

        public void Apply(
          IReadModelContext cont

[2016-11-15 10:08] taufikfadjar commented on #275
Did you ever try this ?
https://github.com/eventflow/EventFlow/tree/develop/Source/EventFlow.MsSql.Tests

may that link help your problem

[2016-11-15 12:54] minhhungit commented on #275
I did, still don't understand why it required column **AggregateId**
I didn't see any difference between my code and sample Test code

[2016-11-15 13:15] minhhungit commented on #275
The difference is read-model class:
my code is: public class ExampleReadModel : **IReadModel**
test code is public class MsSqlThingyReadModel : **MssqlReadModel**

[2016-11-15 13:22] minhhungit commented on #275
if I change my code to use **MssqlReadModel** then it passed
but I also need add more column to read model table, such as:  AggregateId, CreateTime, UpdatedTime and LastAggregateSequenceNumber
And  I got a warrning:

[2016-11-16 02:24] taufikfadjar opened #276 "[Question] Ask about Emit Event & Handle when raise a domain error"
I have several question,

1. Can i create event without submit in eventstore ? . As example i just want notify user client.
2. I have collection data when emit event, can eventflow map multiple data to readmodel ?. As example we have collection thingymessage to iterate map in readmodel
3. How best practice to handle when raise domain in web app. Should we make new event or  we can get return data

[2016-11-16 02:28] taufikfadjar commented on #275
I'm just helping you get here. Maybe you can wait until mr @rasmus answer your question :)

[2016-11-16 06:07] rasmus commented on #274
I'm relocating to a new house this week and have only limited internet and computer access.

Usually the applications I have worked with it isn't the time spent by the IoC that's the limiting factor, especially for applications that implement DDD. So while simple injector might be faster, the time saved also needs to be compared with the features provided, release frequency, stability and ease of

[2016-11-16 06:09] rasmus commented on #275
I'm relocating to a new house this week and have only limited internet and computer access. I'll try to get back to you later today when I had the time to look into the problem.

[2016-11-16 06:10] rasmus commented on #276
I'm relocating to a new house this week and have only limited internet and computer access. I'll try to get back to you later today.

[2016-11-16 07:57] taufikfadjar commented on #276
Thank you, :)

[2016-11-16 20:30] rasmus commented on #275
Hi @minhhungit

The MSSQL integration test verifies both the "old" (using `MsSqlThingyReadModel`) and the new (using `MsSqlThingyMessageReadModel`). I think your missing the`MsSqlReadModelIdentityColumn` attribute on the column that you would like to use as the identity. As EventFlow tries to limit its requirements to the read models, it still needs the attribute of the identity to allow it to set

[2016-11-16 20:42] rasmus commented on #276
Hi @taufikfadjar

1. You _could_ invoke the `IEventStore.StoreAsync` directly. However, it isn't a use case that EventFlow is designed for so it might be a bit cumbersome. You also have to decide if the committed events should be sent to read models, subscribers etc. you can have a look at the `AggregateStore` to see how it does it.
1. When you say _data_ if its related to your domain it should be

[2016-11-17 02:30] minhhungit commented on #275
you mean like this:

It does not work for me :(

[2016-11-17 02:46] minhhungit commented on #275
okay, so:
- how many require columns for read-model table and which are they? (id, aggregateId...)
- should we add code in read-model class to update aggregateId in read-model table, like:

[code]
and if we should, is line **domainEvent.AggregateIdentity.Value** ok ?

[2016-11-17 07:25] taufikfadjar commented on #276
Thank you. Maybe I will ask again.

[2016-11-17 07:25] #276 closed

[2016-11-17 13:58] #274 closed

[2016-11-18 07:06] rasmus commented on #275
@minhhungit There's only one column required, which is the ID of the read model, which for MSSQL read model needs to be marked with a `MsSqlReadModelIdentityColumn` attribute, the name of that can be whatever you like. You should set the ID value yourself. It would be possible for EventFlow to set it, but then you would have to make the property `public`. The `MsSqlThingyMessageReadModel` has the

[2016-11-18 07:12] rasmus commented on #194
@olholm Nice!

[2016-11-23 07:30] rasmus commented on #194
@olholm Can you send the source files? I'll can update it as soon as I get settled in the new house.

[2016-11-23 07:39] minhhungit commented on #275
it worked  :)
so I will close this issue, thanks @taufikfadjar @rasmus

[2016-11-23 07:39] #275 closed

[2016-11-24 06:29] rasmus opened #277 "Validate MSSQL requirements for read model class"
Instead of having trouble determining what's wrong with a read model setup like in #275, the read model should be validated upon bootstrap giving specific errors and suggestions on how to fix them.

[2016-12-01 19:20] minhhungit opened #279 "Aggregate snapshot with Entities"
My **SupplierAggregate** have a **`List<SupplierContact>`** and a **Name**
I added **15** `supplierContact` to that supplier
I also create snapshot for that supplier with SnapshotEveryFewVersionsStrategy = 10
When I load aggregate, I just have **5** latest supplier contact, it counted from latest snapshot point
I think it should be **15**
I think this will make some mistakes when we need to comput

[2016-12-01 21:23] minhhungit commented on #279
I think I found a problem
I must register event in aggregate constructor:
[code]
and use readOnlyCollection

**Document site didn't include this info**

[2016-12-02 13:41] warren-pieterse opened #280 "Re-populate read models from EventStore throws Only domain events from the same aggregate is allowed"
In the `SingleAggregateReadStoreManager` class, the `BuildReadModelUpdates` throws "Only domain events from the same aggregate is allowed" when populating from event store, or am I missing something?

Changing the implementation to the code below seems to fix it.

[code]

[2016-12-02 15:15] rasmus commented on #279
@minhhungit The snapshotting aggregate is basically a aggregate with snapshotting capabilities, which means that the aggregate needs to have one of the methods to apply events. See http://docs.geteventflow.net/Aggregates.html#applying-events

[2016-12-02 15:44] rasmus commented on #280
@warren-pieterse Darn. That is indeed a critical bug. I'll get a release ready ASAP

[2016-12-02 16:22] minhhungit commented on #279
@rasmus  thanks :) 👍

[2016-12-02 16:22] #279 closed

[2016-12-02 18:14] rasmus commented on #280
The latest release should have the bug fix. Could you verify it and let me know

[2016-12-03 10:18] warren-pieterse commented on #280
v0.38.2454 populates all my read models perfectly, thanks for fixing

[2016-12-03 10:18] #280 closed

[2016-12-05 03:50] taufikfadjar opened #282 "[Question] Emit Event Contain List Entity Or single ValueObject to ReadModel MsSql"
As example my **voyageaggregate** have a **schedule ( value object )** which contain **IReadOnlyCollection CarrierMovement (Entity)** and CarrierMovement ReadModel to store CarrierMovements data in MsSql (using locator)

If  i send command have a schedule which contain 10 CarrierMovements , so can we send event contain ValueObject Schedule or List of entity CarrierMovement to CarrierMovement ReadM

[2016-12-05 05:15] rasmus commented on #282
@taufikfadjar as your `voyageaggregate` is mutable aggregate, it should have a `List<>` of `CarrierMovement`. Then to remove any or set a completly new set, you would mere call `.Clear()` or set a new list. In the example code I would create a method on the aggregate that would emit a `VoyageScheduleUpdatedEvent` event and a corresponding command, which will result in a new `Schedule` being set

[2016-12-05 06:13] taufikfadjar commented on #282
- First
Yes voyageaggregate is mutable aggregate so list can be updated In eventstore .But how about remove data using mssqlreadmodel ? Should i set deleted flag (soft delete) ? or i can do without doing soft delete.

- Second
Based your example using in memory readmodel. I create  shipping using mssql readmodel version.
In memory is so flexible, when emit VoyageScheduleUpdatedEvent i can update

[2016-12-05 07:44] rasmus commented on #282
@taufikfadjar Oh, I didn't get your problem the first time, sorry about that.

If you want a one-to-many relation from aggregate to read model you should have a look at the `MsSqlThingyMessageReadModel` in the tests. It stores a message read model for each message which somewhat corresponds to the carrier movements.

As for read model deletion, here EventFlow doesn't have anything built-in at the

[2016-12-05 11:16] rasmus commented on #282
@taufikfadjar Let me know if I can close the issue

[2016-12-05 11:47] taufikfadjar commented on #282
Thanks your explanation 👍 , It's my mistake because I did not explain well.

So I have create many events which handle one-to-many relation from aggregate to read model. :smile:

I will consider use IReadStoreManager but i think more easy to use ISubscribeSynchronousTo<> :grimacing:

[2016-12-05 11:48] #282 closed

[2016-12-12 07:37] lucamorelli opened #284 "unable to add to an asp.net 4 application"
Hi, I'm trying to add eventflow to an asp.net 4 application with autofac, but when I run the application I have this error message:

`Unable to load the type'EventFlow.EventFlowOptions'  from assembly 'EventFlow, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null'.
`

Am I missing something?

[2016-12-12 08:17] rasmus commented on #284
@lucamorelli EventFlow is 4.5.1+ due to dependencies on API in the TPL

[2016-12-12 08:34] lucamorelli commented on #284
Hmmm ... Never seen this... I called the test project EventFlow, with the same name of the dll, and looks like was overwriting the package dll without any warning.
Renamed the application assembly and now it's starting.
Thanks.

[2016-12-12 08:34] #284 closed

[2016-12-24 12:02] minhhungit opened #285 "[Question] Replay events"
Hi team,
I have an event table with all events committed, I dropped all views table. How can I replay event for all views?
I used to work with [Cirqus ](https://github.com/d60/Cirqus)(is also a cqrs framework). It can auto replay all events immediately after we restart system, I don't sure if eventflow can do something like that

[2016-12-24 12:52] rasmus commented on #285
Hi @minhhungit

You can resolve the `IReadModelPopulator`, it is the methods you need and have a default implementation. If you need to do anything on bootdtrap, you can use implement the `IBootstrap` interface.

[2016-12-24 13:24] minhhungit commented on #285
@rasmus Thank you and merry xmas. I'll research it.
Please add document for `<Replay>` feature & `<Bootstrap>` when you have time

[2016-12-25 01:45] minhhungit opened #286 "[Question] Split Events table and View tables"
Do you think we should split EventStore table and other view table to separate databases, such as EventStore table use RabbitMQ and View tables use MS SQL

[2016-12-26 14:37] rasmus commented on #286
As long as its possible to migrate the data, I would personally start small and optimise later. Keep everything as simple as possible as long as possible

[2017-01-01 16:49] #285 closed

[2017-01-01 16:50] #286 closed

[2017-01-02 10:32] MonDeveloper opened #287 "What about storing the events on Cassandra?"
Since (imho) cassandra and its write-append mindset fits pretty well with the event storing approach I'm wondering if there is something similar in the roadmap

[2017-01-02 11:17] MonDeveloper opened #288 ""EventFlow.RabbitMQ" references "EventFlow.TestHelpers""
Looking at the references I noticed that "EventFlow.RabbitMQ" has a reference to "EventFlow.TestHelpers" and it seems a bit wrong to me so I removed it and everything still compile succesfully.
Could you remove it?   ...or it has other meaning I missed?

[2017-01-03 06:46] rasmus commented on #288
@MonDeveloper Doh, that's very wrong, will fix asap

[2017-01-03 06:51] rasmus commented on #287
@MonDeveloper I have read a bit about Cassandra, but I have no experience working with it, there's no plans for adding support for it. If you're up for it, I would recommend creating a package for it. I would prefer if it isn't stored in the main repo, that is getting a bit big and I'm considering splitting it up into smaller ones.

Creating your own event persistence in EventFlow is relatively si

[2017-01-03 07:23] rasmus commented on #288
No types were used, so it shouldn't be a problem regarding the NuGet package. Fix is underway though.

[2017-01-03 07:23] #288 closed

[2017-01-04 22:54] rasmus commented on #112
nope

[2017-01-04 22:54] #112 closed

[2017-01-08 06:54] minhhungit opened #294 "Import a large number of events"
Hi team,

My team is considering to use Eventflow for our project.
- Problem is we need to import large events to SqlServer Event Store, so we're writing a console application to load data from existed tables and send command to build events.
- We always update large data into database (about 2-3 milion records by csv file) once a week.

Our database has a lot records, about **30 milions** records

[2017-01-08 08:19] rasmus commented on #294
I'm not at a computer right now, but for the table value you can use the built-in that EventFlow has implemented and look at the implementation from the EventFlow code base.

I'll see if I have any input to the rest when I'm at a computer.

[2017-01-08 15:25] rasmus commented on #294
@minhhungit Got computer access

Just wanna give you a few ideas, weather or not any of them are good in your situation depends on your application and your preference.

- You could make your own implementation of the `MsSqlEventPersistence` and use that on your existing event store, then you wouldn't need to migrate anything. You would need to implement the `EventJsonSerializer` as well. Don't kn

[2017-01-08 16:02] minhhungit commented on #294
Thank you for your help, @rasmus
Because your ideas are not simple so I think I will need time to research them, thank you again!

[2017-01-09 07:50] minhhungit commented on #294
@rasmus This framework is hard for me, can you show me how to send command with table value type.

[2017-01-09 09:18] rasmus commented on #294
@minhhungit Sure, its right here: https://github.com/eventflow/EventFlow/blob/develop/Source/EventFlow.MsSql/EventStores/MsSqlEventPersistence.cs#L139

If there's something specific that's cumbersome, let me know

[2017-01-11 08:53] rasmus commented on #158
Working on this using the new csproj format in #291

[2017-01-13 01:23] minhhungit commented on #294
No @rasmus , I mean how to create a EventFlow Command that can emit a List< events >
And in that emit method, it will use table value type to optimize speed
Actually, I will very happy if you can implement a new library to import events,
something like `Eventflow.EventImporter`, I am not good man to implement it :flushed:

[2017-01-13 06:12] rasmus commented on #294
There's already such method on the `IEventStore` that you can use. https://github.com/eventflow/EventFlow/blob/develop/Source/EventFlow/EventStores/IEventStore.cs#L35

[2017-01-13 12:01] minhhungit commented on #294
There seems to be some misunderstanding.
As I see, **StoreAsync** is method that used to store events for an aggregate ID

In my mind, I have a normal table called Supplier with 1 million records
I need to convert it to Supplier aggregate root with `SupplierCreated` event

Each supplier record will have a SupplierRoot Id, so I need to create 1 million Supplier Aggregate Root and it just has an eve

[2017-01-16 07:06] rasmus commented on #238
http://www.russmiles.com/essais/going-events-first-for-microservices-with-event-storming-and-ddd

[2017-01-16 12:41] rasmus commented on #158
https://blogs.msdn.microsoft.com/dotnet/2016/11/16/announcing-net-core-tools-msbuild-alpha/

[2017-01-16 19:42] rasmus commented on #294
@minhhungit Then the easiest solution would be to mimic the code in the MSSQL event store found on line https://github.com/eventflow/EventFlow/blob/develop/Source/EventFlow.MsSql/EventStores/MsSqlEventPersistence.cs#L108

My focus right now is getting .NET Core support and cleaning up some of the population of read models code.

[2017-01-16 19:43] rasmus commented on #62
Added http://docs.geteventflow.net/, more will come

[2017-01-16 19:43] #62 closed

[2017-01-16 19:44] #142 closed

[2017-01-30 09:03] xorcrud commented on #158
just wanted to let you know that:
a) the eventflow architecture seems consice/elegant and the code consistent and pretty much optimized
b) .net core would be much appreciated. But seems non trivial (a lot of work, not especially difficult)

The consideration of using EventFlow is the only thing which holds me back from using .net core at the moment. Looking into porting EventFlow to .net core myse

[2017-01-30 09:44] rasmus commented on #158
@xorcrud I'm working on upgrading the project to the new csproj format in PR #291 which will simplify the task of supporting .NET Core greatly. However, the new format is still in preview and there's some issues regarding integration with Paket. As soon as both Paket and the new csproj format stabilizes I'll continue on the update.

[2017-03-10 21:17] kthe opened #302 "No easy way to use sagas with multiple aggregates"
Maybe I am missing something but.. it seems like the sagas needs a little work in the usability area.
When working with more then one aggregate, I can not find a good way to locate the saga given the domain event..

Some sample code.

[code]

[2017-03-10 22:19] rasmus commented on #302
@kthe You are definitely right, sagas is relatively new to EventFlow and I haven't done any iterations on the concept yet.

Regarding how to get the saga ID, here I haven't been able to come up generic method for generating saga IDs. The problem is that I depends very much on how you structure your domain and events. There are a few different solutions you could choose from

- Pick one aggregate I

[2017-04-05 12:39] rasmus commented on #302
@kthe Did you find a solution?

[2017-04-07 06:12] rasmus opened #306 "Move documentation to new repo"

[2017-04-07 06:14] rasmus opened #307 "Spilt into multiple repositories?"
Should Elasticsearch, EventStore etc be split into separate repositories

[2017-04-10 15:34] houseme-kyle commented on #302
@rasmus we using EventFlow throughout our system and have recently ran into this problem. What we have done is use a NoSQL store for the purpose of generating the mapping between contexts and maintaining it.

The reason this work is because sometime during the lifetime of each instance in a flow, the relationship is know, so it is only a matter of recording this relationship for when it is needed

[2017-04-10 15:57] kthe commented on #302
@rasmus. And we settled for using metadata similar to the docs.

måndag 10 april 2017 skrev houseme-kyle <notifications@github.com>:

[2017-04-10 18:35] rasmus commented on #302
@houseme-kyle and @kthe, great, if you have any specific suggestions on how the saga API might be improved, then let me know.

[2017-04-10 19:03] rasmus commented on #302
@kthe and @houseme-kyle if you have implemented your own event persistence, I can recommend that you take a look at `TestSuiteForEventStore` for test inspiration. Especially make sure that the support for optimistic concurrency is tested.

[2017-04-11 00:12] ppXD commented on #302
~

[2017-04-11 00:16] ppXD commented on #302
- [ ]

[2017-04-15 16:46] rasmus commented on #302
I'll close this issue, let me know if you disagree.

[2017-04-15 16:46] #302 closed

[2017-04-26 06:55] accoleon opened #318 "Any Examples with Autofac and ASP.NET MVC?"
I'm unable to get a simple example working in the context of Autofac and ASP.NET MVC:

Inside Global.asax.cs.Application_Start():
[code]
Inside HomeController.cs:
[code]
Inside Index.cshtml:
[code]

Usually the first load works fine, but once you try to reload the page, there will be a "The semaphore has been disposed." exception:
![image](https://cloud.githubusercontent.com/assets/115630/25421578

[2017-04-26 11:40] rasmus commented on #318
Hi @accoleon. Thanks for reporting this. I'll have to look into it, but it looks like a problem in the `InMemoryReadStore` which I'll have to look into when I have access to my computer. Could you try to remove it and verify that it indeed is the cause?

[2017-04-26 15:50] kthe commented on #318
I have seen that error before.
That was inside an httppost. The solution was to use actionresult as a
retun type instead. Like..

public async Task<ActionResult> Index(..

/Krister

onsdag 26 april 2017 skrev Kevin Xu <notifications@github.com>:

[2017-04-26 15:58] kthe commented on #318
After double checking, it turned out I'm using

[HttpPost]
        [Route("api/v1/schedule")]
        public async Task<IHttpActionResult> Process(
            ProcessProductionScheduleType schedule)
        {
            // perform the actual processing and
            // publish internal events
            await _productionScheduleService.ProcessSchedule(
                schedule,

[2017-04-26 19:37] accoleon commented on #318
So even after removing the InMemoryReadStore:
[code]
 and my HomeController.cs looks like this:
[code]
Index.cshtml:
[code]
It's still the semaphore disposed error. I am pretty sure it has something to do with EventFlow's Scope Lifetime being custom and not what Autofac's MVC integration expects (and probably nothing to do with the InMemoryReadStore), but since it was stated that this has been in

[2017-04-27 05:29] rasmus commented on #318
@accoleon I created a MVC5 project in #319 with the code you stated in the very beginning. However, it doesn't fail. Could you have a look and see what's different?

[2017-04-27 13:31] accoleon commented on #318
I checked out that branch and it runs fine the first time, but reloading the same page causes the semaphore disposed error - you don't experience it?

[2017-04-27 16:11] rasmus commented on #318
@accoleon I do... I found the bug. Its a problem with the singleton registrations. I'm looking into how the test `TestSuiteForServiceRegistration.Singletons` didn't catch it. I'll release a fix as soon as its done

[2017-04-27 19:21] rasmus commented on #318
@accoleon and @kthe found the bug. `IDisposable.Dispose()` was invoked on singletons due to a bug in EventFlow service registration that enables easier decoration.

[2017-04-27 19:30] rasmus commented on #318
Fixed in #320

[2017-04-27 20:26] rasmus commented on #318
@accoleon Could you verify the fix in 0.41.2727?

[2017-04-27 21:29] accoleon commented on #318
Yes, I updated the EventFlow and EventFlow.Autofac NuGet packages to 0.41.2727 and now the test project builds fine works across refreshes. Thanks for fixing the bug quickly!

[2017-04-27 22:05] #318 closed

[2017-04-28 07:38] rasmus opened #323 "Gitlink source links are incorrect"
PDB files contains wrong links for source code.

[2017-05-02 11:58] houseme-kyle opened #325 "DomainEvent event id metadata never changes"
Looking at AggregateRoot, is there a reason that the eventId never changes; this is ultimately used in the Metadata for domain events.

`  var eventId = EventId.NewDeterministic(
                GuidFactories.Deterministic.Namespaces.Events,
                $"{Id.Value}-v{0}");`
_this will be identical for every event of an aggregate_

Thought the eventId was meant to be a unique identifier for ea

[2017-05-02 12:33] rasmus commented on #325
@houseme-kyle thanks for reporting that. It should have been `v{aggregateSequenceNumber}` instead of `v{0}`.

[2017-05-02 12:54] houseme-kyle commented on #325
Thought that might be the case 👍

[2017-05-02 18:05] #325 closed

[2017-05-02 18:45] #323 closed

[2017-05-03 21:30] rasmus opened #329 "MSSQL integration tests are unstable"
Sometimes the MSSQL connection tests cannot connect to the service.

[2017-05-10 06:58] rasmus opened #333 "Command results"
Investigate if command results would be ideal for EventFlow

Sources
- https://jimmybogard.com/domain-command-patterns-handlers/
- https://jimmybogard.com/domain-command-patterns-validation/
- https://gist.github.com/vladikk/86da55d0eb09d7a291b9f9a5b406f2c9

[2017-05-22 05:43] rasmus opened #335 "Tasks are terminated in web API"
Which is currently only used by the opt-in `ISubscribeAsynchronousTo<>`

See http://blog.stephencleary.com/2012/12/returning-early-from-aspnet-requests.html

[2017-05-24 14:35] rvcssingh opened #337 "How to add TenantId in event"
Hi,

I tried customizing the solution for creating multi tanent support but could not add tenantId as Aggregate Id.Please let me know how to do that.

[2017-05-24 15:26] rasmus commented on #337
Not sure I follow, but you can create you own aggregate id's, simply create your own id class that implements IIdentity

[2017-05-24 15:58] rvcssingh commented on #337
Yes,I created the same but when i passing the value through constructor it is asking to register service for that.

[2017-05-24 19:28] rasmus commented on #337
@rvcssingh Have a look at #338

[2017-05-28 17:16] #335 closed

[2017-05-29 12:20] ylbillyli opened #340 "Eventflow Resolves Services on Startup Without Disposing?"
Hi @rasmus,

I am using EventFlow with Autofac. Recently I notice on startup, I have a few resources that get on hold never released. Tracing it down, looks like it is Eventflow's `CreateContainer` ->  `AutofacServiceRegistration.CreateResolver` -> `autofacRootResolver.ValidateRegistrations()` that resolve all my services (which some are `IDisposable` e.g. `IMyDbContext`) without disposing them. I

[2017-05-29 16:04] rasmus commented on #337
@rvcssingh did the solution we discussed in #338 work for you?

[2017-05-29 16:05] rasmus commented on #340
@ylbillyli Yes, that does look like a bug as all the resources are resolved using the main container which is never disposed. I'll create a fix for that

[2017-05-29 16:56] #340 closed

[2017-05-29 18:27] rasmus commented on #340
@ylbillyli fixed in v0.46.2886

[2017-05-30 02:53] ylbillyli commented on #340
wow, that's quick, thx @rasmus 👍

[2017-06-05 09:54] rvcssingh commented on #337
How to delete a aggregate. for eg. let say I have added one employee now I need to delete it by raising employeeDeleted event

[2017-06-05 20:23] rasmus commented on #337
Invoke `IEventStore.DeleteAggregateAsync`, there's isn't a equivalent on `IAggregateStore` yet. I recommend doing it using e.g. the asynchronous-subscribers

http://eventflow.readthedocs.io/Subscribers.html?highlight=isubscribe#asynchronous-subscribers

[2017-06-13 15:13] andrei-tatar commented on #112
@rasmus Was there a reason why a MongoDB implementation is not provided? I was thinking of implementing my own but maybe I'm missing something.

[2017-06-13 19:45] rasmus commented on #112
@andrei-tatar no reason. I don't have the experience with MongoDB to provide one that I can support

[2017-06-13 20:42] andrei-tatar commented on #112
OK, good to know. Thanks!

[2017-06-14 17:24] rvcssingh commented on #337
I am not able to find this
IsAsynchronousSubscribersEnabled.
I search it for but did not get anything in the code

[2017-06-14 18:28] rasmus commented on #337
@rvcssingh Its right here https://github.com/eventflow/EventFlow/search?utf8=%E2%9C%93&q=IsAsynchronousSubscribersEnabled&type=

[2017-06-15 06:45] janfeyen commented on #112
Hi
I have implemented readstore and snapshot store for mongoDB and a readstore for firebase
I haven't had the time yet to add it to this project and create a pull request but more than happy to help you/share the code

[2017-06-15 09:39] rvcssingh commented on #337
I tried using ISubscribeAsynchronousTo and also register in application start using AddSubscribers.
Registered eventflow.hangfire and its working but handler method is not getting called.If i use ISubscribeSynchronousTo then only handler method get called.how to fix that

[2017-06-15 11:25] rasmus commented on #112
@janfeyen If you are interested I can add those two as separate repos in the eventflow org and make you maintainer of those? I'm planning to move the different read stores and event stores to separate repos to make it easier to maintain in the future

[2017-06-16 05:09] rasmus commented on #337
@rvcssingh Have a look at the https://github.com/eventflow/EventFlow/blob/develop/Source/EventFlow.Hangfire.Tests/Integration/HangfireJobSchedulerTests.cs test, it invokes subscriber in the `AsynchronousSubscribesGetInvoked` test

[2017-06-16 07:23] janfeyen commented on #112
@rasmus yep, let's do that

[2017-06-16 18:52] rasmus commented on #112
@janfeyen you should have an invite

[2017-06-19 06:02] janfeyen commented on #112
@rasmus thanks, just committed my code
I removed the test project for now as it depends on your test helper but it's not part of your EventFlow nuget package.
any suggestions? I'd like to include it at one stage. It's based on your thingy and thingy message tests.

I'll work on the documentation later today.

Also, never created a nuget package before, will read up on it as well today

[2017-06-19 10:04] janfeyen commented on #112
Hi @andrei-tatar, @rasmus  , you can install the package EventFlow.MongoDB for mongoDB read stores.
Setting up the readstores works simular to other readstores

1. Configure the DB
`ConfigureMongoDb`

2. decorate your readmodel
`[MongoDbCollectionName("core.accounts")]
public class AccountReadModel : IMongoDbReadModel,
        IAmReadModelFor<AccountAggregate, AccountId, AccountCreated>,
...`
3. R

[2017-06-19 16:55] janfeyen commented on #112
can you also add warren-pieterse (qubit) to the 2 repositories?
He's my colleague and will assist in maintaining the repositories
Thanks

2017-06-16 20:52 GMT+02:00 Rasmus Mikkelsen <notifications@github.com>:

[2017-06-22 05:09] rasmus commented on #112
@janfeyen I have been thing about providing a test suite NuGet for EventFlow projects to help develop packagers, storage and read models. It would contain the test domain and the helpers. Would that make sense?

[2017-06-22 12:24] janfeyen commented on #112
@rasmus yes ... that would help

[2017-06-26 04:39] janfeyen opened #342 "update docs to link to MongoDb and Firebase ReadStores"
Can you update your docs and add a link under the [ReadStores](http://docs.geteventflow.net/ReadStores.html) section to [EventFlow.Firebase](https://github.com/eventflow/EventFlow.Firebase) and [EventFlow.MongoDb](https://github.com/eventflow/EventFlow.MongoDB)?

[2017-06-26 05:09] rasmus commented on #342
@janfeyen Could you provide a pull request? I haven't had much time for anything these last evenings. I would really like to support this, but I can't the next few days.

[2017-06-26 05:27] janfeyen commented on #342
sure ... I'll do it tonight latest tomorrow. Firebase has 67 downloads so far, MongoDb 32. Hoping to get some more if they can find it via the official EventFlow docs.

Firebase works really nice with EventFlow clients as it solves the eventual consistency problem. ReadModel changes get pushed to all clients who subscribed to it. So no need to know when the ReadModel updated, Firebase just tells y

[2017-06-26 05:37] rasmus commented on #342
@janfeyen Very nice 😄

[2017-06-27 13:24] rvcssingh commented on #337
Hi rasmus,
I am trying to understand Sagas from the document (http://docs.geteventflow.net/Sagas.html).
I have implemented the same but not sure it is correct or not as I did not find any example similar to what you provided in the doc.Thingy one is not fit the senario as it is very complex and not general.Can you please provide a sample code like stuff in more detail using the same example of sag

[2017-06-27 14:30] rasmus commented on #337
@rvcssingh I can, but it wont be any time soon. My recommendation is, if sagas seem too complex, then you properly don't need it.

Microsoft has a brief description of the concept here: https://msdn.microsoft.com/en-us/library/jj591569.aspx

[2017-06-27 15:07] petersondrew commented on #158
So I'm trying to follow the PRs involved here, it looks like this is still blocked by converting to the new project format because #303 was reverted by #312 right?

[2017-06-27 16:08] rasmus commented on #158
@petersondrew its implemented, #303 was the start then I implemnted .NET standard in #330. The new project format was the first step.

[2017-06-27 16:08] #158 closed

[2017-06-27 16:10] rasmus commented on #158
@xorcrud .net standard (and thereby .net core support) is done

[2017-06-28 13:02] Nysosis opened #343 "AddSubscriber/AddSubscribers does not support ISubscribeAsynchronousTo"
Documentation on http://docs.geteventflow.net/Subscribers.html states that for `ISubscribeSynchronousTo` and `ISubscribeAsynchronousTo` one should register via use of `AddSubscriber(...)`, `AddSubscribers(...)` or `AddDefaults(...)`. However neither `AddSubscriber(...)` or `AddSubscribers(...)` accept `ISubscribeAsynchronousTo` (AddSubscriber will not compile, and AddSubscribers throws a runtime e

[2017-06-28 18:42] rasmus commented on #343
@Nysosis verified, thanks for reporting. As a workaround you can register the subscribers as services for the interface `ISubscribeAsynchronousTo<,,,>`

[2017-06-28 19:11] #343 closed

[2017-06-29 04:54] rasmus commented on #343
@Nysosis Fixed in v0.47.2894

[2017-07-09 11:11] houseme-kyle opened #345 "Non-Generic Purge/Populate methods"
IReadModelPopulator to expose non-generic methods that take in the type. e.g.
public async Task PopulateAsync(Type readModelType, CancellationToken cancellationToken) or
public async Task PopulateAsync(IReadModel readModel, CancellationToken cancellationToken)

This allows the types to be determined during runtime then dynamically purged and populated. Use case as follows:
- Specify assembly of re

[2017-07-09 17:58] rasmus commented on #345
Good idea, thanks for reporting.

[2017-07-09 20:19] #345 closed

[2017-07-09 20:20] rasmus commented on #345
Will be in 0.48 release

[2017-07-09 20:28] rasmus commented on #337
@rvcssingh closing as original question is answered

[2017-07-09 20:28] #337 closed

[2017-07-11 05:41] rasmus commented on #345
@houseme-kyle Released in [0.48.2937](https://www.nuget.org/packages/EventFlow/0.48.2937)

[2017-07-11 05:44] houseme-kyle commented on #345
That was fast - thanks for adding it!

[2017-07-11 06:07] rasmus commented on #345
no problem, it was a good idea

[2017-07-12 06:41] rlf opened #350 "Doc: Add a readmodelrepository example"
In the documentation, you are missing the final link in the chain between readmodels and queries.
The example uses a `IUserReadModelRepository` but there is no example of how that would look.

Is it something that can be "autogenerated", or do I need to write a specific SQL-based repository (including interfaces) to access the ReadModel-store?

[2017-07-12 18:56] rasmus commented on #350
@rlf good idea for the final link. EventFlow doesn't make any attempt at writing the SQL or ES queries and properly never will, its simply too complex and I personally wouldn't want them auto-generated as they often rely on e.g. indexes. In most cases I would guess that queries on read models would be based on a single property/column and then the SQL you be rather trivial

[2017-07-13 07:17] ppXD opened #351 "How to use MSSQL and FILES EventStore same time?"
IRootResolver rootResolver = EventFlowOptions.New
  ...
  .UseMssqlEventStore()
  .UseFilesEventStore(storePath)
  .CreateResolver();

it will be only record the event to files.

[2017-07-13 11:29] romanstetsenko commented on #351
Obviously you have to create a wrapper which implements IEventStore interface and internally has dependencies on desired stores then calls these dependencies

[2017-07-13 13:01] rasmus commented on #351
@ppXD I wouldn't recommend it as you would most likely end up in a inconsistent state, e.g. if a optimistic concurrency exceptions happen in one and not in the other event store. Personally I like to think the event store as the single source of truth, so having two of them defeats that.

If you simply would like to create a backup of all event emitted, the register the `ISubscribeSynchronousToAll

[2017-07-14 01:41] ppXD commented on #351
@rasmus Thank you very much, Implement `ISubscribeSynchronousToAll ` interface is a good solution.

The question for this is that I recently used EventFlow for my project. Because the `Serilog` Framework provide write log to multiple places same time.

[2017-07-14 02:42] ppXD opened #352 "UseEventStoreEventStore exception"
MissingFieldException: EventStore.ClientAPI.StreamEventsSlice.NextEventNumber”。

code:
[code]

[2017-07-14 07:28] ppXD opened #353 "ISubscribeSynchronousToAll how to get aggregate event detail?"
[code]

[2017-07-17 21:11] rasmus commented on #352
@ppXD Please provide some details. You might be using a different configuration than the integration tests as those parsed green with the last release. Please verify your setup and check the differences between the integration tests,

https://ci.appveyor.com/project/rasmusnu/eventflow/build/0.48.2937/tests

[2017-07-17 21:13] rasmus commented on #353
@ppXD As the event has the correct type, you can do what every you normally would when needing to up cast. Simple solution would be to use C# 7 new switch on type functionality

https://blogs.msdn.microsoft.com/dotnet/2016/08/24/whats-new-in-csharp-7-0/

[2017-07-17 21:13] #353 closed

[2017-07-28 10:21] Nysosis opened #354 "Are queries supposed to return ReadModels or Entities?"
Looking over the docs, and browsing the example shipping project, I'm a little confused on the expected way for Queries to work. My understanding, and your documentation supports this (by mention of the fact that you provide and `InMemoryQuery<>` which explicity requires an `IReadModel`), is that in CQRS system, the Queries would return ReadModels, which are tailored for the Query, and separate fr

[2017-07-29 18:01] rasmus commented on #354
@Nysosis you are absolutely correct, all the in-memory stuff are there to give a good "out-of-the-box" experience and yes, the shipping example isn't complete, it does have several holes. You should use read models, but it depends on your load.

At work we actually sometimes load the aggregate itself and map it to some "read model" to save the work required to create and maintain a read model. Thi

[2017-07-29 18:02] #351 closed

[2017-07-29 18:03] rasmus commented on #354
The `Entity<>` isn't documented yet, but then again, the queries are documented rather poorly in general.

[2017-08-03 07:59] inude opened #355 "Where do i delete readmodel"
Where do i delete readmodel

[2017-08-03 08:23] rasmus commented on #355
EventFlow only has support for deleting all read models using the `IReadModelPopulator`. There's no management of individual read models.

[2017-08-03 09:06] rasmus commented on #355
... yet.

you'll have to create your own read model deletion

[2017-08-16 10:52] Nysosis opened #356 "FilesEventPersistence.CommitEventsAsync causing IOException to occur"
I'm noticing this intermittently, getting a `IOException` thrown when trying to commit the events.

I think what's possibly happening is that the commit is being called from multiple threads (perhaps because of multiple requests firing events at the same time?), and end up in a race condition at [FilesEventPersistence.cs#L170](https://github.com/eventflow/EventFlow/blob/fa315bc60362df21d1f5f474c82

[2017-08-16 11:19] rasmus commented on #356
@Nysosis You shouldn't use the file store for production environment as it isn't thread safe. I know it isn't stated very clear in http://docs.geteventflow.net/EventStore.html#files I'll update the documentation asap.

Please switch to a proper event store for production

[2017-08-16 11:54] Nysosis commented on #356
I'm not using it production, wasn't planning on either :)

Just prototyping with it and occasionally happens from time to time

On 16 August 2017 at 12:19, Rasmus Mikkelsen <notifications@github.com>
wrote:

[2017-08-16 12:12] rasmus commented on #356
@Nysosis great 😄 but yes, the file store isn't thread safe. If you have a single server setup and merely want to test EventFlow through a API, you could use the in-memory store.

I would be nice to have the file store thread safe, I'll create a issue for that

[2017-08-16 12:12] rasmus opened #357 "File store should be thread safe"
To allow easier testing of EventFlow in a setup, the file event store should be thread safe.

See #356

[2017-08-29 15:32] tatarincev opened #360 "Question about ReadModel and Aggreage consistency."
`Command -> AggregateStore.UpdateAsync-> AggregateRoot.CommitAsync -> EventStore.StoreAsync -> DomainEventPublisher.PublishAsync -> DomainEventPublisher.PublishToReadStoresAsync` <- if the exception will be raised here what will be with consistency between read-models and aggregate?

[2017-08-29 17:57] rasmus commented on #360
@tatarincev in-consistent 😢 currently EventFlow doesn't have any way of handling this. I have been working on #245 for some time, which will automatically apply missing events to read models on next event publish to the read model. This isn't the perfect solution I know, but I haven't found a good solution to do this.

I your case your left with a few choices, none of them very pretty.

- decorate

[2017-08-29 17:58] rasmus commented on #355
No activity on question, closing

[2017-08-29 17:58] #355 closed

[2017-08-29 17:59] rasmus commented on #354
No activity, assuming the question was answered

[2017-08-29 17:59] #354 closed

[2017-08-29 18:04] rasmus commented on #121
Closing, implemented Hangfire for now

[2017-08-29 18:04] #121 closed

[2017-08-29 18:23] tatarincev commented on #360
Many thanks for your detailed response. We will try to invent of something and definitely let you know if this is a good solution :)

[2017-08-30 03:05] frenchyjef opened #362 "Publishing events to another Bounded Context"
Hi,

I have started testing Event Flow in our application and I would love to get your ideas on the following challenge:

I created a generic Event Bus that multiple Bounded Contexts (in DDD terms) use to communicate with each other.

The Event Bus is based on the Publisher/Subscriber pattern where one Bounded Context publish an Event to a "topic" and other Bounded Contexts can subscribe to the "t

[2017-08-30 06:18] rasmus commented on #362
When serialising events to JSON you can use the built-in functionality in EventFlow `IEventJsonSerializer`. It makes it considerably easier. When deserialising you might want to run the `IEventUpgradeManager` to make sure every single event is upgraded to the latest version (if you use the versioning feature).

Publishing domain events to read stores manually with EventFlow is fairly easy, merely

[2017-08-30 07:16] frenchyjef commented on #362
Thanks for the details rasmus... however I already have the **Publish** part completed :)   I am currently able to publish Commands all the way to publish my Events to the Event Bus but I am struggling with the **Subscriber** of the event applying the event to its read models.

Let's say I have an Customer Bounded Context and an Invoice Bounded Context. If we follow the DDD design pattern, each bo

[2017-08-30 17:56] rasmus commented on #362
Great, I hear you, didn't get the part about different bounded contexts wan't to use events from other bounded contexts 😄

First, when you don't use the same IDs for the read models and aggregates, EventFlow uses the `IReadModelLocator` which can be specified while registering the read model. It only has a single method `IEnumerable<string> GetReadModelIds(IDomainEvent domainEvent)` which should m

[2017-08-31 16:16] frenchyjef commented on #362
Providing an overload for PublishAsync() sounds like a great plan and will gladly make use of it.

I was also playing with the idea of transforming the Events received by the Subscribing Bounded Context into a matching Command and publish it through its Command Bus?  What do you think?

High level flow:
1. BC1 publishes an Event to Event Bus
2. BC2 is notified of the Event
3. BC2 creates a new Com

[2017-08-31 18:01] rasmus commented on #362
It sounds like your focus is on how the technical/coding can be done. Maybe focus on how the domain should be modeled. For that you might want to introduce the concept of domain services as a bridge between the events from the external context to the internal one (http://domainlanguage.com/wp-content/uploads/2016/05/DDD_Reference_2015-03.pdf).

So, as an example we have two bounded contexts invoic

[2017-09-01 11:04] janfeyen opened #369 "support for reoccurring jobs"
I can't seem to find a way to schedule reoccurring jobs using hangfire?

[2017-09-01 12:43] rasmus commented on #369
@janfeyen it isn't there, added as feature request

[2017-09-01 17:55] rasmus commented on #369
Recurring jobs is part of the `IBackgroundJobClient` (see https://discuss.hangfire.io/t/enhance-interface-ibackgroundjobclient-for-unit-test/1450)

[2017-09-04 09:13] roblevine opened #373 "Is there any way of injhecting a dependency into an MSSQL read model?"
I have an MSSQL readmodel, but need to inject some dependencies into it (e.g. a date time provider, a calculator class).

I'd rather not go down a static service locator pattern, but the `UseMssqlReadModel `extension has a `new()` constraint on the read model.

Is there any way to access the container within the read model, or otherwise have dependencies injected in?

[2017-09-04 10:15] rasmus commented on #373
Not through the constructor as the read models are created by Dapper. But the `IReadModelContext` passed in the `void Apply(IReadModelContext context, IDomainEvent<TAggregate, TIdentity, TEvent> domainEvent)` has an `IResolver` that you can use to resolve any needed services

[2017-09-04 11:10] janfeyen opened #374 "Recover from "Commit transaction failed due to WrongExpectedVersion""
Hi @rasmus
I know this is more an EventStore question but I'm hoping you ran into this problem before.

We have rewritten an existing solution using EventFlow and are currently running the new system parallel with the old production system.
Everything running great and smoothly but now all of sudden, we are getting back "Commit transaction failed due to WrongExpectedVersion. TransactionID: 1886702

[2017-09-04 11:14] roblevine commented on #373
That'll teach me to try and solve these problems late on a Saturday night - totally missed the obvious.
Thank you.

[2017-09-04 11:14] #373 closed

[2017-09-04 17:50] rasmus commented on #374
I haven't any production experience with EventStore and my knowledge is very limited, but I'll try to help.

The `WrongExpectedVersionException` is caught in EventFlow and rethrown as an `OptimisticConcurrencyException` which basically means that two different threads/requests were editing the same aggregate at the same time. This is perfectly normal and something happens in our MSSQL event store

[2017-09-04 17:57] rasmus commented on #374
@janfeyen I wrote a test for EventFlow in #375

[2017-09-04 19:26] rasmus commented on #374
@janfeyen I couldn't reproduce your problem via #375. Am I missing something?

[2017-09-06 09:07] edwardwilson commented on #333
@rasmus Where did this end up going? There has been no discussion here, maybe we could get that going?

I think having a command result returned is a good idea. I would love to use it for validation and general notification that the command is being worked on/is complete.

The gist you link to is very interesting, I disagree with the execution result containing a payload though. For me that breaks

[2017-09-06 10:13] rasmus commented on #333
@edwardwilson I agree. The specific use case that I have, is that I don't want to use `DomainError` exceptions for validation errors as you mentioned.

I did a quick PoC a little while back, but hit a few road blocks as the changes introduced some pretty bad breaking changes. I'll give it another go.

[2017-09-06 11:06] edwardwilson commented on #333
Happy to work on it with you if you would like? Let me know once you have something together and I wil give as much input as I can.

[2017-09-07 15:48] edwardwilson commented on #112
This issue talks about adding mongodb as an event store; I have a pull request in the repo adding this feature but I'm afraid it seems to have gotten forgotten about for some time now. Is there anyone here that could review?
@rasmus

[2017-09-07 17:40] rasmus commented on #112
@edwardwilson I haven't been watching the other repo, sorry. I'll add you as a maintainer as well as it doesn't seem like @janfeyen and @edwardwilson are maintaining.

[2017-09-08 08:23] edwardwilson opened #378 "Split addins into their own repos"
The main EventFlow repo has grown large and contains many addin projects. These should be moved to their own git repos where issues and work can be tracked better. Here are some I have identified as good moves to start.

- [ ] Move Elasticsearch to EventFlow.Elasticsearch  [#307](https://github.com/eventflow/EventFlow/issues/307)
- [ ] Move Documentation to EventFlow.Documentation [#306](https://g

[2017-09-08 08:24] edwardwilson commented on #378
@rasmus I do not have permissions to create new repos in EventFlow, if you want to create the repos I can move the code, or add the permissions for me to do this? I don't mind either way.

[2017-09-08 08:24] edwardwilson commented on #378
Consideration about build and deployment to nuget.org will need to be looked at too with these splits

[2017-09-08 08:35] edwardwilson opened #379 "Add Metadata Providers for Aspnetcore"
It would be good to have an ASP.NET Core addin which provides the needed middleware to populate Metadata Providers for Request headers, User information etc. There is already an example of this for OWN.

[2017-09-08 08:42] rasmus commented on #378
Before moving everything, I would like a solution for managing build files. So far the best I have come up with is a submodule and make the `build.cake` more convention based

[2017-09-08 14:47] edwardwilson commented on #378
Yes it would be good to have a standard build, I am curious though why there is a need for a cake build. Can a simple MSBuild combined with the bespoke `appveyor.yml` per repo work? I feel a submodule would complicate the getting started for newcomers to contribute.

[2017-09-08 16:42] rasmus commented on #378
I'm all for simplifying the build setup, but I prefer Cake to MSBuild configuration. If you have a good idea for simplification, create a pull request, I would love to see it.

I'm off this weekend so my support will be limited, but I hope to be to write to you soon.

[2017-09-21 05:15] Brandon2255p opened #381 "CD pipeline help"
Hi, I have a question that kind of boils down to the framework (EventFlow in our case ). I have been looking at various patterns for deploying our microservices to production and it seems like we could benefit from a container based continuous delivery pattern. We have chosen RabbitMQ to talk to our different services. Each service has aggregates and read models. We use an EventStore for each micr

[2017-09-21 05:18] Brandon2255p commented on #381
Sorry I clicked submit before I finished.

So I am having trouble understanding a couple key aspects of the pipeline. I know this is a lot to ask of an opensource project but is it possible to maybe Skype someone who can explain some things regarding setting up a staging environment and how to load balance between containers. I think we may have used our RabbitMQ wrong.

[2017-09-21 14:15] Nysosis opened #382 "Finding my AggregateRoots to be fairly anaemic, is this expected?"
So, from using the framework for a bit, what I'm finding more and more, is that my AggregateRoot is nothing more than a dispatcher for the relevant events that build up the read models, and that storing any form of state on the roots is generally unnecessary (except for when needed for Specification logic).

Am I missing something, or is this sort of pattern the expected way?

[2017-09-22 06:19] rasmus commented on #382
@Nysosis That is the case if you have a really simple domain. If your domain is complex and you managed to simplify that much, then you did a good job 😄

I would recommend reading a bit about DDD, specially around ubiquitous language. The aggregates and events should map directly to how you talk about your business, it makes it considerably easier anyway. Again, this might over-complicate a good s

[2017-09-26 17:52] rasmus opened #383 "Consume domain events from RabbitMQ"
As EventFlow is able to publish domain events to RabbitMQ, it should also be able to consume them if you want to link two bounded contexts using events.

[2017-09-26 17:54] rasmus commented on #381
@Brandon2255p I'm sorry, but I'm closing this issue as "out of scope". Its a very interesting discussion, but not something we merely could discuss on Skype.

I can recommend some if the articles listed here though

https://github.com/eventflow/EventFlow#useful-articles-related-to-eventflow-and-ddd

[2017-09-26 17:54] #381 closed

[2017-09-27 05:17] Brandon2255p commented on #381
Thanks @rasmus

[2017-09-27 18:44] rasmus opened #389 "Codecov integration is broken"
Fix Codecov.io integration

[2017-10-01 19:09] #333 closed

[2017-10-01 19:12] #51 closed

[2017-10-09 05:18] SergeyIlyin opened #390 "Is need empty CTOR for IReadModel?"
Do we need an empty designer of **IReadModel** in the next factory?
[code]
Can it be deleted?

I am start works for EF.Core ReadStore for exist DB where ReadModel inherits model  with not empty constructor.

[2017-10-09 06:49] rasmus commented on #390
It isn't needed any more as any custom read model construction can be handled by `IReadModelFactory`

[2017-10-09 06:50] rasmus commented on #390
@SergeyIlyin If you create a EventFlow.EntityFramework package, I can create a repo at the eventflow org if your interested.

[2017-10-09 08:20] SergeyIlyin commented on #390
I removed empty constructor requirements in my own branch.
The EventFlow.EntityFramework package needn't at this time. I will create the pull request later.

[2017-10-12 01:47] t-johnson commented on #357
I'll take a stab at this one, if thats okay?

[2017-10-19 04:51] mattgi commented on #158
@rasmus is it possible to provide some guidance in the documentation on how to set up a multi-project solution based on CORE 2.0 Web API, some Domain Services, and I guess RabbitMQ, ElasticSearch (or SQL), and EventStore.org? Keen to know how to wire it all from an IoC perspective using the built-in support provided by MSoft in Web API projects.

[2017-10-22 17:56] rasmus commented on #382
Closing issue after one month without feedback

[2017-10-22 17:56] #382 closed

[2017-10-24 22:14] frankebersoll opened #397 "Add support for unicode characters in type names"
When you talk to non-english customers about their non-english domain, having a common [ubiquitous language](http://www.jamesshore.com/Agile-Book/ubiquitous_language.html) gets invaluable real quick. The need to translate back and forth between terms that are actually used in the business and far-fetched or even wrong translations will easily frustrate developers.

Furthermore, having a non-englis

[2017-10-24 22:41] frankebersoll opened #398 "Build fails: Autofac.WebApi2 3.4.0 requires Autofac (>= 3.5.0 && < 4.0.0)"
[Build stopped working](https://ci.appveyor.com/project/eventflow/eventflow/build/0.51.3142):

I can look into this tomorrow.

[2017-10-25 06:09] #390 closed

[2017-10-25 06:13] rasmus commented on #397
@frankebersoll Very good input

[2017-10-25 11:47] frankebersoll opened #399 "StringExtensions.ToSha256 is not thread-safe"
I got bitten by a multi threading issue where multiple threads (xUnit tests) used `string.ToSha256()` at the same time. Obviously, Sha256Managed keeps some state during hash calculation, which isn't supposed to be shared. We should create instances on demand and dispose them afterwards.

[2017-10-25 14:10] #398 closed

[2017-10-25 14:16] rasmus commented on #104
Done - https://www.nuget.org/packages/EventFlow.TestHelpers/

[2017-10-25 14:16] #104 closed

[2017-10-25 14:17] rasmus commented on #329
Link failed builds

[2017-10-25 14:19] rasmus commented on #329
Issue at AppVeyor https://github.com/appveyor/ci/issues/1522

[2017-10-25 14:37] #399 closed

[2017-10-26 10:29] #356 closed

[2017-10-26 10:29] #357 closed

[2017-10-26 10:32] rasmus commented on #360
Closed as there hasn't been activity for more than a month on this question

[2017-10-26 10:32] #360 closed

[2017-10-26 10:32] rasmus commented on #362
Closed as there hasn't been activity for more than a month on this question

[2017-10-26 10:32] #362 closed

[2017-10-26 10:33] rasmus commented on #342
Docs has been moved to its own repo

[2017-10-26 10:33] #342 closed

[2017-10-26 10:43] rasmus commented on #389
Requested assistance from codecov.io, waiting for their response

[2017-10-26 17:44] rasmus commented on #397
Close by #396

[2017-10-26 17:44] #397 closed

[2017-10-31 23:21] mattgi opened #405 "Concurrency and Container based Services"
In considering just the write side of the equation, I am wondering how one deals with concurrency  across services.. also hoping for simple guidance on how to structure/host EventFlow across multiple domain driven micro services.

For the purpose of the question, here is what I assume to be a common requirement:

![untitled diagram 3](https://user-images.githubusercontent.com/1043906/32253123-02bd

[2017-11-02 19:53] rasmus commented on #405
Hi

EventFlow handles concurrency using optimistic concurrency within each aggregate root. This is done using the aggregate sequence numbers of the aggregate events. If a collision is detected, the command is retried on the updated aggregate root as it might still be a valid operation, e.g. the order of changing title and sub-title of a book doesn't really matter.

As for handling concurrency for

[2017-11-06 10:53] mattgi commented on #405
Awesome, thanks @rasmus. Our problem space is a simple one, but well suited to event sourcing. Few struggles in best understanding how to deal with concurrency but am getting there.. loving EventFlow so far - just wish there was more doco or examples to work from.. both tedious and time consuming to maintain so understand why things are the way they are. Thanks for taking the time to respond in su

[2017-11-06 10:53] #405 closed

[2017-11-13 10:09] marcopasveer opened #408 "RabbitMQ Username + Password support"
Heya, Awesome project, one problem we are having though:

Currently your 'RabbitMqConnectionFactory' does not support a custom Username + Password. Logins are  done using the guest user.

Since our RabbitMQ cluster requires a username+password the following exception is being thrown:

BrokerUnreachableException: None of the specified endpoints were reachable ---> RabbitMQ.Client.Exceptions.Authent

[2017-11-13 11:21] rasmus commented on #408
@marcopasveer the RabbitMQ integration tests currently provides username and password via the URI, e.g. `ampq://username:password@example.org`.Do you have a link to the documentation for the format/method you use?

[2017-11-13 11:55] marcopasveer commented on #408
My apologies,

I was unaware that I could provide the username and password through the url.
The connection is succeeding now.

I implemented a custom IRabbitMqConnectionFactory where I was able to set the UserName and Password in the RabbitMQ.Client.ConnectionFactory.

Thanks.

[2017-11-13 11:55] #408 closed

[2017-11-15 23:45] mattgi opened #409 "EventStore's LoadAllCommittedEvents is too inefficient"
`Population of read model 'User' took 86.158 seconds, in which 27 events was loaded and 27 was relevant`

Our current test EventStore instance has been sitting idle for weeks but has system generated $stats events, etc. being written to it constantly. As such, about 99.9% of its events are not related to app data. If I'm reading things correctly, I think it has 1145078675 events in it (and we care

[2017-11-16 16:02] sreagleeye opened #410 "High volume of commands in a saga"
I am using an AggregateSaga to process a large feed file. The saga is started by a FeedStarted event issued to the tenant which is running the feed. While the feed runs, it issues commands to different Aggregates to create/update those entities based off information provided in the feed. These feeds can contain over 100,000 records which could ultimately issue upwards of 1 million commands.

Looki

[2017-11-16 18:49] rasmus commented on #409
@mattgi The current implementation _is_ inefficient as it needs to go through every single event to make sure it gets the correct event for the read models when you repopulate. The main reason is the `IReadModelLocator`, i.e., EventFlow has no clue to what the relation is between read models and events.

I have been working on something that would make it a bit better. The PR #245 which basically

[2017-11-16 18:54] rasmus commented on #410
I wouldn't use the sagas for CSV processing as it seems to be pretty low-level stuff to have in your domain (I might be wrong though). If it's just file processing, I would recommend moving it to a separate service, implement some batching (if possible) to better keep track of progress and then simply iterate through the CSV records there.

[2017-11-16 18:57] rasmus commented on #410
As an example I have seen usage of RabbitMQ for records processing. One process iterates through the CSV file and published it to RabbitMQ, then multiple consumers take the records and process them in parallel. Keep in mind that you need to handle proper ordering and duplicate messages (if these are a concern).

[2017-11-16 20:29] janfeyen commented on #409
@mattgi Eventstore has the concept of [scaffolding](https://eventstore.org/docs/server/4.0.2/scavenging/) and settings for configuring how many stats to keep on a stream.
So set $maxAge, $maxCount or $tb metadata on your $ streams and run the scavenger.

[2017-11-16 20:31] sreagleeye commented on #410
For my purpose, I think it makes sense to have a Feed as part of my domain. It can hold configuration information, validate if the feed is allowed to run, track runs, provide statistics, etc. That said, I like the idea of using another queue to hold the records to process.

To bring all the ideas together, the FeedProcessManager saga will still start from the Tenant's FeedStarted event. The handle

[2017-11-16 20:31] #410 closed

[2017-11-17 01:43] mattgi commented on #409
We were just about to switch to MS SQL - a more familiar terrain. Are either of you using EventStore with confidence?

[2017-11-17 04:36] janfeyen commented on #409
We have been using it in production for about 3 months now.
We haven't had a single technical problem related to eventstore

On 17 Nov 2017 03:43, "Matt Ginty" <notifications@github.com> wrote:

[2017-11-17 14:04] mattgi commented on #409
Okies.. will persist.. just trying the $maxAge stuff but will probably do as @rasmus suggests and roll my own multi read model solution so I can just do one pass. Thanks guys.

[2017-11-17 14:04] #409 closed

[2017-11-17 16:13] janfeyen commented on #374
closing it as it hasn't happened again

[2017-11-17 16:13] #374 closed

[2017-11-18 18:36] rasmus commented on #410
@sreagleeye glad that you found a solution

[2017-11-19 14:30] withinboredom opened #412 "Consider making committing events sync instead of async"
By making commits async, they can get queued up in the thread pool and cause many optimistic concurrency exceptions, causing throughput to drop. If commits were synchronous the engineer can decide if an event can be performed async (by wrapping it in a `Task`).

I discovered this by writing up a simple benchmark that published 20k commands in a short period of time to a pool of random aggregates.

[2017-11-22 19:11] rasmus commented on #412
Sorry, EventFlow won't go sync on command publishing (or any other part that's currently async) as its one of its "key selling points".

- Optimistic concurrency exceptions only happens when multiple threads tries to commit events to the same aggregate ID
- EventFlow doesn't use any `Task.Run(() => ...)`, mainly to be web friendly, but also let any explicit thread usage be up to users of EventFlow

[2017-11-22 19:11] #412 closed

[2017-11-24 07:32] #379 closed

[2017-11-28 12:20] houseme-brandon opened #413 "Event Upgrade Manager Deferred Execution"
We have noticed an issue in the EventUpgradeManager since upgrading to dontnet core x64.

The following code segment results in null events being sent to the OrderBy()

[code]

I am not sure why this has only surfaced when we use dotnet core x64 but both SelectMany and OrderBy are implemented using delayed execution. The `a.Upgrade(up, ee)` was never being called which I suspect causes the values

[2017-11-29 09:22] houseme-brandon commented on #413
@rasmus Not yet, currently using Azure App Services. Will be moving to linux dockers in the future. Is there a known issue related to that?

[2017-11-29 18:36] ptwenke opened #414 "PostgreSQL or MySQL Support"
Is either PostgreSQL or MySQL supported?  If so, how do I configure the framework to do so?

[2017-11-30 11:44] edwardwilson commented on #414
There is no direct support for either of these databases. However you could take a look at the MSSQL or the SQLite projects to see how they are implemented.

EventFlow is very customisable and can be extended by the configuration to use and custom data store. A pull request for either of these two are welcomed

[2017-11-30 12:25] ptwenke commented on #414
I'll get started on the PostgreSQL support.

[2017-12-03 07:49] rasmus commented on #413
@houseme-brandon No, I was merely trying to reproduce it without any success and was thus trying to recreate the same setup

[2017-12-03 07:52] rasmus commented on #414
@ptwenke I think that AppVeyor supports Docker in their build, might be a good idea for integration testing

[2017-12-06 18:45] ptwenke commented on #414
@edwardwilson @rasmus , do the examples in the README show the APIs from the `develop` or `master` branch?  Which branch should I branch from?

[2017-12-07 21:44] mattgi opened #415 "best practices for Event payloads and optional fields"
If I have an Event that includes optional fields, what should be stored in the Event Store?

For example,

[code]

If the user only updates `FirstName`, what pattern should be used to ensure only the _set_ / _patched_ data is written to the event store? Or should `LastName` be included, but with a null value. If the latter, what then happens when the user explicitly wants to remove their `LastName

[2017-12-09 18:25] rasmus commented on #415
@mattgi It only matters if it has some significant meaning in your domain. If you later want to create events that explicitly state that only the first name was changed, you can do so using event upgraders (http://docs.geteventflow.net/EventUpgrade.html). Personally I would set the first and last name, as only having one could be misunderstood as removing e.g. the last name and not only updating t

[2017-12-09 18:28] rasmus commented on #414
@ptwenke As soon as I get some time I'll try to split most of the packages to individual repos. Thus a new repo for PostgresSQL would be best

[2017-12-11 01:54] mattgi commented on #415
Just to confirm in my own head based on a working example... (i.e. that the absence of a field in the request results in the field's removal). Would you agree that the flow would be as follows:

Data
[code]

1. A request comes through to the UpdateUserDetails command (to update first name):
[code]

Results in the Event:

[code]

---

2. A 2nd request comes through to the UpdateUserDetails command

[2017-12-11 19:52] rasmus commented on #415
@mattgi That would make sense to me, but again, its really up to how you as a group talk about the domain.

some examples

remove last name
[code]

only update first name
[code]

if there's uncertainty regarding what the different values mean, you could wrap the value in value object

[code]

or if you like enums better

[code]

(haven't checked if it actually compiles)

I recommend creating value

[2017-12-13 00:02] mattgi commented on #415
Ah true.. had not considered ValueObjects for simple types; makes sense.. thanks!

[2017-12-13 00:02] #415 closed

[2017-12-28 17:42] ptwenke commented on #414
@rasmus , would you prefer I wait for the new repo before creating a PR?

[2017-12-29 05:42] rasmus commented on #414
@ptwenke it would seem that I'm a bit slow in doing the repo cleanup. Lets start with a PR on this repo and  it can be moved later at some point.

[2018-01-06 11:29] dotfelixb opened #417 "Different MsSql Database for Read Models and Events"
Any implementation of how to use a different database MsSql Database for events and another for read moeel, command/query segregation

[2018-01-07 08:17] rasmus commented on #417
It isn't possible to do easy. You'll have to do some IoC configuration to pass a different instance of the MSSQL connection to read model updaters and readers.

[2018-01-17 22:20] wgtmpeters opened #418 "Saga: Where should business logic go?"
After reading all examples and test code of EventFlow is am still confused about where business logic should go.

For example the following workflow:
1 Some DomainService sends the CreateOrderCommand
2 CommandHandler handles the Command and calls updateAsync on the OrderAggregateRoot
3 The OrderAggregateRoot Emits the OrderCreatedEvent
4 Saga is created for the OrderCreatedEvent
5 From this Saga a

[2018-01-19 06:34] rasmus commented on #418
@wgtmpeters Microsoft has written a free book about CQRS and ES that's very easy to read. There's a article about sagas that might clarify how you might do it.

![image](https://user-images.githubusercontent.com/18956/35137721-241feadc-fceb-11e7-8e3e-0fe81ae05c2e.png)

From https://msdn.microsoft.com/en-us/library/jj591569.aspx

[2018-01-21 19:34] wgtmpeters commented on #418
@rasmus I came across that article before.
In this example when using Saga's it would mean that between order created and sending the MakeReserveration command the Saga would not be able to get any more information than it already has correct?

So how would a Saga handle your example with VoyageScheduleUpdatedEvent that starts th e VerifyCargosForVoyageJob (the Job part is not important, it just p

[2018-01-25 12:34] domenkogler opened #422 "ReflectionHelper.CompileMethodInvocation"
Bug report

http://docs.geteventflow.net/Aggregates.html#events states that Appy method _can_ be `private`, but `private` **Apply** methods throws `ArgumentException` in AggregateRoot static constructor.

Pull request solves this issue https://github.com/eventflow/EventFlow/pull/421

[2018-01-25 19:00] rasmus commented on #422
Released in 0.53.3204

[2018-01-25 19:00] #422 closed

[2018-01-25 19:14] rasmus commented on #418
@wgtmpeters If you need any additional information from within a saga, you could simply take in the any required services in the constructor along with the saga ID and use these in the saga handlers.

We could also expand the `ISagaContext` to container a `IResolver`, it would make it possible for each developer to chose their style (some like services via the constructor and others prefer request

[2018-02-01 13:16] #418 closed

[2018-02-01 13:17] wgtmpeters commented on #418
@rasmus  thank you for your help. Right now we have solved this by injecting domain Services into the Saga.

[2018-02-02 07:42] xiedeyou opened #423 "Some questions about the implementation of the DDD"
1、is the entity a value object?Must the entity need Identity?
eg:  order is a aggregate ,orderline is a entity. i think orderline Identity is not required.

2、ISqlReadModelStore how to find multiple readmodel?

[2018-02-02 14:44] wgtmpeters opened #424 "Sagas trigger without domainEvent"
I have a question about how to Trigger some Process in a Saga depending on some Timed Event.
In our case Some time in the future some Command should be send, ideally we want this to also be triggered from the Saga.
Is there a way to awaken the Saga somehow at the moment by a Cron job / timer?

Otherwise the only clean solution I think would be a domainService that handles this part Without being c

[2018-02-03 17:50] rasmus commented on #423
1) If you follow DDD then you distinguish to different entities from each other by their IDs. If the ID is the same, then its the same object. In your example an order line may simply be a value object, i.e., inherit from `ValueObject`. EventFlow `Entity` is also a value object and one could argue that the equality comparison should only be on the ID and not all of its attributes.

2) The actual q

[2018-02-03 18:04] rasmus commented on #424
@wgtmpeters EventFlow doesn't currently support invoking sagas without a domain event.

At work we have discussed how to handle "something needs to happen at this time" in our domain and typically they have fallen into two different categories.

- Part of the domain, e.g. listing is about to expire. In these cases it has made sense to trigger the event via a command from some domain services that

[2018-02-03 18:08] rasmus commented on #424
Also, as sagas by default are aggregates, you could update a saga simply use `IAggregateStore.UpdateAsync` to update it. You would need to invoke `PublishAsync` on the saga yourself to get any commands published.

[2018-02-03 21:55] wgtmpeters commented on #424
@rasmus do you mean sending a Command to a AggregateRoot which would result in the ExpirationRequest Event for that the saga handles?

Or manually creating a DomainEvent without sending a Command first?

[2018-02-04 14:06] xiedeyou commented on #423
if order line is a ValueObject,So it doesn't need ID。
I think the entity is ValueObject and Contain ID  is contradictory.

Thank you for your answer to the second questions.

[2018-02-08 04:33] idubnori opened #426 "[Question] Not found the GettingStartedExample test method in GettingStarted document."
I cound not find out `GettingStartedExample` test method on `master` / `develop` branches.
Anybody could let me know? Thank you in advance.

[Getting Started](http://docs.geteventflow.net/GettingStarted.html#getting-started)

[2018-02-08 07:09] rasmus commented on #426
The example was moved to the documentation repo, I'll get the docs updated https://github.com/eventflow/Documentation/blob/master/Source/EventFlow.Documentation/GettingStarted/ExampleTests.cs

[2018-02-08 07:30] rasmus commented on #426
put in a crude link for now

[2018-02-08 10:34] idubnori commented on #426
Thank you! I could Get Started in a real sense.

[2018-02-08 19:16] #426 closed

[2018-02-20 07:27] cykelbud opened #427 "Questions about readmodel update"
I've been looking at your lib and it looks very nice :)

But I have some difficulties trying to create a readmodel for an aggregate containing a list of entities, using the extension lib EventFlow.MsSql.

My aggregate contains a property that is a list of an entity (lets say 3 items).

I'm trying to create a readmodel that uses the entity-Id as identityColumn, so that I can easily get entities for

[2018-02-20 19:37] rasmus commented on #427
@cykelbud EventFlow uses [Dapper](https://github.com/StackExchange/Dapper) behind the scenes to write MSSQL read models to the database and AFIK having properties that are lists isn't possible.

I sounds link you might want to have a look at how the [`MsSqlThingyMessageReadModel`](https://github.com/eventflow/EventFlow/blob/develop/Source/EventFlow.MsSql.Tests/IntegrationTests/ReadStores/ReadModel

[2018-02-23 16:50] wgtmpeters opened #429 "ObjectDisposed Errors ASP.Net core 2.0"
I followed the examples which describe how to start ASP.Net 2.0 core application with the Autofac Container.
We are doing this:
           // Add framework services.
            services.AddMvc();

            var containerBuilder = new ContainerBuilder();
            EventFlowOptions.New
                .UseAutofacContainerBuilder(containerBuilder)
                .AddDefaults(typeof(EventFlowAss

[2018-02-24 16:39] wgtmpeters commented on #429
I think it has something todo with the memoryCache that is used.

            var storeAggregateSagaAsync = await GetUpdateAsync(
                sagaDetails.SagaType,
                cancellationToken)
                .ConfigureAwait(false);

This GetUpdateAsync uses a memoryCache for the call to the Saga and it seems that everytime this cached function is used the Resolver is disposed.

Will try

[2018-02-24 18:09] rasmus commented on #429
@wgtmpeters If you want to disable memory caching on reflection objects, simply register your own implementation of `IMemoryCache` that doesn't do anything.

[2018-02-24 18:10] rasmus commented on #429
There is a difference in EventFlow when using the .NET 4.5.1 assembly and using .NET standard. It might be the cause.

https://github.com/eventflow/EventFlow/blob/develop/Source/EventFlow/EventFlowOptions.cs#L224

[2018-02-24 20:21] wgtmpeters commented on #429
I will try to register one with no caching, will this have noticeable impact on performance?

[2018-02-24 20:37] wgtmpeters commented on #424
@rasmus if you have any ideas what you would expect the direct awakening of saga should look like maybe I will do a implementation of it.

[2018-02-25 00:39] wgtmpeters commented on #429
It does work when I remove the In MemoryCache.
Have also tried with the MemoryCache version which you have for dotnet 4.5.1 (migrated to Microsoft.Extensions.Caching.Memory) but that has the same issue.

return Task.FromResult<Func<ISagaId, ISourceId, Func<ISaga, CancellationToken, Task>, CancellationToken, Task<IReadOnlyCollection<IDomainEvent>>>>(
                        (id, sid, u, c) => (Task

[2018-02-25 00:51] wgtmpeters opened #430 "JobPublisher exception on Deserilization of command"
I am trying to use the JobScheduler to schedule a PublishCommandJob, how ever when it tries to deserialize the command to send it throws an error:
00:44:02:472 [Error]: Execution of job 'PublishCommand' v1 failed! -
Newtonsoft.Json.JsonSerializationException: Could not create an instance of type EventFlow.Core.ISourceId. Type is an interface or abstract class and cannot be instantiated. Path 'Sour

[2018-02-25 19:14] rasmus commented on #430
@wgtmpeters I think that's because you have the interface `ISourceId` in the constructor your your command. Create a simple test and verify that you can create an instance of your command, serialize it to JSON and then deserialize it again. You could use the `SourceId` (class) instead of `ISourceId` (interface) in your command class constructor.

[2018-02-25 19:19] rasmus commented on #429
@wgtmpeters I don't know about the performance hit as I haven't done any tests. Caching of reflection results in EventFlow wasn't done because I observed any performance problems, but because its recommended. My gut feeling is that you shouldn't be worried, but I don't know.

If you do have some relative numbers from a production system, let me know. I don't own the services that use EventFlow at

[2018-02-25 20:06] rasmus commented on #429
@wgtmpeters I created a test that can reproduce it in #429

[2018-02-25 20:13] rasmus commented on #429
@wgtmpeters Found the bug, will release a fix asap

[2018-02-25 21:53] rasmus commented on #424
@wgtmpeters I doesn't sound too complicated and may help cleanup some of the saga code base. I'll give it a give it a go tomorrow.

[2018-02-25 22:01] rasmus commented on #429
Fixed in 0.54.3261

[2018-02-25 22:01] #429 closed

[2018-02-25 22:14] wgtmpeters commented on #429
Thank you for the quick followup

[2018-02-26 23:47] domenkogler opened #433 "Atomic event persistance and publishing"
Persisting events and publishing shoud be an atomic operation. This is hard to acieve; it needs two phase commit, distibuted transactions or some other techniques like MassTransit Courier with RoutingSlips - for my project i will use last option since I will use MassTransit anyway.

For now this two operations should be as close as possible, therefore i propose moving domain events publishing from

[2018-02-27 18:22] rasmus commented on #433
@domenkogler You can't move it as the event store doesn't have any concepts of command results, You removed the [aggregateUpdateResult.Result.IsSuccess](https://github.com/eventflow/EventFlow/pull/432/files#diff-71df9f46b0ac19de16880fd1b52b7a42L146) check. If a developer returns a failed command results, no events be committed or publish

[2018-02-27 18:42] domenkogler commented on #433
Publish is now triggered inside [aggregate.CommitAsync](https://github.com/eventflow/EventFlow/pull/432/files#diff-71df9f46b0ac19de16880fd1b52b7a42R125) that is heuristically impossible to reach if developer returns failed command, because of [this return statement](https://github.com/eventflow/EventFlow/pull/432/files#diff-71df9f46b0ac19de16880fd1b52b7a42R120).

I followed simple principle: if ev

[2018-02-27 18:46] rasmus commented on #424
@wgtmpeters Have a look at PR #435. You would be able to use the simplified `ISagaStore.UpdateAsync` to update sagas without any domain events, e.g. via a trigger

[2018-02-27 18:59] rasmus commented on #433
But the events aren't committed at that point, yes, the in-memory aggregate is updated but the events aren't committed to the event store until line [125 in that file](https://github.com/eventflow/EventFlow/pull/432/files#diff-71df9f46b0ac19de16880fd1b52b7a42R125). Events aren't committed if the command result is unsuccessful and they aren't published either with the current implementation, which

[2018-02-27 19:08] domenkogler commented on #433
Yes exactly, we are talking the same thing. And this is exactly the same also with my implementation. Events are published [here](https://github.com/eventflow/EventFlow/pull/432/commits/170ecb894b62271d94fe74f8b9ee57636c722ea2#diff-74b115a777344065c5c095b1b9273680R119), **after** persisting them.

[2018-02-27 19:14] rasmus commented on #433
@domenkogler Ah, sorry. You are right and it makes sense. It still changes behavior as any sub-subsequent commits to the event store or any other places that could throw `OptimisticConcurrencyException` would trigger another update of this original aggregate.

[2018-02-27 19:20] domenkogler commented on #433
I am not sure I understand what is the problem with `OptimisticConcurrencyException`. In case of that exception events are not commited or published, so eventual consistency is still there.

[2018-03-01 00:03] HistoricallyCorrect opened #436 "Separate Mssql connection string, one for UseMssqlReadModel, the other for UseMssqlEventStore"
This project looks awesome and I'm doing a PoC and hopefully will migrate some of the features to using this project where we need auditability, approval and change management abilities utilizing the natural power cqrs+es.

I'm trying to use two databases one for read model (which I'm writing to existing tables), one for event store (want a separate db for separation of concerns). It doesn't seem

[2018-03-01 18:19] rasmus commented on #436
It isn't currently possible. As you said, you'll have to do some IoC fiddling, i.e., either decorate the implementation or inherit from the current MSSQL read model store implementation and use a different interface that inherits from `IMsSqlConnection` and pass that along.

Its been requested before and makes sense to be able to configure it.

[2018-03-01 18:43] rasmus commented on #433
@domenkogler A bit more detailed

1. Command A is published which triggers that event A1 is emitted from aggregate A
1. Event A1 is committed to the event store
1. Subscriber B subscribes to event A1 and publishes command C
1. Command C triggers event C is emitted from aggregate C
1. A optimistic concurrency exception happens five times as aggregate C is under heavy update
1. Event C is *not* comm

[2018-03-01 21:05] domenkogler commented on #433
First of all, thank you for really detailed explanation. I understand exactly what you are trying to explain to me.
I now see that the way this framework is implemented it is not ment to be for microservices.
But keep up the excellent work!

[2018-03-01 21:59] rasmus commented on #433
@domenkogler EventFlow is indeed intended for micro services, especially web based APIs (e.g. no background worker threads, everything is done within the same async context) and we use EventFlow at eBay in our micro services

[2018-03-01 22:14] domenkogler commented on #433
But is has major flaw! It assumes that service is never put down unexpectedly and has no recovery mechanism for this scenario. For me that is the critical part of microservice.

During `IDomainEventPublisher.PublishAsync` method is just too much exposure for losing consistency.

[2018-03-01 22:32] wgtmpeters commented on #424
@rasmus  look good to me.
Why are you not using the SagaStore as BaseClass for SagaAggregateStore ? You are only using it for the Test Alternative Saga Store.

[2018-03-03 12:32] HistoricallyCorrect commented on #436
Thanks for the reply and suggestions.

[2018-03-04 19:51] lefig opened #437 "Excellent work"
Not an issue, just a thank you

[2018-03-05 01:50] HistoricallyCorrect commented on #437
Same here, thank you. Excellent work!

[2018-03-05 10:51] rasmus commented on #437
@lefig and @HistoricallyCorrect thanks, best issue ever 😄

[2018-03-06 04:29] rasmus opened #439 "Crash resilience"
If the application using EventFlow shuts down unexpectedly, e.g. due to a power failure, EventFlow will lose consistency between what is committed to the event store and what is applied to read models and subscribers as any in-memory updates will be lost.

While any commands published (passed to `ICommandBus.PublishAsync`) but hasn’t yet resulted in any committed events to the event store are also

[2018-03-06 04:32] rasmus commented on #433
@domenkogler Good input. Sorry for the late reply. I have opened issue #439, if you have any input and/or ideas, please post them there. I'll close this issue as moving the invocation of the publisher won't do any difference as the code path stays virtually the same.

[2018-03-06 04:32] #433 closed

[2018-03-06 04:33] rasmus commented on #437
While I do like the issue, I'll close it to make the issue list more readable 😃

[2018-03-06 04:33] #437 closed

[2018-03-06 04:38] rasmus commented on #424
@wgtmpeters You are absolutely correct, just a slip of my mind. Thanks for going though the PR. I have created #440 to fix it

[2018-03-06 10:12] identify1980 opened #441 "Dependency Injection for Command Handlers"
Given scenario: in my web application the current user is resolved by my (AutoFac) IoC-Container, so that I can simply put the type "CurrentUser" as a dependency, wherever I need it. Aggregates may only be modified by the user, who owns the aggregate. The owner is stored, when the aggregate is created first. Every later modification may only happen, if the current user equals to the aggregate owne

[2018-03-06 20:05] wgtmpeters commented on #439
My team is also looking into situation's like this and
I believe it would be pretty hard to ensure for every possible crash situation.
Would using asynchronous subscribers not loose the order in which the subscribers are called?
Right now we are sure that the ReadModel Subscribers have been called before any others.

Transaction log you mean that each subscriber has to ACK that it has processed th

[2018-03-06 20:33] rasmus commented on #389
Seems related to this https://tpodolak.com/blog/2017/10/12/net-core-calculating-code-coverage-opencover-windows/

[2018-03-06 21:14] rasmus commented on #439
@wgtmpeters We haven't detected any abnormalities in our production setup that could be traced back to this. However, our production setup is rather stable and not prone to unexpected host crashes or application termination and we carefully drain all servers of web requests before upgrading.

I do think the issue is important, as it will allow me to sleep better at night 😄 (and it makes sense)

Fo

[2018-03-06 21:21] rasmus commented on #441
@identify1980 command handlers and aggregates are resolved via the IoC container, Autofac in your case. You should be able to merely put the required services into the command handler/aggregate constructor and get the instances.

Tests that verify IoC on aggregates are in the [`AggregateFactoryTests`](https://github.com/eventflow/EventFlow/blob/develop/Source/EventFlow.Tests/IntegrationTests/Aggre

[2018-03-06 21:22] domenkogler commented on #433
In my project i will ensure eventual consistency using MassTransit (RabbitMQ) [Courier](http://masstransit-project.com/MassTransit/advanced/courier/) with RoutingSlips and "At least once delivery" with handling more than once delivery. If you are interested in accepting this external dependency i can prepare PR. PR #432 was just step one for this solution.

[2018-03-06 22:19] wgtmpeters commented on #439
Persistence of the event and the transaction log would then to have  be in the same logical commit right?

And you would need to extend the existing eventstore implementations to also be able to handle this. Could be as simple as a flag indicator per event if It has been published.

But how to handle this the eventstore eventstore package?
As a side Q: Do you consider the Eventstore. Eventstore pa

[2018-03-07 06:50] #389 closed

[2018-03-07 18:38] #441 closed

[2018-03-23 09:11] rasmus opened #443 "Code coverage update"
Check if any use as an alternative to the current setup.

https://www.hanselman.com/blog/AutomaticUnitTestingInNETCorePlusCodeCoverageInVisualStudioCode.aspx

[2018-03-28 15:52] wgtmpeters opened #444 "AggregateException: Collection Was Modified"
Hi,

We are trying to setup a test that in parallel will trigger updates on the same aggregate roots.
This will obviously give a number a OptimisticConcurrency retries which is fine.
But sometimes we also see the following stack trace:
stem.AggregateException: One or more errors occurred. (Collection was modified; enumeration operation may not execute.) (Collection was modified; enumeration operat

[2018-03-31 19:56] rasmus commented on #444
@frankebersoll thanks, its easter holidays and I haven't been coding

[2018-04-18 13:19] edwardwilson opened #449 "Use Microsoft.Extensions.DependencyInjection inplace of inbuilt Container"
I believe it would be good to use the standard IoC developed for the .netcore eco system (but is supported in existing systems). This will allow uses to change their choice of IoC easier in the future as most major offerings support the Extensions.dependencyInjection library.

[2018-04-22 15:47] ludydoo opened #450 "How to retreive all read models?"
Hi,

How is it possible in EventFlow to create a query that returns all read models of a certain type?

[2018-04-23 21:16] ludydoo opened #451 "Recommendations for creating readmodels for multiple aggregates"
What is the recommended way of defining readModels that are a projection of multiple aggregate types?

E.g. ReadModels that are populated by events coming from two different aggregate types.

[2018-04-24 06:19] tabro opened #452 "SingleValueObject<T> doesnt support Enums as T"
When defining new domain model types, I often use the SingleValueObject<T>.
It turns out that I cannot use Enum's as T since it does not implement IComparable.

This leads to ToString()'ing and parsing back to the Enum when reading. This is tedious and not very pretty :)

[2018-04-24 17:44] rasmus commented on #451
Have a look at the [`MultipleAggregateReadStoreManagerTests`](https://github.com/eventflow/EventFlow/blob/develop/Source/EventFlow.Tests/IntegrationTests/ReadStores/MultipleAggregateReadStoreManagerTests.cs), they should show how to setup read models for multiple aggregates.

[2018-04-24 17:45] rasmus commented on #451
The [documentation](http://docs.geteventflow.net/ReadStores.html) seems to be missing the information.

[2018-04-24 17:48] rasmus commented on #450
Querying read models is left to developers, there isn't any build-in functionality to return all read models. But if its MSSQL, simply do a `SELECT *` with some batching. It might be a good candidate for the  `IAsyncEnumerable` is finalized it.

[2018-04-24 19:55] #452 closed

[2018-04-24 19:59] rasmus commented on #424
Fixed in release 0.55.3323

[2018-04-24 19:59] #424 closed

[2018-04-24 19:59] rasmus commented on #443
Codecov integration working again

[2018-04-24 19:59] #443 closed

[2018-04-24 20:01] rasmus commented on #449
There's a PR for that #445

[2018-04-24 20:26] rasmus commented on #306
Done

[2018-04-24 20:26] #306 closed

[2018-04-25 05:41] #444 closed

[2018-04-25 12:14] AronTn opened #455 "Can't use EventFlow.Mssql whith Asp.net Core 2.0"

[2018-04-25 20:08] poumup commented on #294
Hi i want to use EventFlow in production environment. I have 100000 events for one aggregate. But it's to slowly.
Do you know a way to improve performance?
I have implement snapshop but it is to slowly too. Is it better to use EventStore ?

[2018-04-30 18:01] rasmus commented on #294
@poumup I have been thinking about what to do and currently there isn't an easy solution. If you haven't already imported all events to EventFlow, you might want to create a custom mapper in a custom application that can take your existing events and map them to EventFlow JSON metadata format. The format should be [fairly straightforward](http://docs.geteventflow.net/GettingStarted.html#example-ap

[2018-04-30 21:40] rasmus commented on #455
Sorry for the delay, there were some instability with the tests. Its released now as of v.57.3359

[2018-05-01 06:09] AronTn commented on #455
Nice ! :) Thank you @rasmus !

[2018-05-01 06:12] AronTn opened #457 "Does EventFlow support multi-tenancy?"

[2018-05-01 06:41] rasmus commented on #457
@AronTn EventFlow doesn't impose any restrictions on how aggregates are created, managed or accessed. So if you want e.g. some security features that ensures that one tenant doesn't access another tenant's aggregates, then you'll have to e.g. decorate the event store, command bus or/and aggregate store to validate access.

Personally I would go for a micro service approach instead to ease upgrade

[2018-05-02 10:01] TarekMansour opened #458 "Architecture graph/ photo"
Is there any **graph architecture** or a photo that resume EventFlow how it’s work and its life cycle?

[2018-05-08 08:41] rasmus opened #459 "Add SourceLink"
Use SourceLink to improve debugging experience with EventFlow.

https://github.com/dotnet/sourcelink

[2018-05-08 12:06] wgtmpeters commented on #439
Are there still plans to do something with this issue? We are going to create something for this as well. When we have a concept ready I wil update this issue. We will try and come up with a solution that fits into eventflow core

[2018-05-08 19:38] rasmus commented on #439
@wgtmpeters Currently no plans, any suggestions and/or PRs would be greatly appreciated

[2018-05-11 13:41] ghost opened #460 "Aggregate independent commands"
Hi there,

is it possible to send and handle commands that are not related to a aggregate?

As ICommand<Aggregate, …> and ICommandHandler<Aggregate, …> both require aggregate types, it seems impossible.

Sincerely,

Nolde

[2018-05-12 17:48] rasmus commented on #460
Commands are currently only for aggregates in EventFlow. If you want to use commands for something else you could take a look at [https://github.com/BrighterCommand/Brighter](Brighter)

[2018-05-13 12:45] HistoricallyCorrect opened #462 "AggregateSaga.Publish(new MyCommand()) does not actually publish the command."
I've been using AggregateSaga to implement an orchestration between aggregates. The code is as below. I found an issue where using `AggregateSaga.Publish(new MyCommand())`, the command never gets published. [Here's the method](https://github.com/eventflow/EventFlow/blob/e0f60416d3598117aa8c2c2dc706d42604eedbd1/Source/EventFlow/Sagas/AggregateSagas/AggregateSaga.cs#L60). So currently I have to inje

[2018-05-13 14:48] HistoricallyCorrect commented on #462
Found another issue related to saga (maybe it's my understanding and or usage), that

1. Saga -(publishes)-> MyCommandOfOtherAggregate to MyOtherAggregate
2. MyOtherAggregate -(emits)-> MyOtherEvent
3. Saga -(handles)-> MyOtherEvent

3 doesn't actually happen at the moment, HandleAsync of MyOtherEvent in Saga never gets invoked.

[2018-05-13 17:31] rasmus commented on #462
The problem is in the [`SagaAggregateStore`](https://github.com/eventflow/EventFlow/blob/develop/Source/EventFlow/Sagas/AggregateSagas/SagaAggregateStore.cs#L80). It's a scenario I didn't think of when implementing the saga aggregate store. However, it does seem like a bug as it doesn't do what you expect (or I expected without reading the code).

If you are in the context of a saga, you should be

[2018-05-13 23:29] HistoricallyCorrect commented on #462
Thanks to both @wgtmpeters and @rasmus.

My understanding of the term Saga in the context of EventFlow (or Domain Driven Design) carries a different meaning than in the context of Message Driven Architecture.

Saga as I understand it is an orchestrator between different messages, so there is a single place to reason about the workflow between messages as well as providing a management of states of

[2018-05-14 08:04] wgtmpeters commented on #462
I agree that Saga's should only emit Events for saving state.
The default implementation of Saga's in EventFlow is also done by making them EventSources and use the already existing AggregateRoot implementation.
This however does make it a bit easy sometimes do to things that might not be really good Eventsourcing design.
Like using Saga events as domainEvents in your system, while in fact these s

[2018-05-14 17:09] crazynolde commented on #460
Thanks a lot for your quick reply.

In general i'm happy with aggregate bound commands.

But aside of those, i have to deal with some work that does not refer to aggregates. So I am looking for a solution based on event flow, as this is the framework of my choice and i do not want to have a second command execution framework in my application.

Maybe there's an implementation scenario for such a r

[2018-05-14 17:36] rasmus commented on #462
@HistoricallyCorrect As you pointed out, the fact that the current saga store implementation in EventFlow uses event sourcing shouldn't have any effect on the saga design pattern, i.e., if a saga emits no events any commands should still be published.

As @wgtmpeters pointed out, there are some pitfalls making sagas aggregate roots. While it does provide a nice clean and familiar event source func

[2018-05-14 19:15] rasmus commented on #458
Closing as there's no response

[2018-05-14 19:15] #458 closed

[2018-05-14 19:19] rasmus commented on #459
No support for .NET standard 😢

[2018-05-14 19:48] #462 closed

[2018-05-15 17:26] crazynolde commented on #460
That's maybe related to issue 181
https://github.com/eventflow/EventFlow/issues/181

[2018-05-16 15:09] minhhungit commented on #294
@rasmus thank you for your attempt 💛
honestly I have not work with evenflow in a long time, I will review it asap.

[2018-05-16 19:43] rasmus commented on #460
I would make sense to loosen up the restrictions a bit. I do try make sure that EventFlow doesn't impose too many limits on how you would like to implement your domain.

[2018-05-16 20:08] wgtmpeters commented on #460
We have a maybe a another use case in combination with sagas.

Right now we sometimes use direct updates on the sagas using the new method you expose on the sagastore. However these are all use cases in which we would rather send a command to the Saga in the same way as we send them to Aggregates.

[2018-05-18 09:08] rasmus opened #465 "Support Kafka"
Until Docker integration testing is ready (#425), maybe setup a free plan using https://www.cloudkarafka.com/plans.html

Use https://github.com/confluentinc/confluent-kafka-dotnet as its the recommended client from Microsoft.

[2018-05-18 17:08] rasmus commented on #460
So basically there would be three different cases the command bus would handle

1. Commands for aggregates (find handler, pass aggregate via the update on aggregate store)
1. Commands for sagas (find handler, pass saga via the update on saga store)
1. Commands for everything else (find handler, execute)

[2018-05-18 17:09] rasmus commented on #460
For the important part is that a clear implementation can be found, one that doesn't have to "forced" into the code base.

[2018-05-28 17:57] rasmus opened #467 "EventStore .NET standard support"
Add .NET standard support to the existing EventFlow EventStore package.

https://github.com/EventStore/ClientAPI.NetCore

[2018-05-28 18:08] rasmus commented on #423
Hi @xiedeyou although Entity inherits from `ValueObject`, its equality is calculated based on only the ID.

See here
https://github.com/eventflow/EventFlow/blob/develop/Source/EventFlow/Entities/Entity.cs#L48

[2018-05-28 18:09] rasmus commented on #427
Closed due to lack of activity

[2018-05-28 18:09] #427 closed

[2018-05-28 18:09] rasmus commented on #430
No activity suggests that a solution was found, closing

[2018-05-28 18:09] #430 closed

[2018-05-28 18:11] rasmus commented on #450
No activity suggest that a solution was found. You could have a look at PR #464 on how to iterate through all read models using MSSQL (the event loading part)

[2018-05-28 18:11] #450 closed

[2018-05-28 18:11] rasmus commented on #457
Closing due to lack of activity

[2018-05-28 18:11] #457 closed

[2018-05-28 18:13] rasmus commented on #451
Created issue in the documentation repo

[2018-05-28 18:13] #451 closed

[2018-05-28 18:14] rasmus commented on #352
Almost a year old an no additional information or followup. Closing issue 😢

[2018-05-28 18:14] #352 closed

[2018-05-28 18:14] rasmus commented on #413
😢

[2018-05-28 18:27] rasmus commented on #36
Will open again when (and if) there's a suggestion for specific changes

[2018-05-28 18:27] #36 closed

[2018-05-29 05:53] Brandon2255p commented on #413
Sorry!
I have tested it again and it seems fine.. I am really confused as to what happened previously.
Will re-open if I see it again

[2018-05-29 06:58] rasmus commented on #413
@Brandon2255p perfect, thanks.

[2018-05-29 06:58] #413 closed

[2018-06-01 08:41] rasmus opened #469 "Is EventStore support production ready?"
Can I remove the "only for test (for now)" for EventStore in the README.md?

#### tl;dr

The current implementation of EventStore was something I made as a PoC and thus I haven't personally verified the implementation in a production environment.

This is a call-out to anyone either currently using the implementation or someone experienced in working with EventStore to verify that the implementati

[2018-06-03 00:11] volak commented on #469
I just use EventStore - the code looks alright except you don't need to use transactions here: https://github.com/eventflow/EventFlow/blob/4420e2eb3a026b9badc900006d807f5d41416c56/Source/EventFlow.EventStores.EventStore/EventStoreEventPersistence.cs#L135

They are only used to write multiple times in batches and can be slower than just doing `AppendToStreamAsync` like normal.

In my library I used

[2018-06-04 08:56] LUKE-JNS opened #470 "Lets bring EventFlow to the next level"
Hi,
first of all thanks for a great job with this project! I am looking for a codebase that we can use for a new project in my company. Core domain gonna be implement based on DDD ideas, rest of the code we would like to be CQRS. We were looking for some projects and EventFlow is close to what we expect. So we decided to try it.
We start with some PoC project to check if EventFlow is production re

[2018-06-04 13:21] rmess commented on #414
@rasmus Did you complete the PostgresSQL Support ?

[2018-06-04 13:24] wenkepaul commented on #414
@rmess , yes, but I didn't write the unit tests yet.
https://github.com/ptwenke/EventFlow

[2018-06-04 14:43] rmess commented on #414
Thank you,
I'm currently working on my own version too and I have some issues with the unit tests on the snapshots coverage part.

`System.IO.FileLoadException : Could not load file or assembly 'Npgsql, Version=3.2.6.0, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7' or one of its dependencies. The located assembly's manifest definition does not match the assembly reference. (Exception from HRES

[2018-06-04 15:55] wenkepaul commented on #414
@rmess , I'll take a look at your tests tonight.

[2018-06-04 17:04] rasmus commented on #469
@volak Thanks for the input, I'll remove the comment and create a PR with the transaction removed

[2018-06-04 17:52] rasmus commented on #470
Hi @LUKE-JNS thanks for the feedback and I agree. While we already use EventFlow at eBay for several of our micro services, getting these done will make EventFlow more "complete".

For migrating data I started on it in the event streaming PR #464. Have a look at the `ImportEvents` and see if it suits your needs.

If your team has the time to commit to individual features, simply ping the issue or

[2018-06-04 19:10] rasmus commented on #414
Let me know if you need anything

[2018-06-04 23:19] wenkepaul commented on #414
@rmess what branch are your working on?

[2018-06-05 09:16] LUKE-JNS commented on #470
Thanks @rasmus for your reply. The main question is whether you see the usefulness of the listed functionalities and whether they fits your project vision. If so we can cooperate and make a PR to the main repo, if not, we can fork. I would also like to know if you are doing something or planning to do with the improvements that I have linked and listed.

[2018-06-05 12:06] rmess commented on #414
implement-postgre-backend

[2018-06-05 12:23] ppumkin commented on #158
@mattgi Did you ever work this out? I am looking for the same thing as you and struggling to find any examples.

[2018-06-05 18:36] rasmus commented on #158
@mattgi There isn't any complete guide for that specific setup. You'll have to piece together the configuration from the documentation and as there's not (yet) any support for .NET Core IoC, you'll have to use e.g. Autofac. But as Microsoft recommends changing the IoC container away from the default, you might as well choose Autofac.

For the rest is basically a lot of calls to extension methods o

[2018-06-05 18:37] rasmus commented on #158
From [Microsoft docs](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/dependency-injection?view=aspnetcore-2.1)

i.e., you should use another container solution

[2018-06-05 18:56] rasmus commented on #470
Hi @LUKE-JNS, the feature list you listed matches very well with what I put in the milestone for 1.0 draft and those that isn't in the milestone should be added. I haven't been very active the last few weeks, but I will startup again as EventFlow will be used for a larger project at work.

As what you listed matched very well with what I would like to see added, I would like the changes to go into

[2018-06-05 18:57] ppumkin commented on #158
@rasmus that document was last updated 2016 ... netcore has been to everest and back since then, twice.
I have actually used the example that is in source for aspnetcore and that seems to work.

This is first time in netcore i had to use another container other than the shipped one.. and we have tons of services in production working just fine. I get it... this project was started way before all t

[2018-06-06 01:21] mattgi commented on #158
I did get things all working - had to fork a few things like the eventstore library and rebuild it, targeting core instead of standard, but for the mostpart it was easy enough once I remembered how to 'dot net'.

In the end we moved to TypeScript/Node due to the ease of dealing with JSON. We also use a lot of redux-like stuff in the client so a single event sourced solution in TypeScript worked be

[2018-06-06 12:43] ppumkin opened #472 "System.NullReferenceException: 'Object reference not set to an instance of an object.'"
Yes.. that amazing .NET message we all love.

_Just background from me. I am a seasoned C# Dev but I am learning CQRS (and DDD) and first time using EventFlow - I am a complete newbie and zero exposure to any of this so fresh eyes_

This is an exception handling issue caused by a small mistake. I am using the `EventFlow.Examples.Shipping` project as the base for my project.

To reproduce:

`EventF

[2018-06-06 17:39] rasmus commented on #472
Hi @ppumkin if you didn't initialize the state field, then the problem is that you are registering a null value for state.

![image](https://user-images.githubusercontent.com/18956/41055326-404890ea-69c1-11e8-9ff7-d32c94aeea91.png)

Maybe the `AggregateRoot<,,>.Register(...)` should throw an `ArgumentNullException` to helpout.

[2018-06-06 17:50] rasmus commented on #472
I'll mark it as a question and create a PR that validates the arguments. Let me know if you disagree.

[2018-06-06 17:55] ppumkin commented on #472
Excellent 🥇

[2018-06-06 18:08] rasmus commented on #158
@mattgi good to hear. If you have any specific problems, please create issues either here or in the documentation repo. While I might not always have the time to do everything, its still good to know whats lacking.

As for the .NET Core support for EventStore, there's a PR for that #468

[2018-06-06 18:09] Ilchuk-Mihail opened #474 "How to globally register event store and set use this event store ?"
I want to register global configurations like the Startup.cs file. How can I do it?
Or is it unnecessary and I can just push connection string directly into class ?

[2018-06-06 18:10] rasmus commented on #474
Have a look at the [getting started guide](http://docs.geteventflow.net/GettingStarted.html#getting-started).

[2018-06-06 18:17] Ilchuk-Mihail commented on #474
I can't find the answer here.
Should I be looking at configuration with Ioc container?

Can I do it in a standart .net core Ioc ?

[2018-06-06 18:30] rasmus commented on #474
Then I'm not sure what king to global configuration you are talking about.

If its for MSSQL, then its in the MSSQL documentation here http://docs.geteventflow.net/MSSQL.html

If its for general EventFlow settings, its documented here http://docs.geteventflow.net/Configuration.html

[2018-06-06 19:00] Ilchuk-Mihail commented on #474
I mean so that not to write this every time:
[code]

But to set it once for entire aplication.

[2018-06-06 19:32] rasmus commented on #474
No, you'll have to either use the resolver from `CreateResolver()` or use e.g. the Autofac EventFlow binding

[2018-06-06 20:44] rasmus commented on #470
Did a crude PoC of the MSSQL schema creation in #476

[2018-06-06 21:14] #469 closed

[2018-06-07 09:28] rmess commented on #414
@wenkepaul  @rasmus my version is pushed. Did you saw it ?

[2018-06-07 11:48] Ilchuk-Mihail opened #478 "Azure Cosmos DB support"

[2018-06-07 12:47] rasmus commented on #478
@Ilchuk-Mihail Nothing yet

[2018-06-07 13:52] Ilchuk-Mihail commented on #478
@rasmus I found.
We can start with using this https://docs.microsoft.com/en-us/azure/cosmos-db/mongodb-introduction
Azure Cosmos DB has support of Mongo DB API  :)

[2018-06-07 17:23] Ilchuk-Mihail opened #480 "Real example needed"
Please add some real example using this framework, like snapshots, read mode etc.

The information about snapshots is to short and not clear  how to implement.

[2018-06-07 17:40] jasonchester commented on #478
One downside to using CosmosDB via the Mongo API vs. the DocumentDB api is that you lose support for reading from the Cosmos Change Feed.

Perhaps https://github.com/ASOS/SimpleEventStore would be a good starting place for adding cosmosdb support?

[2018-06-07 17:54] rasmus commented on #480
There is one, have a look at the shipping example within the code base

[2018-06-07 18:04] rasmus commented on #478
Maybe use the [Docker version](https://docs.microsoft.com/en-us/azure/cosmos-db/local-emulator#running-on-docker) for integration testing

[2018-06-07 18:33] #467 closed

[2018-06-08 08:05] Ilchuk-Mihail commented on #480
Where? I see only this documentation http://docs.geteventflow.net/Snapshots.html  and that is not enough for me. Maybe you have any example.

Thanks.

[2018-06-08 08:30] Ilchuk-Mihail commented on #480
[code]

How I can get  the current aggregate state ?
and Create a UserSnapshot, Load the UserSnapshot
?

[2018-06-09 10:45] rasmus commented on #480
Have a look at the tests in EventFlow, especially the [ThingyAggregate](https://github.com/eventflow/EventFlow/blob/develop/Source/EventFlow.TestHelpers/Aggregates/ThingyAggregate.cs).

[2018-06-09 10:46] rasmus commented on #480
The shipping example is referenced from the read-file and consists of these projects in the code base.

![image](https://user-images.githubusercontent.com/18956/41190635-208577fe-6be3-11e8-94a8-d908d2175176.png)

[2018-06-12 17:45] frankebersoll opened #484 "Scoped instances not working in Query Handlers"
**TL;DR:** QueryProcessor is singleton and uses caching, Query Handlers don't get scoped instances (e.g. DbContext with http request lifetime).

In #445 I added some tests to reproduce an issue where using a scoped instance from an `IQueryHandler` crashes: ASP.NET Core uses scopes for each request and `AddDbContext<TContext>()` registers the Entity Framework context as scoped instance, so it will

[2018-06-12 20:06] frankebersoll opened #485 "Specific column "EventName""
All SQL implementations use serialized metadata to store the event name. While this is certainly enough to replay events, during development, I often need to look into the database to figure out what happened and it would be so much nicer if I was able to distinguish events by name.

- Benefits / performance impact / additional size?
- Could we add this "on demand", so people don't have to migrate

[2018-06-12 20:13] frankebersoll commented on #260
I have a working implementation for Entity Framework 6 persistence and read models.

- Would people use this (our company does)?
- EF6 / EF Core / Why not both?

[2018-06-12 20:26] robbihun opened #486 "Schema ignored for read models."
Given the following read model, I would expect the system to insert data into a table `rmo.MyModels`; however, it is inserting into the default schema and not the defined schema.

[code]

[2018-06-12 20:31] robbihun opened #487 "Question: Read Model Removed"
Given a type of event, "MyThingRemovedFromSchedule" and a read model that lists all of the "MyThings" for a Schedule how would one remove a "MyThing" from the read model?

[2018-06-12 21:07] wgtmpeters commented on #260
We are actually interested in this as well. Maybe you can get a branch up and running. If there is any help needed I might contribute as well.

[2018-06-13 18:32] rasmus commented on #260
I have received a few requests on it by mail as well

[2018-06-13 18:37] rasmus commented on #487
Currently there isn't a built-in way of deleting read models in EventFlow. It doesn't have much though, simply create a [subscriber](http://docs.geteventflow.net/Subscribers.html) that listens on `MyThingRemovedFromSchedule` and then call [`IReadModelPopulator.DeleteAsync(...)`](https://github.com/eventflow/EventFlow/blob/develop/Source/EventFlow/ReadStores/IReadModelPopulator.cs#L46).

[2018-06-13 18:39] rasmus commented on #486
Problem is in the [`ReadModelSqlGenerator` line 164](https://github.com/eventflow/EventFlow/blob/develop/Source/EventFlow.Sql/ReadModels/ReadModelSqlGenerator.cs#L164)

[2018-06-13 18:40] rasmus commented on #486
Thanks for reporting

[2018-06-13 21:40] robbihun commented on #487
Thanks! would you recommend this approach for not using the built-in read model mechanism? Say the project already has an EF model they're using as a read model - would you use basic subscribers with EF injected in to create/update the data?

[2018-06-14 00:20] robbihun commented on #487
Yeah, I see how the is deleted would work fine. I think my main hang up is when I think of ES read models, I shouldn't have to do a lot of joining or filtering, the data should be optimized for display.

We typically have a lot of EF6 with plans to move to core at some point. I'm really just playing with the EventFlow framework to get my head around how it works and looking at how it might fit som

[2018-06-14 17:04] wenkepaul commented on #414
@rmess , I'll be able to take a look tomorrow night.

[2018-06-14 17:52] rasmus commented on #487
Instead of executing subscribers you could use [asynchronous subscribers](http://docs.geteventflow.net/Subscribers.html#asynchronous-subscribers) and have then executed using e.g. Hangfire

[2018-06-14 18:17] rasmus commented on #485
We have the same in the event source system that doesn't use EventFlow (created before EventFlow) and is indeed convenient.

As its merely a "display" field for when viewing, we could just add a default null column.

[2018-06-15 04:06] frankebersoll commented on #487
Please try what I built in #489, it should remove exactly one read model instance (the one that is handling the current event).

[2018-06-15 09:02] sygnowskip commented on #480
@Ilchuk-Mihail take a look on my proof of concept with EventFlow: https://github.com/sygnowskip/event-flow-example/tree/feature/multiple-aggregates

There is something like a "shopping" process, firstly you are creating an order, adding products, starting payment and finishing order.

[2018-06-15 09:46] sygnowskip commented on #470
@rasmus what is current status of https://github.com/eventflow/EventFlow/pull/245 ?

This PR will allow us to reapply missing events on read models, but what with a case when some exception occurs in Saga (during communication between two aggregates) and first aggregate is in different state then the second one?

For example:
I have an OrderAggregate and PaymentAggregate. OA is request for a payme

[2018-06-15 10:17] rasmus commented on #470
@sygnowskip I had hoped to finish it this week, but early next week seems more realistic. My evenings have been filled with non-EventFlow stuff all week.

If you need to do edits to aggregates without using commands, then you can use `IAggregateStore.UpdateAsync(...)`

As for handling exceptions in sagas, you could implement `ISagaErrorHandler` with any specific handling you need. The [default](ht

[2018-06-15 10:26] rasmus opened #493 "Reference Autofac 3.x for net451 package"
Autofac 4.x is referenced currently as its required for .NET standard. But we could reference a lower version for the .NET framework package.

[2018-06-15 11:06] sygnowskip commented on #470
@rasmus

Normal flow:
PaymentAggregate -> Event: PaymentCompleted -> OrderSaga -> Command: CompleteOrder -> OrderAggregate

Flow with exception:
PaymentAggregate -> Event: PaymentCompleted -> OrderSaga (EXCEPTION)

Is there any possibility to reapply `PaymentCompleted` event and excute `CompleteOrder` in `OrderAggregate`? Or how could I achieve that?

[2018-06-17 17:27] rasmus opened #494 "Create a contributers.md"
The amount of developers putting their time into EventFlow is increasing and they need to be recognized.

[2018-06-17 18:08] #486 closed

[2018-06-18 06:19] anthonyhuebers commented on #414
We are waiting for this functionality. Is there any prospect when this is going to be released?

[2018-06-18 06:43] rasmus commented on #414
Hi @anthonyhuebers there is. If you have experience in working with PostgreSQL you can help out with the final tests in PR #479

[2018-06-18 07:00] rasmus commented on #487
Released in 0.60.3490

[2018-06-18 07:01] rasmus commented on #3
Released in 0.60.3490

[2018-06-18 07:01] #3 closed

[2018-06-18 07:01] rasmus commented on #472
Released

[2018-06-18 07:01] #472 closed

[2018-06-18 07:11] frankebersoll commented on #485
For MSSQL, I have a workaround where I use [JSON_VALUE](https://docs.microsoft.com/de-de/sql/t-sql/functions/json-value-transact-sql?view=sql-server-2017) in a View - no need for duplicated data.

[2018-06-19 13:58] hvidgaard commented on #274
Regardless of speed, SimpleInjector is my prefered DI container for new projects. It is however hard to integrate it properly due to the opinionated nature of it. After deciphering EventFlow structure and sources for a day and beginning to understand basic parts of it, I'm willing to give it a shot. But what is the intended extensibility point for a new DI container? Is it `IServiceRegistration `a

[2018-06-19 18:55] rasmus commented on #274
@hvidgaard if you're working with .NET Core you would wait a bit and use the support for `Microsoft.Extensions.DependencyInjection`. Does SimpleInjector support that? If so, you wouldn't have to do anything

[2018-06-19 18:59] rasmus commented on #274
For examples on how to do an implementation, see the [built-in](https://github.com/eventflow/EventFlow/tree/develop/Source/EventFlow/Core/IoC) (for test only) or have a look at the Autofac implementation (might be the easiest).

EventFlow provides a test suite named `TestSuiteForServiceRegistration` that you can use to verify an implementation, its part of the `EventFlow.TestHelpers` NuGet package

[2018-06-20 06:57] hvidgaard commented on #274
@rasmus It certainly is fairly simple to integrate with the `Microsoft.Extensions.DependencyInjection` interface. Maybe I'll wait for that, but it is a case of comforming container. I've tried to implement `IServiceRegistration` and the `Resolver` interfaces and run the tests from the Autofac test project. However, especially the `IServiceRegistration` is written to fit Autofac (and with good reas

[2018-06-21 10:51] sygnowskip commented on #470
@LUKE-JNS PR with support for .NET Core is already merged: https://github.com/eventflow/EventFlow/pull/445

[2018-06-25 05:54] #493 closed

[2018-06-25 11:02] sygnowskip commented on #480
@rasmus what do you think about moving my code (it need's a little clean up) as an example to the EventFlow repository?

[2018-06-25 11:40] davile opened #498 "Autodocumentation generated in dot graph format"
Add a way to generate dot graph summary for particular bounded context.
This would give a way to visualize structure of bounded context, what aggregates there are, how they communicate with each other, how sagas work etc.

Small sample is available here: https://github.com/dotnet-state-machine/stateless#export-to-dot-graph
for Stateless state machine.
dot graph info: https://en.wikipedia.org/wiki/

[2018-06-26 01:56] ArieJones commented on #485
@frankebersoll this would be the most efficient way and would actually be a handy implementation to have on the existing schema structure with alternate database tech supplying their own view logic...eg MySQL would use JSON_EXTRACT.

[2018-06-26 02:10] ArieJones commented on #459
You may want to relook at this... as from this item it appears that they do support .net standard [https://github.com/dotnet/sourcelink/issues/95](url)
and I believe that standard and core are aligned now.. per http://immo.landwerth.net/netstandard-versions/#

[2018-06-26 06:59] rasmus commented on #498
Started a PoC a while back in PR #376

[2018-06-26 07:02] rasmus commented on #480
@sygnowskip If you are up for maintaining it, we can move it to the EventFlow org and you would get write access to that repo. There's a lot of projects already in the "main" repo and I would like to limit the amount to projects that result in NuGet packages. My current idea is to consider splitting the main repo into multiple parts after a 1.0 release is done, i.e., when it API for the internal p

[2018-06-26 07:03] rasmus commented on #459
Thanks! I'll have a look

[2018-06-26 07:44] sygnowskip commented on #480
@rasmus I didn't know that there is some kind of "private / organisation" repository for EventFlow. I just wanted to put a more complex example to the repository, because I've also few conceptual problems at the beginning of use of EventFlow. But, if those things from currently private organisation repository will be published to the users in the future, there is probably no need to put my example

[2018-06-26 08:43] rasmus commented on #480
It isn't private, its the org that the main repo resides, here https://github.com/eventflow

My proposal was to move your example to a new repo called `Examples`  in https://github.com/eventflow

[2018-06-26 13:47] wgtmpeters commented on #260
@frankebersoll  Do you have any plans for setting up branch for this? We would really like to use this as well.

[2018-06-26 16:46] coding4food opened #499 "Read model locator question"
Constructor of `MultipleAggregateReadStoreManager` requires instance of type implementing `IReadModelLocator`. When I register my read model with `EventFlowOptionsReadStoresExtensions.UseReadStoreFor<TReadStore, TReadModel, TReadModelLocator>`/` EventFlowOptionsReadStoresExtensions.UseInMemoryReadStoreFor<TReadModel, TReadModelLocator>` it does not register `TReadModelLocator` type in container. T

[2018-06-26 18:05] rasmus commented on #499
Hi @coding4food its by design. EventFlow doesn't know how to construct your type or even their lifetime. While both might be trivial is most cases there are sometimes they are not, e.g. a locator could be singleton or transient or created using some lambda method.

[2018-06-27 07:06] frankebersoll commented on #260
@wgtmpeters Are you using EF Core or EF6? Could you briefly explain, how you would expect to use EventFlow together with Entity Framework? What DB do you use?

[2018-06-27 09:00] coding4food commented on #499
I see, that's a valid point. Probably EventFlow could provide some default registrations for missing types or we could later override them with specific lifetimes of factories.

[2018-06-28 19:24] wgtmpeters commented on #260
@frankebersoll we are using EF core in combination with Postgres.

[2018-06-28 22:32] wgtmpeters opened #502 "Readmodel DomainEvent with list of entities"
In all examples so far I only see readmodel with simple properties.
How would you normalize a domainevent that contains for example a list of entities that are part of the Aggregate?
I would expect those to end up like separate readmodels, one for each entity, however we only have one DomainEvent.
The queryhandlers would return only one by entity id or all entities for a specific aggregate Identit

[2018-06-28 23:14] frankebersoll commented on #502
Read Models and Aggregates are different things. You can use them 1:1, but there might be cases where you have many read models for a single aggregate instance or one read model instance that receives events of different aggregates.

Read model registration methods have an overload with an additional generic parameter, where you can specify an `IReadModelLocator` implementation. This defines only

[2018-06-29 20:04] wgtmpeters commented on #502
That is what I understand from the example but the example in the documentation is actually simply about an event with UserNicknameAdded which will only yield 1 ReadmodelId back.

But what about the example where a domain events has a list of Entities and I yield return each of those.
I can understand that for each a new readmodel is created and applied with the event but how do I then know which

[2018-06-30 09:05] frankebersoll commented on #502
@wgtmpeters Can you give an example? I think it's easier to reason about when we have a concrete example.

@rasmus Is there a reason why we set the read model ID only after applying events? I know of at least one application of ours that actually makes assumptions that ID == default in the Apply method means "I am a new read model" while ID != default means "I am being updated".

[2018-06-30 10:29] wgtmpeters commented on #502
In the existing code this is used for a event ThingyMessageAdded Event and we now assume we have a event hat adds multiple messages at once.
Ok lets assume we have a new DomainEvent for the ThingyAggregate and a locator.
And a SQLiteThingyMessageReadModel.

[code]
I would then have to assume that the MessageId is already set when the event is applied.
So far it looks like this depends on the actua

[2018-07-01 09:51] frankebersoll commented on #502
I have created PR #506 which adds new properties to the `ReadModelContext`, this should help in your scenario. Setting an ID property on the read model itself (regardless of before or after applying events) seems to be an implementation detail of the respective store - the simplest store (InMemory) doesn't even do it, as it uses external keys in a dictionary.

[2018-07-01 10:00] wgtmpeters commented on #502
Makes sense that it is part of the injected context. It should be the same for all, not depending on the readstore that is used.

This will help, maybe we should use this example in the documentation as well.

[2018-07-01 10:36] rasmus commented on #502
@wgtmpeters and @frankebersoll thanks for the analysis. Any differences in the implementations is simply because I forgot or didn't think of. The read model part of EventFlow could do with a thorough inspection as we at eBay only use the functionality very limited and thus isn't something I use that often.

[2018-07-01 17:57] rasmus commented on #499
I don't think EventFlow ever will try to register any types not directly part of the framework and personally I wouldn't expect any framework to do it for me either. The IoC in EventFlow is merely a bridge to the IoC in your application for the interface EventFlow types, while its possible to use the service registration provided by EventFlow, I would suggest using the more powerful functionality

[2018-07-01 19:20] coding4food commented on #499
OK, thank you for clarification.

[2018-07-01 19:20] #499 closed

[2018-07-05 18:20] rasmus commented on #499
Please, if you have any other questions or have any references to your use case, let me know.

[2018-07-12 07:20] sygnowskip opened #508 "No definition for type 'TEvent', have you remembered to load it during EventFlow initialization"
Hi,
something is probably broken in library at this moment. Previously, in my example app I've used default dependency injection for .NET Core (I've copied the source to my application, because it was in PR). Now, it's released as NuGet package (https://www.nuget.org/packages/EventFlow.DependencyInjection/) so I've removed the copied source code from my application and installed that package via N

[2018-07-12 08:39] sygnowskip commented on #508
Ok, I find out what is going on and why that's not working, there was a little breaking change :smile:

I need to install `EventFlow.AspNetCore` and add `.AddAspNetCoreMetadataProviders()` to registration in `Startup.cs`, now it's working.

[2018-07-12 08:40] #508 closed

[2018-07-23 05:04] afandylamusu opened #511 "EventFlow.MsSql doesn't create ReadModel table"
Hi,

I'm using .NetCore sdk 2.1.
This is my Fixture class

`public class UnitTestFixture: IDisposable
    {
        public IServiceProvider SP { get; }

        public void Dispose()
        {
        }

        public UnitTestFixture()
        {
            var services = new ServiceCollection();

            services.AddCoreServices();

            var container = new ContainerBuilder();